<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">MD5&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.2/src/kdeaccessibility-4.0.2.tar.bz2">kdeaccessibility-4.0.2</a></td><td align="right">6.1MB</td><td><tt>4210d931a224332632ae660a66654d1c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.2/src/kdeadmin-4.0.2.tar.bz2">kdeadmin-4.0.2</a></td><td align="right">1.3MB</td><td><tt>fd66db92d498d636793c0a22da64b7b8</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.2/src/kdeartwork-4.0.2.tar.bz2">kdeartwork-4.0.2</a></td><td align="right">41MB</td><td><tt>f8d7197a0e3ef2b4276ad16f20ce6639</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.2/src/kdebase-4.0.2.tar.bz2">kdebase-4.0.2</a></td><td align="right">4.2MB</td><td><tt>19cb1996626417f2bf23e9bcbd7dbf00</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.2/src/kdebase-runtime-4.0.2.tar.bz2">kdebase-runtime-4.0.2</a></td><td align="right">47MB</td><td><tt>28d979899554d731e20d4b88b44092ae</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.2/src/kdebase-workspace-4.0.2.tar.bz2">kdebase-workspace-4.0.2</a></td><td align="right">29MB</td><td><tt>5818874c6b0c2b958ebcace77206e412</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.2/src/kdebindings-4.0.2.tar.bz2">kdebindings-4.0.2</a></td><td align="right">3.8MB</td><td><tt>b04fd41f4ec6cb023e209ff91f44d836</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.2/src/kdeedu-4.0.2.tar.bz2">kdeedu-4.0.2</a></td><td align="right">41MB</td><td><tt>6cd2774d04c953d46cfb7a90c3668a84</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.2/src/kdegames-4.0.2.tar.bz2">kdegames-4.0.2</a></td><td align="right">23MB</td><td><tt>861e95f08997b132e7169c6e2fc374ac</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.2/src/kdegraphics-4.0.2.tar.bz2">kdegraphics-4.0.2</a></td><td align="right">2.4MB</td><td><tt>9866b7e242f72dc1fddb10aa806bcda9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.2/src/kdelibs-4.0.2.tar.bz2">kdelibs-4.0.2</a></td><td align="right">8.7MB</td><td><tt>4456adf94796a61c869c0803f7746bf9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.2/src/kdemultimedia-4.0.2.tar.bz2">kdemultimedia-4.0.2</a></td><td align="right">1.1MB</td><td><tt>7685cfc0dd37fbc9dd33ae63cbdcad12</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.2/src/kdenetwork-4.0.2.tar.bz2">kdenetwork-4.0.2</a></td><td align="right">6.1MB</td><td><tt>1c617829a80c38e3b4ccf8465db44da9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.2/src/kdepimlibs-4.0.2.tar.bz2">kdepimlibs-4.0.2</a></td><td align="right">1.7MB</td><td><tt>4d158d6b0fd44a9521b1a7c0fcc8315c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.2/src/kdesdk-4.0.2.tar.bz2">kdesdk-4.0.2</a></td><td align="right">4.1MB</td><td><tt>3df98798a677844b4d2d4772ca73f112</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.2/src/kdetoys-4.0.2.tar.bz2">kdetoys-4.0.2</a></td><td align="right">2.2MB</td><td><tt>7de239fb21f6e4027a144a700d987fbf</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.2/src/kdeutils-4.0.2.tar.bz2">kdeutils-4.0.2</a></td><td align="right">2.3MB</td><td><tt>866362824da7c7cd698763a6d8379b26</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.2/src/kdewebdev-4.0.2.tar.bz2">kdewebdev-4.0.2</a></td><td align="right">1.2MB</td><td><tt>b95117a70c74f72473cdd2744bdb2769</tt></td></tr>
</table>
