<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/amor-4.10.95.tar.xz">amor-4.10.95</a></td>
   <td align="right">171kB</td>
   <td><tt>b95e99dd53f9c290d8c7f384e780c20225760cde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/analitza-4.10.95.tar.xz">analitza-4.10.95</a></td>
   <td align="right">176kB</td>
   <td><tt>dfb52b7364b1b9742d375edebee35a9e614b2c52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/ark-4.10.95.tar.xz">ark-4.10.95</a></td>
   <td align="right">224kB</td>
   <td><tt>bb8d4fc983622e62bd4df80c4e0d47222f97a31f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/audiocd-kio-4.10.95.tar.xz">audiocd-kio-4.10.95</a></td>
   <td align="right">50kB</td>
   <td><tt>364b04122b894e21cadbceeb0a20615d2905bc86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/blinken-4.10.95.tar.xz">blinken-4.10.95</a></td>
   <td align="right">547kB</td>
   <td><tt>1d353f10cf0a9d84a9271835d3a187fdf4e5178a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/bomber-4.10.95.tar.xz">bomber-4.10.95</a></td>
   <td align="right">378kB</td>
   <td><tt>613f0212c6d6a5f5a67d556e8703540e7c74d51d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/bovo-4.10.95.tar.xz">bovo-4.10.95</a></td>
   <td align="right">99kB</td>
   <td><tt>f3df5432eb73bf4a8f19424055e872a0a6d680e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/cantor-4.10.95.tar.xz">cantor-4.10.95</a></td>
   <td align="right">295kB</td>
   <td><tt>ddf07723fe0a23507ea4f4ac717e70d39e4c3960</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/cervisia-4.10.95.tar.xz">cervisia-4.10.95</a></td>
   <td align="right">361kB</td>
   <td><tt>be3d9009b3846da0621fb2bc522580278232ca47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/dolphin-plugins-4.10.95.tar.xz">dolphin-plugins-4.10.95</a></td>
   <td align="right">54kB</td>
   <td><tt>61c71503edd9431d355a331c690988e0e30f51b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/dragon-4.10.95.tar.xz">dragon-4.10.95</a></td>
   <td align="right">381kB</td>
   <td><tt>7b481116933f8f49203f32898925646938a60b2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/ffmpegthumbs-4.10.95.tar.xz">ffmpegthumbs-4.10.95</a></td>
   <td align="right">19kB</td>
   <td><tt>a1bab60a626f800f56ae0646b038df7ed5c7fb0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/filelight-4.10.95.tar.xz">filelight-4.10.95</a></td>
   <td align="right">280kB</td>
   <td><tt>899be96f4012dbb00b7ea7b545a5f26c00bc0575</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/granatier-4.10.95.tar.xz">granatier-4.10.95</a></td>
   <td align="right">1.3MB</td>
   <td><tt>7cb22e550d7abad0ff8dca08f552d7f5963fc0df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/gwenview-4.10.95.tar.xz">gwenview-4.10.95</a></td>
   <td align="right">2.7MB</td>
   <td><tt>64d69336ebf750109432be8bc4b16b67b51d5506</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/jovie-4.10.95.tar.xz">jovie-4.10.95</a></td>
   <td align="right">369kB</td>
   <td><tt>048da8eda79f5037ff9177558a3b38edad40ebf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/juk-4.10.95.tar.xz">juk-4.10.95</a></td>
   <td align="right">418kB</td>
   <td><tt>11a95cac02dd7d859511db61817ccb8f93a7a116</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kaccessible-4.10.95.tar.xz">kaccessible-4.10.95</a></td>
   <td align="right">19kB</td>
   <td><tt>099f18d2e2b7cdc4c8ebaefb8c3fbe77d4913095</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kactivities-4.10.95.tar.xz">kactivities-4.10.95</a></td>
   <td align="right">84kB</td>
   <td><tt>f2898db6b9d4ec74c703c3e351b05b70fefea2d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kajongg-4.10.95.tar.xz">kajongg-4.10.95</a></td>
   <td align="right">2.3MB</td>
   <td><tt>5602cd67d87edff91b735791b4ed32ef02223cc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kalgebra-4.10.95.tar.xz">kalgebra-4.10.95</a></td>
   <td align="right">269kB</td>
   <td><tt>e19672ed1eea6cae876c1dcda7e8f2dfe4b0e86f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kalzium-4.10.95.tar.xz">kalzium-4.10.95</a></td>
   <td align="right">3.7MB</td>
   <td><tt>bb2443231b1a643cb8fdf4dbbd02311f08ab94ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kamera-4.10.95.tar.xz">kamera-4.10.95</a></td>
   <td align="right">34kB</td>
   <td><tt>2a9f47cb9c46ac690be79883546f19d2d588121a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kanagram-4.10.95.tar.xz">kanagram-4.10.95</a></td>
   <td align="right">1.0MB</td>
   <td><tt>927d860790eaee1a182d9bf814a569cc134dd81a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kapman-4.10.95.tar.xz">kapman-4.10.95</a></td>
   <td align="right">1.7MB</td>
   <td><tt>df5105ffbea01f8f6b1238186a705a9c4e365b55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kapptemplate-4.10.95.tar.xz">kapptemplate-4.10.95</a></td>
   <td align="right">681kB</td>
   <td><tt>60e2d57e7a4d3fb11d913c990dcff5310117e1ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kate-4.10.95.tar.xz">kate-4.10.95</a></td>
   <td align="right">2.4MB</td>
   <td><tt>60978753cf500b09a7727d09c80b166a6b0483f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/katomic-4.10.95.tar.xz">katomic-4.10.95</a></td>
   <td align="right">642kB</td>
   <td><tt>fe4af586a367f8ac26c9db24ec818abcde917749</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kblackbox-4.10.95.tar.xz">kblackbox-4.10.95</a></td>
   <td align="right">251kB</td>
   <td><tt>7c0e2504314a86ac4ee5c89a95a9272f42644256</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kblocks-4.10.95.tar.xz">kblocks-4.10.95</a></td>
   <td align="right">1.1MB</td>
   <td><tt>7fc1dd5e55ed2edb4fb4a2db0ed8ef38da15e6ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kbounce-4.10.95.tar.xz">kbounce-4.10.95</a></td>
   <td align="right">1.5MB</td>
   <td><tt>65da3823049076e210e2d7e552b88d07de0194a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kbreakout-4.10.95.tar.xz">kbreakout-4.10.95</a></td>
   <td align="right">1.3MB</td>
   <td><tt>05528819ad5fe482f0d0ee711a86e1079e67420a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kbruch-4.10.95.tar.xz">kbruch-4.10.95</a></td>
   <td align="right">877kB</td>
   <td><tt>68c1128771998d2bc827a5909910a12ce456279e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kcachegrind-4.10.95.tar.xz">kcachegrind-4.10.95</a></td>
   <td align="right">229kB</td>
   <td><tt>1505433a78561958f260b0fade67becdc5189b51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kcalc-4.10.95.tar.xz">kcalc-4.10.95</a></td>
   <td align="right">78kB</td>
   <td><tt>a03765e4e703e43e3ecc2826c689d53be684e746</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kcharselect-4.10.95.tar.xz">kcharselect-4.10.95</a></td>
   <td align="right">82kB</td>
   <td><tt>7ee9c3dc290ca2c35e88f3e4b39acf3963bca8d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kcolorchooser-4.10.95.tar.xz">kcolorchooser-4.10.95</a></td>
   <td align="right">4kB</td>
   <td><tt>ff10674462b056c38e562f66be9973219fc6ea15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kcron-4.10.95.tar.xz">kcron-4.10.95</a></td>
   <td align="right">170kB</td>
   <td><tt>014efa30048038520168ec7012eeb911ceff0ddd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kdeartwork-4.10.95.tar.xz">kdeartwork-4.10.95</a></td>
   <td align="right">136MB</td>
   <td><tt>3a42a929b14974ca1a30b4a9bfb69672d31c982c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-baseapps-4.10.95.tar.xz">kde-baseapps-4.10.95</a></td>
   <td align="right">2.3MB</td>
   <td><tt>4f636a8ba7948337c6c39938f18b86c4455fa060</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-base-artwork-4.10.95.tar.xz">kde-base-artwork-4.10.95</a></td>
   <td align="right">7.0MB</td>
   <td><tt>b7e22625f0753f416cf490756fd0aa32e3902c2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-dev-scripts-4.10.95.tar.xz">kde-dev-scripts-4.10.95</a></td>
   <td align="right">249kB</td>
   <td><tt>c41dd0b6c9e84930c0a8a7363823e3def0311c09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-dev-utils-4.10.95.tar.xz">kde-dev-utils-4.10.95</a></td>
   <td align="right">50kB</td>
   <td><tt>94f9b0ca0af641cac737360d5a28b71b995951f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kdegraphics-mobipocket-4.10.95.tar.xz">kdegraphics-mobipocket-4.10.95</a></td>
   <td align="right">19kB</td>
   <td><tt>7e4f7afe71925ceba53f2e3a01d717c5f4aadc33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kdegraphics-strigi-analyzer-4.10.95.tar.xz">kdegraphics-strigi-analyzer-4.10.95</a></td>
   <td align="right">39kB</td>
   <td><tt>cb863ed48e5824fe51013f2169bb8e9c9769427d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kdegraphics-thumbnailers-4.10.95.tar.xz">kdegraphics-thumbnailers-4.10.95</a></td>
   <td align="right">40kB</td>
   <td><tt>82870f628d2ee6f85f7bf0040d48faf05d9c7a8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kdelibs-4.10.95.tar.xz">kdelibs-4.10.95</a></td>
   <td align="right">11MB</td>
   <td><tt>9cedda99b4a11b8d06ca5ae627e9bdf9136503e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kdenetwork-filesharing-4.10.95.tar.xz">kdenetwork-filesharing-4.10.95</a></td>
   <td align="right">26kB</td>
   <td><tt>ab3f3e98f21d4c90f2b9d45a96fa86961bea6da9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kdenetwork-strigi-analyzers-4.10.95.tar.xz">kdenetwork-strigi-analyzers-4.10.95</a></td>
   <td align="right">14kB</td>
   <td><tt>22c5b3dcdcb8c853dd30921540daea5c741472c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kdepim-4.10.95.tar.xz">kdepim-4.10.95</a></td>
   <td align="right">12MB</td>
   <td><tt>acc6e30d71da6325e28e9e3ec0f9d32ad9e7aa9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kdepimlibs-4.10.95.tar.xz">kdepimlibs-4.10.95</a></td>
   <td align="right">2.6MB</td>
   <td><tt>4bbf4b8e557a25ee39e67de3f1154629580f9062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kdepim-runtime-4.10.95.tar.xz">kdepim-runtime-4.10.95</a></td>
   <td align="right">1.1MB</td>
   <td><tt>c7501e246741aa53c8e9ba70bd5685249df5293b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kdeplasma-addons-4.10.95.tar.xz">kdeplasma-addons-4.10.95</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a3f96ca49c152984900d89b21380164aaa881199</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-runtime-4.10.95.tar.xz">kde-runtime-4.10.95</a></td>
   <td align="right">7.5MB</td>
   <td><tt>cdc9d25ffa4e6758a1f2c37105df0dd5c4e531db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kdesdk-kioslaves-4.10.95.tar.xz">kdesdk-kioslaves-4.10.95</a></td>
   <td align="right">352kB</td>
   <td><tt>1f9ac2f4a12c0419d64b1e21dbc46c3d69796ab3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kdesdk-strigi-analyzers-4.10.95.tar.xz">kdesdk-strigi-analyzers-4.10.95</a></td>
   <td align="right">17kB</td>
   <td><tt>895765d4edf5e23461e626903f6048088a71fa23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kdesdk-thumbnailers-4.10.95.tar.xz">kdesdk-thumbnailers-4.10.95</a></td>
   <td align="right">11kB</td>
   <td><tt>b1530866d6b866b65972a9e4521b302b702a303f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-wallpapers-4.10.95.tar.xz">kde-wallpapers-4.10.95</a></td>
   <td align="right">86MB</td>
   <td><tt>bda272f3a4a02b2e2e5d486ee2ca51b8e5286f44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kdewebdev-4.10.95.tar.xz">kdewebdev-4.10.95</a></td>
   <td align="right">2.4MB</td>
   <td><tt>824a15cee2f87dd9b6188df5efcaa9bd64620079</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-workspace-4.10.95.tar.xz">kde-workspace-4.10.95</a></td>
   <td align="right">13MB</td>
   <td><tt>d22025066d3b4e70c0f2f13f50c3330c4df5edf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kdf-4.10.95.tar.xz">kdf-4.10.95</a></td>
   <td align="right">145kB</td>
   <td><tt>4052ceb63e7c5f6553c2fdb5e69bad3f93b1daf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kdiamond-4.10.95.tar.xz">kdiamond-4.10.95</a></td>
   <td align="right">3.9MB</td>
   <td><tt>ecc8464e9bf3c890c783eedfc58960bbf751968f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kdnssd-4.10.95.tar.xz">kdnssd-4.10.95</a></td>
   <td align="right">25kB</td>
   <td><tt>3cdcd892f949bc624959b983e7890b4ef81e78a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kfloppy-4.10.95.tar.xz">kfloppy-4.10.95</a></td>
   <td align="right">51kB</td>
   <td><tt>c2794d2f8aea6ac7b3ad608624a63ec1334b5082</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kfourinline-4.10.95.tar.xz">kfourinline-4.10.95</a></td>
   <td align="right">273kB</td>
   <td><tt>95c97d82c09236b93705b15033b47182bb147dbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kgamma-4.10.95.tar.xz">kgamma-4.10.95</a></td>
   <td align="right">22kB</td>
   <td><tt>e23f476f67cf6f75dabbf90c0ca07e54549c3491</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kgeography-4.10.95.tar.xz">kgeography-4.10.95</a></td>
   <td align="right">6.4MB</td>
   <td><tt>463604a7e8bfdedd6fa84a65575bd16d114e82ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kget-4.10.95.tar.xz">kget-4.10.95</a></td>
   <td align="right">1.0MB</td>
   <td><tt>6b48d8abf34ade934ecb6e8e802126bfbef12f7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kgoldrunner-4.10.95.tar.xz">kgoldrunner-4.10.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>6dc34426db9ff9210b8195d0baed1fd558132cc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kgpg-4.10.95.tar.xz">kgpg-4.10.95</a></td>
   <td align="right">782kB</td>
   <td><tt>eab9b52b994befd8fa32632b24456d16d6417c5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/khangman-4.10.95.tar.xz">khangman-4.10.95</a></td>
   <td align="right">3.7MB</td>
   <td><tt>9b6009df37eb41c0e65962338c9d5e93928a78e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kig-4.10.95.tar.xz">kig-4.10.95</a></td>
   <td align="right">1.4MB</td>
   <td><tt>220c1ea4972316adbc1ba4acb0f6ae0b4ed5a67a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kigo-4.10.95.tar.xz">kigo-4.10.95</a></td>
   <td align="right">1.2MB</td>
   <td><tt>3192b88184c8c59ba51338947bcc4ad408a82448</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/killbots-4.10.95.tar.xz">killbots-4.10.95</a></td>
   <td align="right">938kB</td>
   <td><tt>545703add9688a80ce00490165fb3f25e32d4357</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kimono-4.10.95.tar.xz">kimono-4.10.95</a></td>
   <td align="right">916kB</td>
   <td><tt>cc26884802f1eb8d52e4bd73448bfb621345f865</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kiriki-4.10.95.tar.xz">kiriki-4.10.95</a></td>
   <td align="right">115kB</td>
   <td><tt>051ea6360a307d4e458a9c7d1d22dd6af315171f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kiten-4.10.95.tar.xz">kiten-4.10.95</a></td>
   <td align="right">11MB</td>
   <td><tt>c77bd1883b5c77989655d74e1ac8c0e72cadf098</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kjumpingcube-4.10.95.tar.xz">kjumpingcube-4.10.95</a></td>
   <td align="right">160kB</td>
   <td><tt>c2afd2ae8da34e917a762e513638ea2a0088bc18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/klettres-4.10.95.tar.xz">klettres-4.10.95</a></td>
   <td align="right">2.5MB</td>
   <td><tt>d7bf56abbce2c6b127cf9eb74a2645868ecc5e01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/klickety-4.10.95.tar.xz">klickety-4.10.95</a></td>
   <td align="right">765kB</td>
   <td><tt>679c108a68df321fe63de357a2a0a9e4a4001778</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/klines-4.10.95.tar.xz">klines-4.10.95</a></td>
   <td align="right">927kB</td>
   <td><tt>ca76f837e29337923f3b49603e0296d1a2cb6776</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kmag-4.10.95.tar.xz">kmag-4.10.95</a></td>
   <td align="right">84kB</td>
   <td><tt>83e34431f29b58695df472467d6e9b8f412556e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kmahjongg-4.10.95.tar.xz">kmahjongg-4.10.95</a></td>
   <td align="right">981kB</td>
   <td><tt>71ab4c7aecb853712a14518da2fc3d1ff90d4d81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kmines-4.10.95.tar.xz">kmines-4.10.95</a></td>
   <td align="right">636kB</td>
   <td><tt>7dc5bd6fcda157a010fe1eed2eb893c71ac63274</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kmix-4.10.95.tar.xz">kmix-4.10.95</a></td>
   <td align="right">371kB</td>
   <td><tt>858ee46ed58f0f7b641da62ebf1d594264f6ebe3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kmousetool-4.10.95.tar.xz">kmousetool-4.10.95</a></td>
   <td align="right">35kB</td>
   <td><tt>eb73106c8361019bc28f92e2db5fe96ead83a90c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kmouth-4.10.95.tar.xz">kmouth-4.10.95</a></td>
   <td align="right">301kB</td>
   <td><tt>e01018b6f2e4941c447e1320a332e757e8b93d63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kmplot-4.10.95.tar.xz">kmplot-4.10.95</a></td>
   <td align="right">645kB</td>
   <td><tt>b4b557532b3274fb905f6c180b1a79203b0bd0fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/knavalbattle-4.10.95.tar.xz">knavalbattle-4.10.95</a></td>
   <td align="right">829kB</td>
   <td><tt>2ce3bbc706e2cf6ae560afb2191952599342b9e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/knetwalk-4.10.95.tar.xz">knetwalk-4.10.95</a></td>
   <td align="right">764kB</td>
   <td><tt>778282ddffa2a7642a68f5f641979afc09e522fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kolf-4.10.95.tar.xz">kolf-4.10.95</a></td>
   <td align="right">750kB</td>
   <td><tt>104569a484990f7f8767518d5047e2814e419b89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kollision-4.10.95.tar.xz">kollision-4.10.95</a></td>
   <td align="right">202kB</td>
   <td><tt>46bb929e5959664e40888aef7276809b4ebd2542</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kolourpaint-4.10.95.tar.xz">kolourpaint-4.10.95</a></td>
   <td align="right">1.1MB</td>
   <td><tt>72a867a8d121f042ae4d0f83daf7ab27297bb602</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kompare-4.10.95.tar.xz">kompare-4.10.95</a></td>
   <td align="right">366kB</td>
   <td><tt>916fbba3ab9431488fbdc10a9b23329371d7a9ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/konquest-4.10.95.tar.xz">konquest-4.10.95</a></td>
   <td align="right">399kB</td>
   <td><tt>ad0bd2a4c3e851395844b1e7cb7ec9591a988684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/konsole-4.10.95.tar.xz">konsole-4.10.95</a></td>
   <td align="right">438kB</td>
   <td><tt>068b117b4f5dbd04afe78a02d58860fb3b000313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kopete-4.10.95.tar.xz">kopete-4.10.95</a></td>
   <td align="right">6.1MB</td>
   <td><tt>317f0411e0aa58cf8d8fe88a320c8deef8dd14cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/korundum-4.10.95.tar.xz">korundum-4.10.95</a></td>
   <td align="right">156kB</td>
   <td><tt>8e909f62bd6a306fe6d4d1bf0751339f96dca9e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kpat-4.10.95.tar.xz">kpat-4.10.95</a></td>
   <td align="right">2.9MB</td>
   <td><tt>5efc949cdfa2e79327f2868dc3675e81e780f0dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kppp-4.10.95.tar.xz">kppp-4.10.95</a></td>
   <td align="right">684kB</td>
   <td><tt>395514e5f11d4f873aa38cb9487fbf3eb8bb49ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/krdc-4.10.95.tar.xz">krdc-4.10.95</a></td>
   <td align="right">385kB</td>
   <td><tt>975b557445aca8654343fe790d232c5d0711a40b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kremotecontrol-4.10.95.tar.xz">kremotecontrol-4.10.95</a></td>
   <td align="right">1.0MB</td>
   <td><tt>7ecdf0649354c347612120ada8659cfb70921dde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kreversi-4.10.95.tar.xz">kreversi-4.10.95</a></td>
   <td align="right">381kB</td>
   <td><tt>8fa6590a0b40050337eced7560f108a00998023d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/krfb-4.10.95.tar.xz">krfb-4.10.95</a></td>
   <td align="right">457kB</td>
   <td><tt>146da785c26e42177e0d4ac4cd59a30c407c2212</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kross-interpreters-4.10.95.tar.xz">kross-interpreters-4.10.95</a></td>
   <td align="right">127kB</td>
   <td><tt>d2360e1757d53fb8405951ef4e1b9a1c9d4e1827</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kruler-4.10.95.tar.xz">kruler-4.10.95</a></td>
   <td align="right">125kB</td>
   <td><tt>f25705672041707b1f1915cb0b388cb12352aef2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/ksaneplugin-4.10.95.tar.xz">ksaneplugin-4.10.95</a></td>
   <td align="right">12kB</td>
   <td><tt>62f06409df7e403c0667862834b96f2edf2a2e42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kscd-4.10.95.tar.xz">kscd-4.10.95</a></td>
   <td align="right">90kB</td>
   <td><tt>b830535f1e31da054e7e654aab040b796bf96cc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kshisen-4.10.95.tar.xz">kshisen-4.10.95</a></td>
   <td align="right">133kB</td>
   <td><tt>7725c8ae7baec47c7f8eb1d031c332c0ad630f0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/ksirk-4.10.95.tar.xz">ksirk-4.10.95</a></td>
   <td align="right">4.7MB</td>
   <td><tt>b4c52a857a814b2745d8e32356a0266ddc1a25d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/ksnakeduel-4.10.95.tar.xz">ksnakeduel-4.10.95</a></td>
   <td align="right">312kB</td>
   <td><tt>f2e282b6cf246c756dc9035b842d6cd844e4715f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/ksnapshot-4.10.95.tar.xz">ksnapshot-4.10.95</a></td>
   <td align="right">251kB</td>
   <td><tt>24e3f4fc20e17c4311a78999eca27b7e2af6e363</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kspaceduel-4.10.95.tar.xz">kspaceduel-4.10.95</a></td>
   <td align="right">247kB</td>
   <td><tt>6fea80c13e995684e195a98c31b58ff0bab4d012</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/ksquares-4.10.95.tar.xz">ksquares-4.10.95</a></td>
   <td align="right">75kB</td>
   <td><tt>0e6b04fedbc44e7c531840f4d74b109fe4b02bfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kstars-4.10.95.tar.xz">kstars-4.10.95</a></td>
   <td align="right">11MB</td>
   <td><tt>da7834f20d3f46b32453085a5e7c44c7747bf9b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/ksudoku-4.10.95.tar.xz">ksudoku-4.10.95</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d1326232d4e7294455b629ac2583287dc70ef57d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/ksystemlog-4.10.95.tar.xz">ksystemlog-4.10.95</a></td>
   <td align="right">373kB</td>
   <td><tt>7b3e73b7c1c9ea6a0d6f49bcf169f0cbdffa6193</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kteatime-4.10.95.tar.xz">kteatime-4.10.95</a></td>
   <td align="right">98kB</td>
   <td><tt>0634163b67e75d0722c225f067cfe93ddcfed8fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/ktimer-4.10.95.tar.xz">ktimer-4.10.95</a></td>
   <td align="right">143kB</td>
   <td><tt>77817e2273a8e7f9889daa647fc2b47f20944975</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/ktouch-4.10.95.tar.xz">ktouch-4.10.95</a></td>
   <td align="right">2.4MB</td>
   <td><tt>a9d59fde9f7c7d9101a01c2066ddf722de994ba8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/ktuberling-4.10.95.tar.xz">ktuberling-4.10.95</a></td>
   <td align="right">4.0MB</td>
   <td><tt>8246e587eab0bcc933abb09737100402920f69a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kturtle-4.10.95.tar.xz">kturtle-4.10.95</a></td>
   <td align="right">184kB</td>
   <td><tt>ce900eb07ae9715746f4ad038d59a16190340730</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/ktux-4.10.95.tar.xz">ktux-4.10.95</a></td>
   <td align="right">106kB</td>
   <td><tt>efc322dd27557dbb53089ee894a9a8a8418bd7bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kubrick-4.10.95.tar.xz">kubrick-4.10.95</a></td>
   <td align="right">104kB</td>
   <td><tt>4e6333b32223c081060d7bfa0d1c5359a1eecaf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kuser-4.10.95.tar.xz">kuser-4.10.95</a></td>
   <td align="right">132kB</td>
   <td><tt>e5d4762268a94b28139b24854fd6157b6280ddc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kwallet-4.10.95.tar.xz">kwallet-4.10.95</a></td>
   <td align="right">375kB</td>
   <td><tt>53c0763835985afb4d25b06be27bb7d0666cdb5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kwordquiz-4.10.95.tar.xz">kwordquiz-4.10.95</a></td>
   <td align="right">1.1MB</td>
   <td><tt>e75bbb6e877f3d4c8ce9d3156758a2ffdfe3dbff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/libkcddb-4.10.95.tar.xz">libkcddb-4.10.95</a></td>
   <td align="right">154kB</td>
   <td><tt>2d27fba399885fc40ff1752e785c3eca28764655</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/libkcompactdisc-4.10.95.tar.xz">libkcompactdisc-4.10.95</a></td>
   <td align="right">73kB</td>
   <td><tt>b6cdcd0d1f0349ad9c8af2c2cbdf250eb1bc395d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/libkdcraw-4.10.95.tar.xz">libkdcraw-4.10.95</a></td>
   <td align="right">341kB</td>
   <td><tt>0e1c089c08d0636a0e89de3781d36cde4eb07650</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/libkdeedu-4.10.95.tar.xz">libkdeedu-4.10.95</a></td>
   <td align="right">204kB</td>
   <td><tt>926fc7daf83347afd057a6dfd07d04351a46d8e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/libkdegames-4.10.95.tar.xz">libkdegames-4.10.95</a></td>
   <td align="right">5.5MB</td>
   <td><tt>02c42b96626811494676ce1950266a978661b071</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/libkexiv2-4.10.95.tar.xz">libkexiv2-4.10.95</a></td>
   <td align="right">132kB</td>
   <td><tt>5048271bd9f774b7d7d6d0d0987ff7c36daee7b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/libkipi-4.10.95.tar.xz">libkipi-4.10.95</a></td>
   <td align="right">92kB</td>
   <td><tt>0208efa282f63a8e51f28a132112a8cb919cb5c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/libkmahjongg-4.10.95.tar.xz">libkmahjongg-4.10.95</a></td>
   <td align="right">1.5MB</td>
   <td><tt>d185c78691701cde66317a7d5872507fa5dc29ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/libksane-4.10.95.tar.xz">libksane-4.10.95</a></td>
   <td align="right">78kB</td>
   <td><tt>347c9e986c062ef98d3a8b991cc99aee757343a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/lokalize-4.10.95.tar.xz">lokalize-4.10.95</a></td>
   <td align="right">827kB</td>
   <td><tt>da66bbf5fae0cf4f5784e5506b22e47688924ce4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/lskat-4.10.95.tar.xz">lskat-4.10.95</a></td>
   <td align="right">927kB</td>
   <td><tt>f8b3e8bed07a3852f7eb471f2ce2ace40ecfbeaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/marble-4.10.95.tar.xz">marble-4.10.95</a></td>
   <td align="right">18MB</td>
   <td><tt>5f118e29cefdf89365d5e6be86d9eeefd9bb2ca3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/mplayerthumbs-4.10.95.tar.xz">mplayerthumbs-4.10.95</a></td>
   <td align="right">26kB</td>
   <td><tt>a2cecfafc79512b67d8937267a15ee356429c92a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/nepomuk-core-4.10.95.tar.xz">nepomuk-core-4.10.95</a></td>
   <td align="right">374kB</td>
   <td><tt>f6dee1e4f10daf7a15d74dec9a4f11ea3ef8fa97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/nepomuk-widgets-4.10.95.tar.xz">nepomuk-widgets-4.10.95</a></td>
   <td align="right">47kB</td>
   <td><tt>4c03e2d87339f1afe9003ee4e4d17881d92c65e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/okteta-4.10.95.tar.xz">okteta-4.10.95</a></td>
   <td align="right">486kB</td>
   <td><tt>2b97b734aa06940183c4b6ce866d443d1c3245e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/okular-4.10.95.tar.xz">okular-4.10.95</a></td>
   <td align="right">1.4MB</td>
   <td><tt>2aeac3053904bc3f9f1e7d6805a353aab66a911c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/oxygen-icons-4.10.95.tar.xz">oxygen-icons-4.10.95</a></td>
   <td align="right">280MB</td>
   <td><tt>ca2195357719000913c6967a7a380665c0cce672</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/pairs-4.10.95.tar.xz">pairs-4.10.95</a></td>
   <td align="right">2.6MB</td>
   <td><tt>299bad4e66d55c9cbd29a5b4805d4d983515b383</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/palapeli-4.10.95.tar.xz">palapeli-4.10.95</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9c7966437d22eb614b0c807540e3f2a760178195</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/parley-4.10.95.tar.xz">parley-4.10.95</a></td>
   <td align="right">7.5MB</td>
   <td><tt>d82c1d410631323b2f4e3cf596c5f2cf1823f0eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/perlkde-4.10.95.tar.xz">perlkde-4.10.95</a></td>
   <td align="right">39kB</td>
   <td><tt>729ca490fa7768170c2b38345bf16b687736e4f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/perlqt-4.10.95.tar.xz">perlqt-4.10.95</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f9bc674921c1852fe80ccff79e2d2aabd97927dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/picmi-4.10.95.tar.xz">picmi-4.10.95</a></td>
   <td align="right">711kB</td>
   <td><tt>e2bca2c8ec462e1b91b659a03aa48b005680679e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/poxml-4.10.95.tar.xz">poxml-4.10.95</a></td>
   <td align="right">30kB</td>
   <td><tt>f3e871ba16ff82f43fe97d7ffd7d1d036c035b5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/print-manager-4.10.95.tar.xz">print-manager-4.10.95</a></td>
   <td align="right">90kB</td>
   <td><tt>c290159074773051b111eed91d61fce62889f57e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/pykde4-4.10.95.tar.xz">pykde4-4.10.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>b32bf8d7e6f2033f2694a6cc1c3c8d24a0fcc346</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/qtruby-4.10.95.tar.xz">qtruby-4.10.95</a></td>
   <td align="right">518kB</td>
   <td><tt>d73c747899f2229b9763eafd525147545e50d0a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/qyoto-4.10.95.tar.xz">qyoto-4.10.95</a></td>
   <td align="right">498kB</td>
   <td><tt>9f4a80d73f749ec984f17c10afe2a884e182dc43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/rocs-4.10.95.tar.xz">rocs-4.10.95</a></td>
   <td align="right">1.1MB</td>
   <td><tt>e7db837dd0efe381f197b33d9579f1af9f4a18b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/smokegen-4.10.95.tar.xz">smokegen-4.10.95</a></td>
   <td align="right">143kB</td>
   <td><tt>95d8c622da7bdbebdc9555a538456d86f2f6d2af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/smokekde-4.10.95.tar.xz">smokekde-4.10.95</a></td>
   <td align="right">36kB</td>
   <td><tt>43e4c3b301784d8986dded50bd1b2810d9797d8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/smokeqt-4.10.95.tar.xz">smokeqt-4.10.95</a></td>
   <td align="right">30kB</td>
   <td><tt>91d392058cb525a1b9e0f29c5860016354dc22de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/step-4.10.95.tar.xz">step-4.10.95</a></td>
   <td align="right">354kB</td>
   <td><tt>d96a5c2a9f1e1a20ebd28a46c05838d2d792a4a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/superkaramba-4.10.95.tar.xz">superkaramba-4.10.95</a></td>
   <td align="right">374kB</td>
   <td><tt>b697285033d42a3cb39b2ee529f283b086205451</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/svgpart-4.10.95.tar.xz">svgpart-4.10.95</a></td>
   <td align="right">8kB</td>
   <td><tt>3998119a2414c313eea8ac31fabdf5229ffe484b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/sweeper-4.10.95.tar.xz">sweeper-4.10.95</a></td>
   <td align="right">80kB</td>
   <td><tt>d6c299507be0f839e577689570529e9e43bc752b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/umbrello-4.10.95.tar.xz">umbrello-4.10.95</a></td>
   <td align="right">1.3MB</td>
   <td><tt>51f213c77d69fcb76d56abc5d5c1c7fc65513513</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-ar-4.10.95.tar.xz">kde-l10n-ar-4.10.95</a></td>
   <td align="right">3.1MB</td>
   <td><tt>267e6762c769e1ed6ff579f295d6ea6c831b68f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-bg-4.10.95.tar.xz">kde-l10n-bg-4.10.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>d59f3e6219f64933d0badb216ce3cb6810e9f500</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-bs-4.10.95.tar.xz">kde-l10n-bs-4.10.95</a></td>
   <td align="right">2.2MB</td>
   <td><tt>2773433da2b6e04afbfbfc9dbd57cda7cd5a14fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-ca-4.10.95.tar.xz">kde-l10n-ca-4.10.95</a></td>
   <td align="right">10MB</td>
   <td><tt>ef4471c2b110b1d927b7794d7f9a9a6e87c12efb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-ca@valencia-4.10.95.tar.xz">kde-l10n-ca@valencia-4.10.95</a></td>
   <td align="right">2.1MB</td>
   <td><tt>d9bcf31073f2a4c33b02d915363c6d89d09ed62c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-cs-4.10.95.tar.xz">kde-l10n-cs-4.10.95</a></td>
   <td align="right">2.8MB</td>
   <td><tt>45beb241d4601dae06ee97eb55d37971ce42bacd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-da-4.10.95.tar.xz">kde-l10n-da-4.10.95</a></td>
   <td align="right">12MB</td>
   <td><tt>841303c54c60a90d65eedd76b4a7fe37f02d3b76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-de-4.10.95.tar.xz">kde-l10n-de-4.10.95</a></td>
   <td align="right">34MB</td>
   <td><tt>12db537637958b06d3ca7bb40ce76fae7d3c9228</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-el-4.10.95.tar.xz">kde-l10n-el-4.10.95</a></td>
   <td align="right">4.6MB</td>
   <td><tt>9450d2bd1a900890d04673903fd583f3958f12af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-en_GB-4.10.95.tar.xz">kde-l10n-en_GB-4.10.95</a></td>
   <td align="right">2.9MB</td>
   <td><tt>b15c22c087c6340184049c35502814337da165b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-es-4.10.95.tar.xz">kde-l10n-es-4.10.95</a></td>
   <td align="right">20MB</td>
   <td><tt>afc83b0f28ba4376365297d766b04c9c91d0d21c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-et-4.10.95.tar.xz">kde-l10n-et-4.10.95</a></td>
   <td align="right">5.2MB</td>
   <td><tt>18b9d21d390289601ab4e7edbe406d49082e3cc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-eu-4.10.95.tar.xz">kde-l10n-eu-4.10.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ea9016764fa1c7356c3267307d417a23efc14f8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-fa-4.10.95.tar.xz">kde-l10n-fa-4.10.95</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c9ce7fc881721d10cb9a1071724c138095389edd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-fi-4.10.95.tar.xz">kde-l10n-fi-4.10.95</a></td>
   <td align="right">2.5MB</td>
   <td><tt>d0733d5a9ed1c940c3744605826fb97d0c418723</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-fr-4.10.95.tar.xz">kde-l10n-fr-4.10.95</a></td>
   <td align="right">40MB</td>
   <td><tt>c1fdd2d0403f0f707ef2a98cd8791b20aaf5cf57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-ga-4.10.95.tar.xz">kde-l10n-ga-4.10.95</a></td>
   <td align="right">2.7MB</td>
   <td><tt>478fa7ceaa0c696086c7748e52d736f5189bf0d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-gl-4.10.95.tar.xz">kde-l10n-gl-4.10.95</a></td>
   <td align="right">3.4MB</td>
   <td><tt>81563a60649f9fedcdf65f2571c676129ca52b25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-he-4.10.95.tar.xz">kde-l10n-he-4.10.95</a></td>
   <td align="right">2.0MB</td>
   <td><tt>5f035d02be066e2eec5e165cba5bb6190da6c136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-hi-4.10.95.tar.xz">kde-l10n-hi-4.10.95</a></td>
   <td align="right">1.7MB</td>
   <td><tt>359510d30ea34d83082d3823d6487e7be5721de0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-hr-4.10.95.tar.xz">kde-l10n-hr-4.10.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>4de41da66c25bc9fd95ba262e9c4ebd28632239f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-hu-4.10.95.tar.xz">kde-l10n-hu-4.10.95</a></td>
   <td align="right">4.0MB</td>
   <td><tt>676ae571b35107807f58c6f7fffc6ef0f4ec7975</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-ia-4.10.95.tar.xz">kde-l10n-ia-4.10.95</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f4e47de718c762495732005c31c39cdb68949182</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-is-4.10.95.tar.xz">kde-l10n-is-4.10.95</a></td>
   <td align="right">1.7MB</td>
   <td><tt>fe615f37a03550d7a92db9c02bf6d7f2399cea1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-it-4.10.95.tar.xz">kde-l10n-it-4.10.95</a></td>
   <td align="right">8.3MB</td>
   <td><tt>2d75bebf677ed33983abf4760f1ff4720f126355</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-ja-4.10.95.tar.xz">kde-l10n-ja-4.10.95</a></td>
   <td align="right">2.1MB</td>
   <td><tt>abf3b5da479f34fcda183a9edb50a3dbe8874ff8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-kk-4.10.95.tar.xz">kde-l10n-kk-4.10.95</a></td>
   <td align="right">2.5MB</td>
   <td><tt>712d460b4114a51a7f590b469b0b018a8d40ae73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-km-4.10.95.tar.xz">kde-l10n-km-4.10.95</a></td>
   <td align="right">2.1MB</td>
   <td><tt>36c690c3242d10f5e96566b0e3dfb349fb2dceb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-ko-4.10.95.tar.xz">kde-l10n-ko-4.10.95</a></td>
   <td align="right">1.6MB</td>
   <td><tt>eba36dcbc12fbdd2414cabb9234c201023949f32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-lt-4.10.95.tar.xz">kde-l10n-lt-4.10.95</a></td>
   <td align="right">12MB</td>
   <td><tt>bf78014638700fbda15b93a29297c377b8bc8be5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-lv-4.10.95.tar.xz">kde-l10n-lv-4.10.95</a></td>
   <td align="right">2.1MB</td>
   <td><tt>e838e8a2d9641643e175f577e4fcbd05c4827c0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-mr-4.10.95.tar.xz">kde-l10n-mr-4.10.95</a></td>
   <td align="right">1.7MB</td>
   <td><tt>5674c25aed078d5b58081659ce3915c07356ce47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-nb-4.10.95.tar.xz">kde-l10n-nb-4.10.95</a></td>
   <td align="right">2.3MB</td>
   <td><tt>61ca33e3dc30a7fabc42e22668e536ee68ae3729</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-nds-4.10.95.tar.xz">kde-l10n-nds-4.10.95</a></td>
   <td align="right">3.0MB</td>
   <td><tt>c89304c02a54e748665d72825f9e6d7f51ec9cbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-nl-4.10.95.tar.xz">kde-l10n-nl-4.10.95</a></td>
   <td align="right">13MB</td>
   <td><tt>6ba0e8b259fdc28fb56b6d609205fab3ffba9b96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-nn-4.10.95.tar.xz">kde-l10n-nn-4.10.95</a></td>
   <td align="right">1.8MB</td>
   <td><tt>4e6d26a3718c0f1f2b4ccb275c43cfc9ece4f3a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-pa-4.10.95.tar.xz">kde-l10n-pa-4.10.95</a></td>
   <td align="right">1.8MB</td>
   <td><tt>051874a6ea2a80053135d91f7676a928559fb8a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-pl-4.10.95.tar.xz">kde-l10n-pl-4.10.95</a></td>
   <td align="right">16MB</td>
   <td><tt>5fd22244442854ad9bd5f16d6c725de5d4f06263</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-pt-4.10.95.tar.xz">kde-l10n-pt-4.10.95</a></td>
   <td align="right">3.5MB</td>
   <td><tt>724621a27c46f036fd940ea7523c395e3af56b33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-pt_BR-4.10.95.tar.xz">kde-l10n-pt_BR-4.10.95</a></td>
   <td align="right">23MB</td>
   <td><tt>c0ed7d8eb39fc9762eecad85faf624e58a73af2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-ro-4.10.95.tar.xz">kde-l10n-ro-4.10.95</a></td>
   <td align="right">2.8MB</td>
   <td><tt>768a9cc45a8e0102417e069801163df98b395fa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-ru-4.10.95.tar.xz">kde-l10n-ru-4.10.95</a></td>
   <td align="right">21MB</td>
   <td><tt>fe2d7df1ea7e0e7ae93bc4523fa72dc96a56e953</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-si-4.10.95.tar.xz">kde-l10n-si-4.10.95</a></td>
   <td align="right">1.0MB</td>
   <td><tt>edbee756299b811fe041bea131b180123d063dd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-sk-4.10.95.tar.xz">kde-l10n-sk-4.10.95</a></td>
   <td align="right">4.1MB</td>
   <td><tt>97c3f009310910f9b2899a439c4909c63de78a8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-sl-4.10.95.tar.xz">kde-l10n-sl-4.10.95</a></td>
   <td align="right">3.3MB</td>
   <td><tt>5b42051913f0ab3ee758c2b2d550eeb54b5537f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-sr-4.10.95.tar.xz">kde-l10n-sr-4.10.95</a></td>
   <td align="right">4.4MB</td>
   <td><tt>a1666c8dc1c0427c7eca979a515e4a60d08e4b21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-sv-4.10.95.tar.xz">kde-l10n-sv-4.10.95</a></td>
   <td align="right">13MB</td>
   <td><tt>c627488127f4538913ef7b2dbe659db712a3af8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-tg-4.10.95.tar.xz">kde-l10n-tg-4.10.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>a39457bf6b58acf0b8c2bcfb5080e0e2bbbeff1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-th-4.10.95.tar.xz">kde-l10n-th-4.10.95</a></td>
   <td align="right">1.6MB</td>
   <td><tt>7d4cbecc3d04f28ebf343bb87d84c0059d338730</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-tr-4.10.95.tar.xz">kde-l10n-tr-4.10.95</a></td>
   <td align="right">3.8MB</td>
   <td><tt>5b7b66950f58df31466f7bab9c78cd5c99448acd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-ug-4.10.95.tar.xz">kde-l10n-ug-4.10.95</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f99bcad45d903086fb80fdbb61f1fd629a18cd6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-uk-4.10.95.tar.xz">kde-l10n-uk-4.10.95</a></td>
   <td align="right">24MB</td>
   <td><tt>465213a996d5b48990d0f5d873d529c9fa6b3b10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-vi-4.10.95.tar.xz">kde-l10n-vi-4.10.95</a></td>
   <td align="right">918kB</td>
   <td><tt>9b1efa8a21e14aa8806cc4d8a5557f240d5fa89a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-wa-4.10.95.tar.xz">kde-l10n-wa-4.10.95</a></td>
   <td align="right">1.6MB</td>
   <td><tt>54393f48befd46b113d91b8af16535997a813738</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-zh_CN-4.10.95.tar.xz">kde-l10n-zh_CN-4.10.95</a></td>
   <td align="right">3.4MB</td>
   <td><tt>66726d8f76b98dd4ed766000098f568114947016</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.10.95/src/kde-l10n/kde-l10n-zh_TW-4.10.95.tar.xz">kde-l10n-zh_TW-4.10.95</a></td>
   <td align="right">2.4MB</td>
   <td><tt>d9004638ac37ce61db5d514cba6c2abd37d5a8f1</tt></td>
</tr>

</table>
