<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/amor-15.04.2.tar.xz">amor-15.04.2</a></td>
   <td align="right">171kB</td>
   <td><tt>99f388b0d100957a1bbed0e85a050e9fd56cebe7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/analitza-15.04.2.tar.xz">analitza-15.04.2</a></td>
   <td align="right">222kB</td>
   <td><tt>b310b69c064c4ef550eeb0046ccc0439860e2557</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ark-15.04.2.tar.xz">ark-15.04.2</a></td>
   <td align="right">233kB</td>
   <td><tt>24d24d72225d99debca98a92edee03bef78fde85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/artikulate-15.04.2.tar.xz">artikulate-15.04.2</a></td>
   <td align="right">3.6MB</td>
   <td><tt>a69d71672723c714c8e5f71b43c7c27d0ae9375b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/audiocd-kio-15.04.2.tar.xz">audiocd-kio-15.04.2</a></td>
   <td align="right">50kB</td>
   <td><tt>2f413841d35e765a8a5a42697481ba444ece2973</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/blinken-15.04.2.tar.xz">blinken-15.04.2</a></td>
   <td align="right">553kB</td>
   <td><tt>57fb091bb466a70a4f883bc3ec7b47517f09e8aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/bomber-15.04.2.tar.xz">bomber-15.04.2</a></td>
   <td align="right">382kB</td>
   <td><tt>0029137de8ef18732ce2234b91e4864fd5d94a2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/bovo-15.04.2.tar.xz">bovo-15.04.2</a></td>
   <td align="right">103kB</td>
   <td><tt>6ae0ccac4b95cee87a1e15df2228f6971d74c464</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/cantor-15.04.2.tar.xz">cantor-15.04.2</a></td>
   <td align="right">345kB</td>
   <td><tt>55b75171071deead3d22553d058342976b5b1ecd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/cervisia-15.04.2.tar.xz">cervisia-15.04.2</a></td>
   <td align="right">364kB</td>
   <td><tt>21bb393c46da6ab9f3ad4509c591dc2c24ea532e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/dolphin-plugins-15.04.2.tar.xz">dolphin-plugins-15.04.2</a></td>
   <td align="right">56kB</td>
   <td><tt>1e582dc46cb5e9a6880734c190bca34a84ac6f44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/dragon-15.04.2.tar.xz">dragon-15.04.2</a></td>
   <td align="right">391kB</td>
   <td><tt>9851a52942f3342272000c038d5798871bd0cf63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ffmpegthumbs-15.04.2.tar.xz">ffmpegthumbs-15.04.2</a></td>
   <td align="right">19kB</td>
   <td><tt>c0bf1d6ec0b983134720161fe8e049160f14a17b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/filelight-15.04.2.tar.xz">filelight-15.04.2</a></td>
   <td align="right">281kB</td>
   <td><tt>9ebdcc2ff872912193a6d8b5844ce89e36615bb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/granatier-15.04.2.tar.xz">granatier-15.04.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>b7ca4c2e140ac42525a0a7ef88ec7624faa7fa64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/gwenview-15.04.2.tar.xz">gwenview-15.04.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>661746e9eecb5906139cdb61afb7f7c5faaff465</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/jovie-15.04.2.tar.xz">jovie-15.04.2</a></td>
   <td align="right">382kB</td>
   <td><tt>a4677c230585bbbde4d81d41014dae2ef6a51b96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/juk-15.04.2.tar.xz">juk-15.04.2</a></td>
   <td align="right">433kB</td>
   <td><tt>f604500035112ff717610d592134b36c442ee138</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kaccessible-15.04.2.tar.xz">kaccessible-15.04.2</a></td>
   <td align="right">20kB</td>
   <td><tt>e215b3480eb325c14007e602cd2e63f9455fce3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kaccounts-integration-15.04.2.tar.xz">kaccounts-integration-15.04.2</a></td>
   <td align="right">52kB</td>
   <td><tt>db8a62494eeb73683c8faaad4a22f878fd677a89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kaccounts-providers-15.04.2.tar.xz">kaccounts-providers-15.04.2</a></td>
   <td align="right">11kB</td>
   <td><tt>5608ea93c5c6906ed4aa389ef5b30ab3b9c1adcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kajongg-15.04.2.tar.xz">kajongg-15.04.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>46990d686e2a7e989aa7d2ccc4c5fa8b0c33632d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kalgebra-15.04.2.tar.xz">kalgebra-15.04.2</a></td>
   <td align="right">263kB</td>
   <td><tt>ac110d857372018f877e8c635d67998101690442</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kalzium-15.04.2.tar.xz">kalzium-15.04.2</a></td>
   <td align="right">3.7MB</td>
   <td><tt>ec25594c6b5e69cec6f6a71315e1c763c4590d15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kamera-15.04.2.tar.xz">kamera-15.04.2</a></td>
   <td align="right">34kB</td>
   <td><tt>cbb984deee038852431a0c9c2c63ac8135dd6d57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kanagram-15.04.2.tar.xz">kanagram-15.04.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>f1f817dec131ab3e9396e4c5445498b9a4a8dd3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kapman-15.04.2.tar.xz">kapman-15.04.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e294d88f5ef5697adbe7f643a2381020152c5f4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kapptemplate-15.04.2.tar.xz">kapptemplate-15.04.2</a></td>
   <td align="right">688kB</td>
   <td><tt>1723107562eeb911eb326a5ac6565613e0ee4757</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kate-15.04.2.tar.xz">kate-15.04.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>4a04e567425b727dab5eadc46a1c736b0eb98d89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/katomic-15.04.2.tar.xz">katomic-15.04.2</a></td>
   <td align="right">645kB</td>
   <td><tt>48dd50982f4ff8747492261fb8a43ff470f1c000</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kblackbox-15.04.2.tar.xz">kblackbox-15.04.2</a></td>
   <td align="right">253kB</td>
   <td><tt>2d059743a4a0149de1d4f678f78c6c33894a6e14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kblocks-15.04.2.tar.xz">kblocks-15.04.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>add86253dcfa66f9f3a8ef40c31ebcf4e9419dd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kbounce-15.04.2.tar.xz">kbounce-15.04.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>4920e731ba1000689cd915c1dc8bc156f25bf9d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kbreakout-15.04.2.tar.xz">kbreakout-15.04.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>279ca163f07d7e0005d74d67bfcd359abd3039d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kbruch-15.04.2.tar.xz">kbruch-15.04.2</a></td>
   <td align="right">884kB</td>
   <td><tt>49191eee33d47f6cad0df6e232a392a3b28c9ace</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kcachegrind-15.04.2.tar.xz">kcachegrind-15.04.2</a></td>
   <td align="right">230kB</td>
   <td><tt>10bfe06f67a46986db26b50211e88a1135e375af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kcalc-15.04.2.tar.xz">kcalc-15.04.2</a></td>
   <td align="right">81kB</td>
   <td><tt>48c0adb37a1a694bb692bd2a6ce8376f5d893771</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kcharselect-15.04.2.tar.xz">kcharselect-15.04.2</a></td>
   <td align="right">82kB</td>
   <td><tt>50edde0e134a73d3fe9ac481accdb861d2bb71d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kcolorchooser-15.04.2.tar.xz">kcolorchooser-15.04.2</a></td>
   <td align="right">4kB</td>
   <td><tt>16e27324c4d4079729a96bda8ffce712826bc426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kcron-15.04.2.tar.xz">kcron-15.04.2</a></td>
   <td align="right">170kB</td>
   <td><tt>d402c9105d06cddec427e386907747ac36305797</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kdeartwork-15.04.2.tar.xz">kdeartwork-15.04.2</a></td>
   <td align="right">134MB</td>
   <td><tt>b6e1ea3cb4abf75960b43a5af5386736cee76552</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-baseapps-15.04.2.tar.xz">kde-baseapps-15.04.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>ec076c97bee93d50fd85ca8c85d6bdd218869607</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-base-artwork-15.04.2.tar.xz">kde-base-artwork-15.04.2</a></td>
   <td align="right">7.0MB</td>
   <td><tt>c06e71aa19b51d71c0566aebad59dcd9d6d7ff9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-dev-scripts-15.04.2.tar.xz">kde-dev-scripts-15.04.2</a></td>
   <td align="right">299kB</td>
   <td><tt>482e148999d7b0e2f86e1e588668d41105e06f4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-dev-utils-15.04.2.tar.xz">kde-dev-utils-15.04.2</a></td>
   <td align="right">50kB</td>
   <td><tt>527172c6270560d9d81eb9373814dd13a4191ace</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kdeedu-data-15.04.2.tar.xz">kdeedu-data-15.04.2</a></td>
   <td align="right">94kB</td>
   <td><tt>5eefb8f1752f8787bd46a12a923ce7e4dbab7bad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kdegraphics-mobipocket-15.04.2.tar.xz">kdegraphics-mobipocket-15.04.2</a></td>
   <td align="right">14kB</td>
   <td><tt>12365746007f23ecedb37daf63617ab09f8dff14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kdegraphics-strigi-analyzer-15.04.2.tar.xz">kdegraphics-strigi-analyzer-15.04.2</a></td>
   <td align="right">39kB</td>
   <td><tt>8054cd75528943e19cae4ca111bfb4f701732a30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kdegraphics-thumbnailers-15.04.2.tar.xz">kdegraphics-thumbnailers-15.04.2</a></td>
   <td align="right">40kB</td>
   <td><tt>2e153a567d484952a28646e94cd33ba1e33847bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kdelibs-4.14.9.tar.xz">kdelibs-4.14.9</a></td>
   <td align="right">11MB</td>
   <td><tt>698b48601cbfba70aec6b0eba2994d74e7baa4e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kdenetwork-filesharing-15.04.2.tar.xz">kdenetwork-filesharing-15.04.2</a></td>
   <td align="right">26kB</td>
   <td><tt>a78c8739efd4d0c1180e6048909530c71c1a5141</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kdenetwork-strigi-analyzers-15.04.2.tar.xz">kdenetwork-strigi-analyzers-15.04.2</a></td>
   <td align="right">14kB</td>
   <td><tt>ac509c60cc2b10792a2a4f3391b2dc26fce1b555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kdenlive-15.04.2.tar.xz">kdenlive-15.04.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>b01f9d61dd0c0dc35c2d5fbacf1b550fee903aed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kdepim-4.14.9.tar.xz">kdepim-4.14.9</a></td>
   <td align="right">13MB</td>
   <td><tt>afd7df831110ec2e188aec0e35dcc8c4fdf2ad0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kdepimlibs-4.14.9.tar.xz">kdepimlibs-4.14.9</a></td>
   <td align="right">2.6MB</td>
   <td><tt>ec5f209e538079b6a0463e66e6fbab9640ecd60d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kdepim-runtime-4.14.9.tar.xz">kdepim-runtime-4.14.9</a></td>
   <td align="right">1.1MB</td>
   <td><tt>5656c082f659ac241149fce9fbcca59fc83511ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-runtime-15.04.2.tar.xz">kde-runtime-15.04.2</a></td>
   <td align="right">7.5MB</td>
   <td><tt>18eda94f28f132e62036df5a155b15b538795a73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kdesdk-kioslaves-15.04.2.tar.xz">kdesdk-kioslaves-15.04.2</a></td>
   <td align="right">353kB</td>
   <td><tt>88012f45b216c8b243e754d2aa81d4dd6c8a3138</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kdesdk-strigi-analyzers-15.04.2.tar.xz">kdesdk-strigi-analyzers-15.04.2</a></td>
   <td align="right">17kB</td>
   <td><tt>2cea01696f4cac94cbacaebd0e9309d6e726da52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kdesdk-thumbnailers-15.04.2.tar.xz">kdesdk-thumbnailers-15.04.2</a></td>
   <td align="right">11kB</td>
   <td><tt>ed7c731472033b0d337f01e6ccf2886395cb3c1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-wallpapers-15.04.2.tar.xz">kde-wallpapers-15.04.2</a></td>
   <td align="right">86MB</td>
   <td><tt>1efbd14ca1a53b4f35e4d63c87a6ffa5dc3f3e5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kdewebdev-15.04.2.tar.xz">kdewebdev-15.04.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>ba71e96939dba5662bb5801b1e478c02237e964c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-workspace-4.11.20.tar.xz">kde-workspace-4.11.20</a></td>
   <td align="right">12MB</td>
   <td><tt>282ccd7d442e8235e2099609a986bd557c59b650</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kdf-15.04.2.tar.xz">kdf-15.04.2</a></td>
   <td align="right">145kB</td>
   <td><tt>63b1f9c39e987a6a369dec9ccdbffde404cae4a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kdiamond-15.04.2.tar.xz">kdiamond-15.04.2</a></td>
   <td align="right">3.9MB</td>
   <td><tt>c0a38f86c3e7dc88d810027073017585d3c86ce2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kfloppy-15.04.2.tar.xz">kfloppy-15.04.2</a></td>
   <td align="right">51kB</td>
   <td><tt>b224164043e98489d0142af316f12b9d0fc31558</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kfourinline-15.04.2.tar.xz">kfourinline-15.04.2</a></td>
   <td align="right">274kB</td>
   <td><tt>8b500f3b09da50443b91be572c6db4c94abdf32d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kgamma-15.04.2.tar.xz">kgamma-15.04.2</a></td>
   <td align="right">22kB</td>
   <td><tt>e60b937538ad70e99edf5754e8f4a93c95575f68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kgeography-15.04.2.tar.xz">kgeography-15.04.2</a></td>
   <td align="right">6.4MB</td>
   <td><tt>1f09031039e12e4f9c286e1e04e72314dbb11159</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kget-15.04.2.tar.xz">kget-15.04.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>617706ddf8fb865f6dd3d5f57cbc307ad8fe0c45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kgoldrunner-15.04.2.tar.xz">kgoldrunner-15.04.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>90fc3f9bad5d21678ca344622a1c5c5a88dbc9d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kgpg-15.04.2.tar.xz">kgpg-15.04.2</a></td>
   <td align="right">790kB</td>
   <td><tt>4f4ff8fea96863552ad739c978efbb9514c8c6c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/khangman-15.04.2.tar.xz">khangman-15.04.2</a></td>
   <td align="right">3.7MB</td>
   <td><tt>4418638d43dd6a7c1d73dc131238e220adfe33cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kig-15.04.2.tar.xz">kig-15.04.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>9dbc2dd6d5997058c2bbda7e02d62773ce93a806</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kigo-15.04.2.tar.xz">kigo-15.04.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>382eed2c7a2561b44b19828d38aa28910e3dc99c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/killbots-15.04.2.tar.xz">killbots-15.04.2</a></td>
   <td align="right">940kB</td>
   <td><tt>cca9996d2ee36790de05e359922bdd8b528ab08f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kiriki-15.04.2.tar.xz">kiriki-15.04.2</a></td>
   <td align="right">115kB</td>
   <td><tt>1c597956b290454bd968a750551856cc779ff934</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kiten-15.04.2.tar.xz">kiten-15.04.2</a></td>
   <td align="right">11MB</td>
   <td><tt>89383ab50c99b7233adbf03338bbe49b297a054d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kjumpingcube-15.04.2.tar.xz">kjumpingcube-15.04.2</a></td>
   <td align="right">161kB</td>
   <td><tt>6f4b07cfe3b36fcd380ab940d11994ee33f46644</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/klettres-15.04.2.tar.xz">klettres-15.04.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>b7fa00348c563e2721fcbad64544ee1797e06361</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/klickety-15.04.2.tar.xz">klickety-15.04.2</a></td>
   <td align="right">765kB</td>
   <td><tt>a81168c18b815416141e67269f0c89d601fa7095</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/klines-15.04.2.tar.xz">klines-15.04.2</a></td>
   <td align="right">927kB</td>
   <td><tt>a6cdc1e769c8c7c06cb9e8ec2dae72a69103b0c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kmag-15.04.2.tar.xz">kmag-15.04.2</a></td>
   <td align="right">84kB</td>
   <td><tt>8a044245c67dc31a6d5d62743be474916d089a36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kmahjongg-15.04.2.tar.xz">kmahjongg-15.04.2</a></td>
   <td align="right">986kB</td>
   <td><tt>c02b43c77fbac611f5570174cd3373c79824def9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kmines-15.04.2.tar.xz">kmines-15.04.2</a></td>
   <td align="right">610kB</td>
   <td><tt>1f926e474c435b844d4d3c6eee8892384768af36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kmix-15.04.2.tar.xz">kmix-15.04.2</a></td>
   <td align="right">379kB</td>
   <td><tt>e25d4923620056538fc75282aebb9503ba56f4f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kmousetool-15.04.2.tar.xz">kmousetool-15.04.2</a></td>
   <td align="right">35kB</td>
   <td><tt>45bb8bfeac15dca9b02d2222ea5d0b5eed06ccd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kmouth-15.04.2.tar.xz">kmouth-15.04.2</a></td>
   <td align="right">301kB</td>
   <td><tt>6af52b0c3043be0929dee596876cbc04794381a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kmplot-15.04.2.tar.xz">kmplot-15.04.2</a></td>
   <td align="right">646kB</td>
   <td><tt>95b6848bd676a716ee4ebb8a0634e12ffc0913a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/knavalbattle-15.04.2.tar.xz">knavalbattle-15.04.2</a></td>
   <td align="right">833kB</td>
   <td><tt>0502d17902eb4339cb044951dec595a3f502634e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/knetwalk-15.04.2.tar.xz">knetwalk-15.04.2</a></td>
   <td align="right">764kB</td>
   <td><tt>1c8788a3c5e1849f3de4c684bdb5c6714c98b0f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kolf-15.04.2.tar.xz">kolf-15.04.2</a></td>
   <td align="right">754kB</td>
   <td><tt>25ed7401e203b33404ecdd017d96625877a8cbdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kollision-15.04.2.tar.xz">kollision-15.04.2</a></td>
   <td align="right">202kB</td>
   <td><tt>41264eabead4838f1117192052b0890f1dafe83e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kolourpaint-15.04.2.tar.xz">kolourpaint-15.04.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>a5f08b738a61b7be3d53c5ec77ce837de9d267f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kompare-15.04.2.tar.xz">kompare-15.04.2</a></td>
   <td align="right">336kB</td>
   <td><tt>4108d51a4644f9f9e935070cab309a19f7dddcd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/konquest-15.04.2.tar.xz">konquest-15.04.2</a></td>
   <td align="right">395kB</td>
   <td><tt>fa6a02bba21139f4472ed5d4323fea2b827d4e7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/konsole-15.04.2.tar.xz">konsole-15.04.2</a></td>
   <td align="right">450kB</td>
   <td><tt>97eadd8276c19c362893dab747a2d5824fc56d36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kopete-15.04.2.tar.xz">kopete-15.04.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>d37e551def66ed3bb459ca3c56d68857c9f71b34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kpat-15.04.2.tar.xz">kpat-15.04.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>d3f2fefbabe7d04f9f6b4c9e0c473da91ed4edf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kppp-15.04.2.tar.xz">kppp-15.04.2</a></td>
   <td align="right">684kB</td>
   <td><tt>36af46dacb1f4b5ca94c30d64173f906dc8654ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kqtquickcharts-15.04.2.tar.xz">kqtquickcharts-15.04.2</a></td>
   <td align="right">19kB</td>
   <td><tt>7e113e230d8f4b50725f2e2040b8e2d8e06e0589</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/krdc-15.04.2.tar.xz">krdc-15.04.2</a></td>
   <td align="right">390kB</td>
   <td><tt>cd25dd80ed3c614f036786468d2e4ab3b37bed27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kremotecontrol-15.04.2.tar.xz">kremotecontrol-15.04.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>dd948cb6ba14ae5f871d2043252b94acbe8ad637</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kreversi-15.04.2.tar.xz">kreversi-15.04.2</a></td>
   <td align="right">463kB</td>
   <td><tt>33ab547bda9b2e2c8253327369109a786c663cb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/krfb-15.04.2.tar.xz">krfb-15.04.2</a></td>
   <td align="right">319kB</td>
   <td><tt>25f1650193cc0f520a6367afb0e6b1581d55ce3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kruler-15.04.2.tar.xz">kruler-15.04.2</a></td>
   <td align="right">126kB</td>
   <td><tt>707663197ac75fcc40b8369a3118ec6eadbd8041</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ksaneplugin-15.04.2.tar.xz">ksaneplugin-15.04.2</a></td>
   <td align="right">12kB</td>
   <td><tt>c9020ef2d5b9f78b395a378901f8702686c417bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kscd-15.04.2.tar.xz">kscd-15.04.2</a></td>
   <td align="right">90kB</td>
   <td><tt>ba637f19ea424952f786af568437e1a249b3b0ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kshisen-15.04.2.tar.xz">kshisen-15.04.2</a></td>
   <td align="right">133kB</td>
   <td><tt>4c6efaaef1818ce2b424a98037b4f2c806ddb9b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ksirk-15.04.2.tar.xz">ksirk-15.04.2</a></td>
   <td align="right">4.7MB</td>
   <td><tt>4045193b1b143f8b935ff18874126144b5bf09dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ksnakeduel-15.04.2.tar.xz">ksnakeduel-15.04.2</a></td>
   <td align="right">290kB</td>
   <td><tt>0a777910e745d1870248e1c5af207aea0937a43b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ksnapshot-15.04.2.tar.xz">ksnapshot-15.04.2</a></td>
   <td align="right">252kB</td>
   <td><tt>60ccdc4d257c91cc31cda511c2adb6616ff51f69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kspaceduel-15.04.2.tar.xz">kspaceduel-15.04.2</a></td>
   <td align="right">247kB</td>
   <td><tt>7c3e18a6c7439d1850f3346d05dec05924e48f5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ksquares-15.04.2.tar.xz">ksquares-15.04.2</a></td>
   <td align="right">78kB</td>
   <td><tt>2fa9cd41dab61855d2016e4e899dbf6b54201872</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kstars-15.04.2.tar.xz">kstars-15.04.2</a></td>
   <td align="right">12MB</td>
   <td><tt>c4956085798baa9ba97caa1cf2066c0b771f85f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ksudoku-15.04.2.tar.xz">ksudoku-15.04.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>977c7d901eda10bdd4af8af55bf09177f0cca77b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ksystemlog-15.04.2.tar.xz">ksystemlog-15.04.2</a></td>
   <td align="right">373kB</td>
   <td><tt>04a037503afa310effed96cc4c380d11f240c0fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kteatime-15.04.2.tar.xz">kteatime-15.04.2</a></td>
   <td align="right">101kB</td>
   <td><tt>d993e076643d662792633a8c075d59bb48779368</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ktimer-15.04.2.tar.xz">ktimer-15.04.2</a></td>
   <td align="right">143kB</td>
   <td><tt>dfaadc7800a447b3ef7e9c2913e5a44a999c0d75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ktouch-15.04.2.tar.xz">ktouch-15.04.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>687e817a4263ee314e188c0fdde2f6b0b37a5543</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ktp-accounts-kcm-15.04.2.tar.xz">ktp-accounts-kcm-15.04.2</a></td>
   <td align="right">86kB</td>
   <td><tt>d7a031bce19ed547c0b295fa2161136bd68af131</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ktp-approver-15.04.2.tar.xz">ktp-approver-15.04.2</a></td>
   <td align="right">20kB</td>
   <td><tt>a73e8ffcfcbba4f67fee66a533a53e5438a5c6f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ktp-auth-handler-15.04.2.tar.xz">ktp-auth-handler-15.04.2</a></td>
   <td align="right">25kB</td>
   <td><tt>d2bd5046c6975ca17ac8f3e466ff5f0deb9c80e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ktp-common-internals-15.04.2.tar.xz">ktp-common-internals-15.04.2</a></td>
   <td align="right">305kB</td>
   <td><tt>4b6871c046d33ecbaf672cf6bf73b979cc0a0b71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ktp-contact-list-15.04.2.tar.xz">ktp-contact-list-15.04.2</a></td>
   <td align="right">47kB</td>
   <td><tt>cc56102772f903afca76d8ff0a3840a1862488c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ktp-contact-runner-15.04.2.tar.xz">ktp-contact-runner-15.04.2</a></td>
   <td align="right">16kB</td>
   <td><tt>92ef2d22958158715f101bf403fabef8889b706e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ktp-desktop-applets-15.04.2.tar.xz">ktp-desktop-applets-15.04.2</a></td>
   <td align="right">24kB</td>
   <td><tt>8fb4c415534d44d10103a07c4f2b9384f4ca0d83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ktp-filetransfer-handler-15.04.2.tar.xz">ktp-filetransfer-handler-15.04.2</a></td>
   <td align="right">22kB</td>
   <td><tt>8e69361927d24b0312845ec0f660d71320c83af7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ktp-kded-module-15.04.2.tar.xz">ktp-kded-module-15.04.2</a></td>
   <td align="right">37kB</td>
   <td><tt>6099dba96d6dc7aee670a9c2477de9872ad54737</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ktp-send-file-15.04.2.tar.xz">ktp-send-file-15.04.2</a></td>
   <td align="right">14kB</td>
   <td><tt>eb2cd43d0dddb44f42e2b02e09b8b16f2c158e32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ktp-text-ui-15.04.2.tar.xz">ktp-text-ui-15.04.2</a></td>
   <td align="right">283kB</td>
   <td><tt>ca162799f311e9e116cea48a969f3b8f3c9c4304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ktuberling-15.04.2.tar.xz">ktuberling-15.04.2</a></td>
   <td align="right">4.0MB</td>
   <td><tt>7d748f83ae5e7b8111fe32cfef58b24b42cb6e27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kturtle-15.04.2.tar.xz">kturtle-15.04.2</a></td>
   <td align="right">189kB</td>
   <td><tt>f634f5eb4b42f71dbd21b7aa4cc5809892a4da18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/ktux-15.04.2.tar.xz">ktux-15.04.2</a></td>
   <td align="right">105kB</td>
   <td><tt>c4e3f51557e9c5c9cd84358bdb2af57758bb4818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kubrick-15.04.2.tar.xz">kubrick-15.04.2</a></td>
   <td align="right">104kB</td>
   <td><tt>1e7d5a7a8df64714edd53beb69b31f1c91881fda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kuser-15.04.2.tar.xz">kuser-15.04.2</a></td>
   <td align="right">132kB</td>
   <td><tt>264921d5bc3bd33921abac7fc4cfd0d19862f204</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kwalletmanager-15.04.2.tar.xz">kwalletmanager-15.04.2</a></td>
   <td align="right">446kB</td>
   <td><tt>00923a3cd74a0908103c4caaade950a1deb4db42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kwordquiz-15.04.2.tar.xz">kwordquiz-15.04.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>c99400802b71940ad002d7b334194221beaa4b4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/libkcddb-15.04.2.tar.xz">libkcddb-15.04.2</a></td>
   <td align="right">154kB</td>
   <td><tt>a0cf53400c6b74e150d1a198592f62b142467e39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/libkcompactdisc-15.04.2.tar.xz">libkcompactdisc-15.04.2</a></td>
   <td align="right">74kB</td>
   <td><tt>e466028467364db896320a45eb606e461e6f97e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/libkdcraw-15.04.2.tar.xz">libkdcraw-15.04.2</a></td>
   <td align="right">99kB</td>
   <td><tt>4f1b3ec3f831b8dd6c1d4b2c7c90a0f19e2acbc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/libkdeedu-15.04.2.tar.xz">libkdeedu-15.04.2</a></td>
   <td align="right">127kB</td>
   <td><tt>0941a2e92849858b0c64f7de73381a7c2608f7e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/libkdegames-15.04.2.tar.xz">libkdegames-15.04.2</a></td>
   <td align="right">5.5MB</td>
   <td><tt>de37e58a7e977859132f7fa6a3f849fdbc53653e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/libkeduvocdocument-15.04.2.tar.xz">libkeduvocdocument-15.04.2</a></td>
   <td align="right">96kB</td>
   <td><tt>4fb1c16384753f9a982a27199c47a6f27c7815b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/libkexiv2-15.04.2.tar.xz">libkexiv2-15.04.2</a></td>
   <td align="right">133kB</td>
   <td><tt>6b7b6bd5885bd25730928458ba8cf421997b0dfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/libkface-15.04.2.tar.xz">libkface-15.04.2</a></td>
   <td align="right">8.5MB</td>
   <td><tt>7ce312f313a13e8bfd0ab07505239a59596d615f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/libkgeomap-15.04.2.tar.xz">libkgeomap-15.04.2</a></td>
   <td align="right">121kB</td>
   <td><tt>37087e0a6da7775d33e21f8152bec8bfd6700ec1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/libkipi-15.04.2.tar.xz">libkipi-15.04.2</a></td>
   <td align="right">92kB</td>
   <td><tt>e093536ac320b4b90a38a7e3739082c4a07af8e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/libkmahjongg-15.04.2.tar.xz">libkmahjongg-15.04.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>0ca0286d4e073f237ec4a6a1df483c6826b2d5b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/libkomparediff2-15.04.2.tar.xz">libkomparediff2-15.04.2</a></td>
   <td align="right">55kB</td>
   <td><tt>267476bad7b45345c9255363cc1e348327cb1821</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/libksane-15.04.2.tar.xz">libksane-15.04.2</a></td>
   <td align="right">79kB</td>
   <td><tt>8939fc3f4b6ff08e82d60221313ba7e7dc743a30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/lokalize-15.04.2.tar.xz">lokalize-15.04.2</a></td>
   <td align="right">931kB</td>
   <td><tt>613330fe0e8b6589f529e01865d63bef8f65db21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/lskat-15.04.2.tar.xz">lskat-15.04.2</a></td>
   <td align="right">907kB</td>
   <td><tt>ff9a750649394e1521294b8b526a3dd9ca5ee031</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/marble-15.04.2.tar.xz">marble-15.04.2</a></td>
   <td align="right">21MB</td>
   <td><tt>055a59c6e6eaaa7cdb5ba837b1987dab35c93686</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/mplayerthumbs-15.04.2.tar.xz">mplayerthumbs-15.04.2</a></td>
   <td align="right">26kB</td>
   <td><tt>eeeaadd664d280407c60adfb53ffddca83d748e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/okteta-15.04.2.tar.xz">okteta-15.04.2</a></td>
   <td align="right">491kB</td>
   <td><tt>27812cd0539551791929363e31010df4623984ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/okular-15.04.2.tar.xz">okular-15.04.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>71dc65c6bb368f9c8942393899f012777f19f430</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/oxygen-icons-15.04.2.tar.xz">oxygen-icons-15.04.2</a></td>
   <td align="right">219MB</td>
   <td><tt>f0b84d7c04708bfcf91848dc263f7546bad8a7b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/pairs-15.04.2.tar.xz">pairs-15.04.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>1ed3ee71341d6cafa9864d26f47aca2764a7982e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/palapeli-15.04.2.tar.xz">palapeli-15.04.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d59220e2e76b2ea057d0d571f42392deab23defb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/parley-15.04.2.tar.xz">parley-15.04.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>1ca4660f617aca9171f9a25d02560c11f810dda1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/picmi-15.04.2.tar.xz">picmi-15.04.2</a></td>
   <td align="right">715kB</td>
   <td><tt>faf4261854e5e5617b0d6bc851c200da34bc15ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/poxml-15.04.2.tar.xz">poxml-15.04.2</a></td>
   <td align="right">30kB</td>
   <td><tt>bcc3834b0f96ec121db6a9e5de656e849b623f4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/print-manager-15.04.2.tar.xz">print-manager-15.04.2</a></td>
   <td align="right">91kB</td>
   <td><tt>70da212a8bb13ad9e5a9b44f1ebb20a2183a3a08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/rocs-15.04.2.tar.xz">rocs-15.04.2</a></td>
   <td align="right">521kB</td>
   <td><tt>1b0edf2c4720849b7c8d385ad0600952bb01763e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/signon-kwallet-extension-15.04.2.tar.xz">signon-kwallet-extension-15.04.2</a></td>
   <td align="right">10kB</td>
   <td><tt>3496f74804286c975560c66e6e052f7fdff89500</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/step-15.04.2.tar.xz">step-15.04.2</a></td>
   <td align="right">377kB</td>
   <td><tt>55523b3800447067d49e9b03364f68f94e3de7cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/superkaramba-15.04.2.tar.xz">superkaramba-15.04.2</a></td>
   <td align="right">372kB</td>
   <td><tt>a073eaf936944f786408a7783f91dfd82cf2a748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/svgpart-15.04.2.tar.xz">svgpart-15.04.2</a></td>
   <td align="right">8kB</td>
   <td><tt>6e1a69211649de6332ce3e43a4f83e62f1ee7232</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/sweeper-15.04.2.tar.xz">sweeper-15.04.2</a></td>
   <td align="right">80kB</td>
   <td><tt>1c0e403296e11fda4377f250035b1b54b8301a9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/umbrello-15.04.2.tar.xz">umbrello-15.04.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>8c294efdf06b7c5d8d98c8effe6454965c311d2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/zeroconf-ioslave-15.04.2.tar.xz">zeroconf-ioslave-15.04.2</a></td>
   <td align="right">25kB</td>
   <td><tt>66aea317a877343abe94b880bb75fe615ea81264</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-ar-15.04.2.tar.xz">kde-l10n-ar-15.04.2</a></td>
   <td align="right">3.2MB</td>
   <td><tt>4937fa33a911c2298f1e9acd73bb052d43ee89be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-bg-15.04.2.tar.xz">kde-l10n-bg-15.04.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>762da2ce67a24842138568d66e699a67aed651b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-bs-15.04.2.tar.xz">kde-l10n-bs-15.04.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>448422b01a16e844dcd178da773af53411087222</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-ca-15.04.2.tar.xz">kde-l10n-ca-15.04.2</a></td>
   <td align="right">11MB</td>
   <td><tt>f1ad07e349b52e268268d065f2052b2c6cebb57f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-ca@valencia-15.04.2.tar.xz">kde-l10n-ca@valencia-15.04.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>439b19d1d77e21c508575c07ef29d02620428108</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-cs-15.04.2.tar.xz">kde-l10n-cs-15.04.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>58cb34113d36b71687df5e0ff1e3b3f81f479377</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-da-15.04.2.tar.xz">kde-l10n-da-15.04.2</a></td>
   <td align="right">12MB</td>
   <td><tt>0217448645725fe3d8f6fcbbeca4198c772d4cc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-de-15.04.2.tar.xz">kde-l10n-de-15.04.2</a></td>
   <td align="right">35MB</td>
   <td><tt>2df95e490a4ae1279d991375bd2ee460c3cc50b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-el-15.04.2.tar.xz">kde-l10n-el-15.04.2</a></td>
   <td align="right">4.7MB</td>
   <td><tt>498bc12b8cd5843dff561fa7519f4fc41fab37d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-en_GB-15.04.2.tar.xz">kde-l10n-en_GB-15.04.2</a></td>
   <td align="right">3.0MB</td>
   <td><tt>763a09c3bda283ff2111c6a49c387d7b4dc54ae5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-eo-15.04.2.tar.xz">kde-l10n-eo-15.04.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>44c6af77f095a48c5e92af46d7252b939a126703</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-es-15.04.2.tar.xz">kde-l10n-es-15.04.2</a></td>
   <td align="right">20MB</td>
   <td><tt>78519dd17fddb38bbf3e7808563400a0bf6e80b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-et-15.04.2.tar.xz">kde-l10n-et-15.04.2</a></td>
   <td align="right">4.3MB</td>
   <td><tt>47c426ad2028599b01d57ea658e602fc2dad78ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-eu-15.04.2.tar.xz">kde-l10n-eu-15.04.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>57bf6df5058b601629a8e9c7494026d585c12f0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-fa-15.04.2.tar.xz">kde-l10n-fa-15.04.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c38e7bbffbda46913718d6079bcec13b461c6422</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-fi-15.04.2.tar.xz">kde-l10n-fi-15.04.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>34094d99915dcc1b1fae4a47d4e7ef4b7c84e291</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-fr-15.04.2.tar.xz">kde-l10n-fr-15.04.2</a></td>
   <td align="right">45MB</td>
   <td><tt>056e7b376780dd9b8e1ca5d259f34e432c7fb985</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-ga-15.04.2.tar.xz">kde-l10n-ga-15.04.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>f4122d97f183605b81a6e1faf324c230351abd31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-gl-15.04.2.tar.xz">kde-l10n-gl-15.04.2</a></td>
   <td align="right">3.5MB</td>
   <td><tt>4a76a9ee467988e60cc8000d17b4be753a94837e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-he-15.04.2.tar.xz">kde-l10n-he-15.04.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>1f7e770f37f6d7cda23aaf719b464f3952ca3d74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-hi-15.04.2.tar.xz">kde-l10n-hi-15.04.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>432e06d4372bac5864889f9a44e794e3990acdff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-hr-15.04.2.tar.xz">kde-l10n-hr-15.04.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>a488d8835c9aadc702b13f7aa155fe514226f94b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-hu-15.04.2.tar.xz">kde-l10n-hu-15.04.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>1825810a91587541d631470629ff45692a611bda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-ia-15.04.2.tar.xz">kde-l10n-ia-15.04.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ac7b5a636a44a3ad399f73b69209c3c23d749961</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-id-15.04.2.tar.xz">kde-l10n-id-15.04.2</a></td>
   <td align="right">551kB</td>
   <td><tt>72dbd8a8e1c8abf1168b6f26749fe48604e19aad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-is-15.04.2.tar.xz">kde-l10n-is-15.04.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>7d1e9c3bcde5be75a7bb939ff073aa6d39999ee9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-it-15.04.2.tar.xz">kde-l10n-it-15.04.2</a></td>
   <td align="right">8.5MB</td>
   <td><tt>869acad14f518c8c15abbf67f8ffe29ef400e47b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-ja-15.04.2.tar.xz">kde-l10n-ja-15.04.2</a></td>
   <td align="right">2.2MB</td>
   <td><tt>01889745522fd8e18024bee23f22715659761f44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-kk-15.04.2.tar.xz">kde-l10n-kk-15.04.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>2d1297a353d2a367adb218c2ea9de193927b6c62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-km-15.04.2.tar.xz">kde-l10n-km-15.04.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>c7196194240b9a0c8963ae3c9da0b37b4b8376b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-ko-15.04.2.tar.xz">kde-l10n-ko-15.04.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>b3f83f4435d044b4dab24ebae740192cbddc07c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-lt-15.04.2.tar.xz">kde-l10n-lt-15.04.2</a></td>
   <td align="right">12MB</td>
   <td><tt>f59f60652e36417b22abd9f684d2a8477ddd9618</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-lv-15.04.2.tar.xz">kde-l10n-lv-15.04.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>00576b36db0d6b17dbf525cfe4f60b8bca7bf293</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-mr-15.04.2.tar.xz">kde-l10n-mr-15.04.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>f358218d84a6df97a9899fb67ed77bb5010df426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-nb-15.04.2.tar.xz">kde-l10n-nb-15.04.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>2e7d18f9f5487f1c25b5e647984acbde554dca6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-nds-15.04.2.tar.xz">kde-l10n-nds-15.04.2</a></td>
   <td align="right">3.2MB</td>
   <td><tt>e042e5599c58287d96bffd7d2091c5240c10695d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-nl-15.04.2.tar.xz">kde-l10n-nl-15.04.2</a></td>
   <td align="right">13MB</td>
   <td><tt>8b151672f2d383ca0d5a8361e52bc6d55fd95d96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-nn-15.04.2.tar.xz">kde-l10n-nn-15.04.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>617ad849ef050f8ae090c2d8a599a7d2ec109290</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-pa-15.04.2.tar.xz">kde-l10n-pa-15.04.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>9fa85f38088e66ae254e77729a29c2064758d020</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-pl-15.04.2.tar.xz">kde-l10n-pl-15.04.2</a></td>
   <td align="right">18MB</td>
   <td><tt>f0fd2c03f721573d2bd9f77e7420660793d3a8df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-pt-15.04.2.tar.xz">kde-l10n-pt-15.04.2</a></td>
   <td align="right">3.6MB</td>
   <td><tt>34882597660694e7ae3ba9fae6283df2e6dac02e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-pt_BR-15.04.2.tar.xz">kde-l10n-pt_BR-15.04.2</a></td>
   <td align="right">24MB</td>
   <td><tt>6d1aad549a190543b31dab2d66a49560c3e1b082</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-ro-15.04.2.tar.xz">kde-l10n-ro-15.04.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>956600ac9578f7b6e813003987d35c35a1c99e9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-ru-15.04.2.tar.xz">kde-l10n-ru-15.04.2</a></td>
   <td align="right">22MB</td>
   <td><tt>65f0dd2a1bc1b9218e778a4cac3f9b4433236981</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-sk-15.04.2.tar.xz">kde-l10n-sk-15.04.2</a></td>
   <td align="right">4.4MB</td>
   <td><tt>115d517bd7c1ccaadceb16c1c61d65469c213061</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-sl-15.04.2.tar.xz">kde-l10n-sl-15.04.2</a></td>
   <td align="right">3.1MB</td>
   <td><tt>6c0149b617e2263fb7ac982cea61cd27618294f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-sr-15.04.2.tar.xz">kde-l10n-sr-15.04.2</a></td>
   <td align="right">4.6MB</td>
   <td><tt>10f45ba81753f5aedc1750d80db8cc40fb270aa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-sv-15.04.2.tar.xz">kde-l10n-sv-15.04.2</a></td>
   <td align="right">14MB</td>
   <td><tt>c0d6306d3b9d3deb420483c391b56313396c5c8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-tr-15.04.2.tar.xz">kde-l10n-tr-15.04.2</a></td>
   <td align="right">3.8MB</td>
   <td><tt>5bbc88146d12ef1cd3aecda4ff6c6bf22574d245</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-ug-15.04.2.tar.xz">kde-l10n-ug-15.04.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e1960c0cabf4bac0fc7c17ca47ade5c0ef365b1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-uk-15.04.2.tar.xz">kde-l10n-uk-15.04.2</a></td>
   <td align="right">26MB</td>
   <td><tt>ea09b2299e48a6f16f16a50ee48c2a6acc72568c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-wa-15.04.2.tar.xz">kde-l10n-wa-15.04.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d03d1f69fc519da23c15887c0937f741e08520f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-zh_CN-15.04.2.tar.xz">kde-l10n-zh_CN-15.04.2</a></td>
   <td align="right">3.5MB</td>
   <td><tt>0048bf9c7d7224e38efeb3794ad16b4705c0a0db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.2/src/kde-l10n/kde-l10n-zh_TW-15.04.2.tar.xz">kde-l10n-zh_TW-15.04.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>acf9d248b25e95017c5d4302a2e4976d550b3812</tt></td>
</tr>

</table>
