<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/baloo-5.6.1.tar.xz">baloo-5.6.1</a></td>
   <td align="right">137kB</td>
   <td><tt>c2e1b6bf3c2ad830fde63c863fa1b792272cca2986a5145b490ba63ef116eea9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/bluedevil-5.2.1.tar.xz">bluedevil-5.2.1</a></td>
   <td align="right">96kB</td>
   <td><tt>d5f4cf82dda6b05b2ba6785e3974c9abc0186325804787515615928d94b850c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/breeze-5.2.1.tar.xz">breeze-5.2.1</a></td>
   <td align="right">26MB</td>
   <td><tt>c5471268ca0fb4e9f0f2f27c3d4192c306f4bc259135c9aed027a15c4bd0b761</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/kde-cli-tools-5.2.1.tar.xz">kde-cli-tools-5.2.1</a></td>
   <td align="right">464kB</td>
   <td><tt>38ed83602db6cb4c14fb18351047523cbde941d38588228d0692564a64b0b97f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/kde-gtk-config-5.2.1.tar.xz">kde-gtk-config-5.2.1</a></td>
   <td align="right">135kB</td>
   <td><tt>7ca753fc3b3b6fb8114f4c9c602505f198cba3bbfd57f9592621f3d039a13434</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/kdecoration-5.2.1.tar.xz">kdecoration-5.2.1</a></td>
   <td align="right">32kB</td>
   <td><tt>9eb9a1b155c525121816d7fb06193971c5cafb5a414a3d82b86a7562e0832024</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/kdeplasma-addons-5.2.1.tar.xz">kdeplasma-addons-5.2.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>239f137c78715c661f53364cff353581c323164ab870ec3fa04be2008b33cbd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/kfilemetadata-5.6.1.tar.xz">kfilemetadata-5.6.1</a></td>
   <td align="right">110kB</td>
   <td><tt>83d375cef080fd9171b84c37229b8f090e69ae4d05196c7baee472f22cfccd70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/khelpcenter-5.2.1.tar.xz">khelpcenter-5.2.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>bce388e0dbd0b8236537800f36d5d63ad70ffdbfe1fb4a910682dc32d406549f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/khotkeys-5.2.1.tar.xz">khotkeys-5.2.1</a></td>
   <td align="right">724kB</td>
   <td><tt>56bff62ce53325a6ef8ad91ee8f39d7c8184f3c793a0a657d58a748ea7b75004</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/kinfocenter-5.2.1.tar.xz">kinfocenter-5.2.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>289e902e0a59a9a604c677f1cad79ad2f3ffcb25b6060966efb642fbc29c3590</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/kio-extras-5.2.1.tar.xz">kio-extras-5.2.1</a></td>
   <td align="right">504kB</td>
   <td><tt>a856e639804e6b90c17a1a8e6cd1094d90a0fe654fe391ed86daaacb3304812c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/kmenuedit-5.2.1.tar.xz">kmenuedit-5.2.1</a></td>
   <td align="right">333kB</td>
   <td><tt>2851c5e0bf1d3b333c0bde198774ab2f52ea12b5b6767e9ca7a23a89eaebee4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/kscreen-5.2.1.tar.xz">kscreen-5.2.1</a></td>
   <td align="right">79kB</td>
   <td><tt>ae1d0ededb78be624191058a1f0111717a34ed9d3cc565c5fb4cfe9df1e69b98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/ksshaskpass-5.2.1.tar.xz">ksshaskpass-5.2.1</a></td>
   <td align="right">15kB</td>
   <td><tt>a0da7fb85b8b018663c951d56e304b8740d2248d09ae3c73fee79ddd953d8aa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/ksysguard-5.2.1.tar.xz">ksysguard-5.2.1</a></td>
   <td align="right">431kB</td>
   <td><tt>53281403c47840915cedf6216b68c7b2f7afc5314de28858f074101eb541591b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/kwayland-5.2.1.tar.xz">kwayland-5.2.1</a></td>
   <td align="right">83kB</td>
   <td><tt>145d20cdaf8b2a678d9bff20a7867175e0e353c431a047f394c55415354bf0b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/kwin-5.2.1.tar.xz">kwin-5.2.1</a></td>
   <td align="right">3.5MB</td>
   <td><tt>d17c95fef098e853a468f91d2dbb7313a8bc1917fd5695e48f521e0fa6cae7b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/kwrited-5.2.1.tar.xz">kwrited-5.2.1</a></td>
   <td align="right">19kB</td>
   <td><tt>ea60b42debaf8a2c7759400e1b88294912c97df63bcb996929ecf77b5842de00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/libbluedevil-5.2.1.tar.xz">libbluedevil-5.2.1</a></td>
   <td align="right">187kB</td>
   <td><tt>b75919470432e538b7b218fd9eba49736c9a29ffc1bb731cf17f09daef0013f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/libkscreen-5.2.1.tar.xz">libkscreen-5.2.1</a></td>
   <td align="right">69kB</td>
   <td><tt>5a61f2586328f4a13807273b71da0032c230b76d99a96a5d09c705fdc6a9fb44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/libksysguard-5.2.1.tar.xz">libksysguard-5.2.1</a></td>
   <td align="right">536kB</td>
   <td><tt>4239c66da50c2bca7465a7e2842421aaff5c12a56dcebd1cd3fbede6141c1a38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/libmm-qt-5.2.1.tar.xz">libmm-qt-5.2.1</a></td>
   <td align="right">74kB</td>
   <td><tt>96c346189c3021c7712043ad22df3e89136e5d876bd9dce0e9594622df227858</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/milou-5.2.1.tar.xz">milou-5.2.1</a></td>
   <td align="right">49kB</td>
   <td><tt>d6472ca1ce2fb865a856c1b3008a5c8c385df3e9bbe991cb7f03bfc50f77abe0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/muon-5.2.1.tar.xz">muon-5.2.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ae4fbf3282d29c745e9c9daae129a94e80b98a2708d360bfa606026d053eaa84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/oxygen-5.2.1.tar.xz">oxygen-5.2.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>3410400ff27884c2d86514623cf18b6676638cb407ccd93cda2a941889f049aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/oxygen-fonts-5.2.1.tar.xz">oxygen-fonts-5.2.1</a></td>
   <td align="right">157kB</td>
   <td><tt>950237428816bb22759699cc1aec7abd39f6f98a75b41a01d915465f4680d076</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/plasma-desktop-5.2.1.tar.xz">plasma-desktop-5.2.1</a></td>
   <td align="right">5.2MB</td>
   <td><tt>ada8f06f922418be2bdca5e98b1ec03fdfc7a461688ac3ea054d7e8ad6f6f222</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/plasma-nm-5.2.1.tar.xz">plasma-nm-5.2.1</a></td>
   <td align="right">484kB</td>
   <td><tt>d2ad14d041373fbab8160081e3c0491bc002398c9252fdca12b44d22769f8fb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/plasma-workspace-5.2.1.tar.xz">plasma-workspace-5.2.1</a></td>
   <td align="right">6.3MB</td>
   <td><tt>c3dca77ea4deb872cf5225f5982055cf71fda3d63ff6cd08ab11215770d0b451</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/plasma-workspace-wallpapers-5.2.1.tar.xz">plasma-workspace-wallpapers-5.2.1</a></td>
   <td align="right">27MB</td>
   <td><tt>1db8ce7814068fbf060a898ef15fa259c130932042e1cce8fc5dfebe9ee70b36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/polkit-kde-agent-1-5.2.1.tar.xz">polkit-kde-agent-1-5.2.1</a></td>
   <td align="right">38kB</td>
   <td><tt>c4c9b1e747f0ba0adc02b0c3e8cf8423dc679152bcc0ef915fe1d7ca79d49569</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/powerdevil-5.2.1.tar.xz">powerdevil-5.2.1</a></td>
   <td align="right">406kB</td>
   <td><tt>d53ddb4702b3807f4b3c31827315652a70f572850e6c7eaef67d035ef9bff090</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/sddm-kcm-5.2.1.tar.xz">sddm-kcm-5.2.1</a></td>
   <td align="right">41kB</td>
   <td><tt>230b3b85d016cb5ff8ff6c6c38c18c3a89a77f24497b62b44633072950d1514a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.1/systemsettings-5.2.1.tar.xz">systemsettings-5.2.1</a></td>
   <td align="right">132kB</td>
   <td><tt>c492b03c19b86d0ca5422ac9913d19af73c152e952b3a39e1e4daef672246845</tt></td>
</tr>

</table>
