<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/akonadi-20.08.0.tar.xz">akonadi-20.08.0</a></td>
   <td align="right">1546kB</td>
   <td><tt>e6d9892eef0cdb9b8d6f749a7b9d025a730173ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/akonadi-calendar-20.08.0.tar.xz">akonadi-calendar-20.08.0</a></td>
   <td align="right">327kB</td>
   <td><tt>7db4b0d75c60f3d0952501ec5b97c5ea6c539aa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/akonadi-calendar-tools-20.08.0.tar.xz">akonadi-calendar-tools-20.08.0</a></td>
   <td align="right">220kB</td>
   <td><tt>33192f205a82d4a945c99d3cf9b6db30db4d1bde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/akonadiconsole-20.08.0.tar.xz">akonadiconsole-20.08.0</a></td>
   <td align="right">190kB</td>
   <td><tt>02e46f20998570931d4d490160811fc121e465a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/akonadi-contacts-20.08.0.tar.xz">akonadi-contacts-20.08.0</a></td>
   <td align="right">393kB</td>
   <td><tt>ccb09fc28ffedf9efcbbf741cec302a5d798508f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/akonadi-import-wizard-20.08.0.tar.xz">akonadi-import-wizard-20.08.0</a></td>
   <td align="right">493kB</td>
   <td><tt>2d5a8ff5eeb2ed14551c7b8df995690d55f38ebe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/akonadi-mime-20.08.0.tar.xz">akonadi-mime-20.08.0</a></td>
   <td align="right">134kB</td>
   <td><tt>86752cc015be40fe659d6c208934cc021f7e94c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/akonadi-notes-20.08.0.tar.xz">akonadi-notes-20.08.0</a></td>
   <td align="right">22kB</td>
   <td><tt>ceae16aa98d6de766d2d48d08780b70f032ac98a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/akonadi-search-20.08.0.tar.xz">akonadi-search-20.08.0</a></td>
   <td align="right">91kB</td>
   <td><tt>3aa82f6390f685d5306efabe709e0b4be4845428</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/akregator-20.08.0.tar.xz">akregator-20.08.0</a></td>
   <td align="right">2151kB</td>
   <td><tt>b6c30008743fcd29330859ba01bec99f74ad9a71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/analitza-20.08.0.tar.xz">analitza-20.08.0</a></td>
   <td align="right">330kB</td>
   <td><tt>7a12a31ce567b526efde7a2845472fea0c9f92ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ark-20.08.0.tar.xz">ark-20.08.0</a></td>
   <td align="right">2644kB</td>
   <td><tt>e1eb9117114375f876b916c914bad0f05e4a7f5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/artikulate-20.08.0.tar.xz">artikulate-20.08.0</a></td>
   <td align="right">1057kB</td>
   <td><tt>08fb8f93aad12a4ec4f0a60d4cb569bc311a805e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/audiocd-kio-20.08.0.tar.xz">audiocd-kio-20.08.0</a></td>
   <td align="right">486kB</td>
   <td><tt>c7b79ae13a54e44c3d62828489fad72335dfd689</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/baloo-widgets-20.08.0.tar.xz">baloo-widgets-20.08.0</a></td>
   <td align="right">255kB</td>
   <td><tt>3f9dd5c202593222977ed4ecaea906fb9dfc1f80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/blinken-20.08.0.tar.xz">blinken-20.08.0</a></td>
   <td align="right">2762kB</td>
   <td><tt>d68c370de3015b55a19c62cdc8f6a909728e3212</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/bomber-20.08.0.tar.xz">bomber-20.08.0</a></td>
   <td align="right">805kB</td>
   <td><tt>825c3bddaf6f8d8028d18a1e05ba09a17cb1e1cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/bovo-20.08.0.tar.xz">bovo-20.08.0</a></td>
   <td align="right">201kB</td>
   <td><tt>8a95af5ebf1cf320d7ce6d1d99e3246bc0aa2376</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/calendarsupport-20.08.0.tar.xz">calendarsupport-20.08.0</a></td>
   <td align="right">644kB</td>
   <td><tt>55756f03cbc875361ba9abd9646980069568f38e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/cantor-20.08.0.tar.xz">cantor-20.08.0</a></td>
   <td align="right">8865kB</td>
   <td><tt>174b4778ec150f931c511a2df30ca0db8a4787bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/cervisia-20.08.0.tar.xz">cervisia-20.08.0</a></td>
   <td align="right">1844kB</td>
   <td><tt>bd3b9fa7f948cbb2d176bf75c3cadc3abe53dc31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/dolphin-20.08.0.tar.xz">dolphin-20.08.0</a></td>
   <td align="right">4969kB</td>
   <td><tt>f1751f999e950554ad8ac533e033724ea64c2301</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/dolphin-plugins-20.08.0.tar.xz">dolphin-plugins-20.08.0</a></td>
   <td align="right">221kB</td>
   <td><tt>972d5e8a7b3adf5a56e57e4ea782e9e2c06a5447</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/dragon-20.08.0.tar.xz">dragon-20.08.0</a></td>
   <td align="right">1617kB</td>
   <td><tt>1dcd15569c1ad39f9eacd41eaec7d8864b9a5e4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/elisa-20.08.0.tar.xz">elisa-20.08.0</a></td>
   <td align="right">1595kB</td>
   <td><tt>9f3b0ef21830986807e399f12807c89c4d424c85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/eventviews-20.08.0.tar.xz">eventviews-20.08.0</a></td>
   <td align="right">434kB</td>
   <td><tt>cd5a0de453ec341cc478f426de5499ade4ae6a56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ffmpegthumbs-20.08.0.tar.xz">ffmpegthumbs-20.08.0</a></td>
   <td align="right">31kB</td>
   <td><tt>8d21f4f390ee847391aeae39c3074998a7dac759</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/filelight-20.08.0.tar.xz">filelight-20.08.0</a></td>
   <td align="right">650kB</td>
   <td><tt>6605bb26c9601563f3abdd224c7a67e9c152c3d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/granatier-20.08.0.tar.xz">granatier-20.08.0</a></td>
   <td align="right">1905kB</td>
   <td><tt>7c73d1e8d074ef36330b731e2c56080ec5e40b38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/grantlee-editor-20.08.0.tar.xz">grantlee-editor-20.08.0</a></td>
   <td align="right">109kB</td>
   <td><tt>1ce39009d56f8357439c6fe47f7a12cd29f19040</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/grantleetheme-20.08.0.tar.xz">grantleetheme-20.08.0</a></td>
   <td align="right">54kB</td>
   <td><tt>acd3c7fc35a20a11e150e99a6a11e5b8414f0d27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/gwenview-20.08.0.tar.xz">gwenview-20.08.0</a></td>
   <td align="right">6582kB</td>
   <td><tt>9a618846d5d90494fe85277c59a6afb3dfa153a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/incidenceeditor-20.08.0.tar.xz">incidenceeditor-20.08.0</a></td>
   <td align="right">530kB</td>
   <td><tt>b0a485a445cdd4e272be85057434a53d53daad79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/juk-20.08.0.tar.xz">juk-20.08.0</a></td>
   <td align="right">1951kB</td>
   <td><tt>e941b585ce9e846b9a07f6317482d4357bdcc7fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/k3b-20.08.0.tar.xz">k3b-20.08.0</a></td>
   <td align="right">10433kB</td>
   <td><tt>b4a3cf62113c68bdcbc9537c2dfe6f08c3ddb65f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kaccounts-integration-20.08.0.tar.xz">kaccounts-integration-20.08.0</a></td>
   <td align="right">72kB</td>
   <td><tt>7d9239c794e209d3e872bc02c54129e94c6c8dd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kaccounts-providers-20.08.0.tar.xz">kaccounts-providers-20.08.0</a></td>
   <td align="right">35kB</td>
   <td><tt>d0b50df34a4454f5c61d47c409c4ea4b6d38fd1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kaddressbook-20.08.0.tar.xz">kaddressbook-20.08.0</a></td>
   <td align="right">3091kB</td>
   <td><tt>f3ac8a4f85e114acc86f1341aa4abaf75d78be39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kajongg-20.08.0.tar.xz">kajongg-20.08.0</a></td>
   <td align="right">4370kB</td>
   <td><tt>cb64c1acbb99517664fbed7d1227970c51294fb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kalarm-20.08.0.tar.xz">kalarm-20.08.0</a></td>
   <td align="right">1868kB</td>
   <td><tt>29560cccd4fdcab95a5c835ebb3cd1321b152296</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kalarmcal-20.08.0.tar.xz">kalarmcal-20.08.0</a></td>
   <td align="right">561kB</td>
   <td><tt>7cd0e33a47088e211187e0ce14793fe96c9896a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kalgebra-20.08.0.tar.xz">kalgebra-20.08.0</a></td>
   <td align="right">1136kB</td>
   <td><tt>ea097dc5c600588c07243fe277daa185dca99fea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kalzium-20.08.0.tar.xz">kalzium-20.08.0</a></td>
   <td align="right">23951kB</td>
   <td><tt>50b4e4f569bd34578d3a25051d71e0cd6b57d78d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kamera-20.08.0.tar.xz">kamera-20.08.0</a></td>
   <td align="right">106kB</td>
   <td><tt>decc13432c89540c4eb04602ec91fd8894fb293d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kamoso-20.08.0.tar.xz">kamoso-20.08.0</a></td>
   <td align="right">206kB</td>
   <td><tt>b477bad429c9b3518a3805e0a358145681b7e7d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kanagram-20.08.0.tar.xz">kanagram-20.08.0</a></td>
   <td align="right">7840kB</td>
   <td><tt>7a643ed7ae86325a135eb4af9d801dc156b7f5bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kapman-20.08.0.tar.xz">kapman-20.08.0</a></td>
   <td align="right">2472kB</td>
   <td><tt>c012f046d9a3236a9de49ab7ddbe5cf4d36909e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kapptemplate-20.08.0.tar.xz">kapptemplate-20.08.0</a></td>
   <td align="right">326kB</td>
   <td><tt>db9c4ea13923d8ff5a37a235f405d9849ed0491e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kate-20.08.0.tar.xz">kate-20.08.0</a></td>
   <td align="right">5711kB</td>
   <td><tt>7d1b5c2f7272a9176280137e0da8a243d765f9da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/katomic-20.08.0.tar.xz">katomic-20.08.0</a></td>
   <td align="right">1395kB</td>
   <td><tt>1adaed107c9300c09be5db861f14296b3d71d7d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kbackup-20.08.0.tar.xz">kbackup-20.08.0</a></td>
   <td align="right">362kB</td>
   <td><tt>6f146bce1fae725e0a9387e32633fc99cff19fd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kblackbox-20.08.0.tar.xz">kblackbox-20.08.0</a></td>
   <td align="right">439kB</td>
   <td><tt>e00e1a05ef35e4c58ca53956792650445f597dc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kblocks-20.08.0.tar.xz">kblocks-20.08.0</a></td>
   <td align="right">1862kB</td>
   <td><tt>7dc51cf3609dcc5db7c037b8f0d26f487ee0911d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kbounce-20.08.0.tar.xz">kbounce-20.08.0</a></td>
   <td align="right">3363kB</td>
   <td><tt>3849ba3d34fc5b9f261fd518e5f57665d8b171ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kbreakout-20.08.0.tar.xz">kbreakout-20.08.0</a></td>
   <td align="right">2229kB</td>
   <td><tt>0cc39bf458bc4f77313996bc3e3dd8ad5dc8e5b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kbruch-20.08.0.tar.xz">kbruch-20.08.0</a></td>
   <td align="right">5483kB</td>
   <td><tt>ce30f69cb3f20f5e947aa4f17f89db5d25485c93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kcachegrind-20.08.0.tar.xz">kcachegrind-20.08.0</a></td>
   <td align="right">772kB</td>
   <td><tt>e98e6694f80409faf38608b140f5d939d6b1653a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kcalc-20.08.0.tar.xz">kcalc-20.08.0</a></td>
   <td align="right">370kB</td>
   <td><tt>5cc51e10a6484cbb9f718596fb770ac9de26fcb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kcalutils-20.08.0.tar.xz">kcalutils-20.08.0</a></td>
   <td align="right">317kB</td>
   <td><tt>2f37d0142c62220ac399b93e41dfeaa93a5decd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kcharselect-20.08.0.tar.xz">kcharselect-20.08.0</a></td>
   <td align="right">357kB</td>
   <td><tt>c48d8f65aab16d8992bb3250df6a73aa7ee51b7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kcolorchooser-20.08.0.tar.xz">kcolorchooser-20.08.0</a></td>
   <td align="right">26kB</td>
   <td><tt>6449ac7e9cafcdccf8aa1b195439fb90afc56beb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kcron-20.08.0.tar.xz">kcron-20.08.0</a></td>
   <td align="right">877kB</td>
   <td><tt>bce8af3bdf0dd5436a282c37d33bb4196ebc39e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kdebugsettings-20.08.0.tar.xz">kdebugsettings-20.08.0</a></td>
   <td align="right">65kB</td>
   <td><tt>5c8fe41d4c453d16b799c1227ff2de065d0d6b7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kdeconnect-kde-20.08.0.tar.xz">kdeconnect-kde-20.08.0</a></td>
   <td align="right">398kB</td>
   <td><tt>7a22f98b649c38046643eb2a751b57d8862d164c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kde-dev-scripts-20.08.0.tar.xz">kde-dev-scripts-20.08.0</a></td>
   <td align="right">357kB</td>
   <td><tt>204d579bef7a9709c26227a98500994dca4516c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kde-dev-utils-20.08.0.tar.xz">kde-dev-utils-20.08.0</a></td>
   <td align="right">63kB</td>
   <td><tt>7e2619e4e000e1198dcaf8c4d793caa8cb2706f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kdeedu-data-20.08.0.tar.xz">kdeedu-data-20.08.0</a></td>
   <td align="right">327kB</td>
   <td><tt>cc4381ae353ef74aefe5df3ad487b86ee0ecb3f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kdegraphics-mobipocket-20.08.0.tar.xz">kdegraphics-mobipocket-20.08.0</a></td>
   <td align="right">16kB</td>
   <td><tt>771b5ee36354d974e2604b8431adbf594f7ea1d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kdegraphics-thumbnailers-20.08.0.tar.xz">kdegraphics-thumbnailers-20.08.0</a></td>
   <td align="right">45kB</td>
   <td><tt>9ade31d6528767d9c80a64e1915e2da5bcaaa582</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kdenetwork-filesharing-20.08.0.tar.xz">kdenetwork-filesharing-20.08.0</a></td>
   <td align="right">313kB</td>
   <td><tt>92d97af659379a518290eab53a510e784793869c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kdenlive-20.08.0.tar.xz">kdenlive-20.08.0</a></td>
   <td align="right">11101kB</td>
   <td><tt>8fc592f8fae25c36798c29f9a6cc0f2a6feec7bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kdepim-addons-20.08.0.tar.xz">kdepim-addons-20.08.0</a></td>
   <td align="right">2021kB</td>
   <td><tt>bfc7940bfdff2a86f7732e03c8bf386e7a1a47a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kdepim-apps-libs-20.08.0.tar.xz">kdepim-apps-libs-20.08.0</a></td>
   <td align="right">58kB</td>
   <td><tt>fc0a40f7fb6793f361e173f60ba70da209bcf561</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kdepim-runtime-20.08.0.tar.xz">kdepim-runtime-20.08.0</a></td>
   <td align="right">1712kB</td>
   <td><tt>34bc7b7c52b50a42207c92c0b1e75c6431a8f3b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kdesdk-kioslaves-20.08.0.tar.xz">kdesdk-kioslaves-20.08.0</a></td>
   <td align="right">36kB</td>
   <td><tt>4c999d872f1e5563c26dcfa9ecb3e3a09fe43809</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kdesdk-thumbnailers-20.08.0.tar.xz">kdesdk-thumbnailers-20.08.0</a></td>
   <td align="right">17kB</td>
   <td><tt>90f7b3ceccaabc9e53827c229638b95c9e738206</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kdf-20.08.0.tar.xz">kdf-20.08.0</a></td>
   <td align="right">456kB</td>
   <td><tt>7e6b8869d6151ace645e32b12cb85efb30b6d97e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kdialog-20.08.0.tar.xz">kdialog-20.08.0</a></td>
   <td align="right">104kB</td>
   <td><tt>5de4e2b6d41111cefabbe5d1120a3c6023d495a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kdiamond-20.08.0.tar.xz">kdiamond-20.08.0</a></td>
   <td align="right">4587kB</td>
   <td><tt>5bcc21d9fd85d95293c6d6b58d85e0ede4d9b787</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/keditbookmarks-20.08.0.tar.xz">keditbookmarks-20.08.0</a></td>
   <td align="right">186kB</td>
   <td><tt>d0159845e431c9e51c309de395b31f69ab9ca008</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kfind-20.08.0.tar.xz">kfind-20.08.0</a></td>
   <td align="right">272kB</td>
   <td><tt>e3589d3370417d48ef0c7019b7b8f10a6747e334</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kfloppy-20.08.0.tar.xz">kfloppy-20.08.0</a></td>
   <td align="right">199kB</td>
   <td><tt>9ff1621d1b9d4a6f61e7feed5cc1378fe597139f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kfourinline-20.08.0.tar.xz">kfourinline-20.08.0</a></td>
   <td align="right">628kB</td>
   <td><tt>04db8ff6a3c3ed484672de7b21d37b67893895c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kgeography-20.08.0.tar.xz">kgeography-20.08.0</a></td>
   <td align="right">10512kB</td>
   <td><tt>1765ba6dc572a82c4bcb12d88a72f00cff496ea9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kget-20.08.0.tar.xz">kget-20.08.0</a></td>
   <td align="right">5452kB</td>
   <td><tt>0907cfbba29aaf8db5943613deea946deddb23ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kgoldrunner-20.08.0.tar.xz">kgoldrunner-20.08.0</a></td>
   <td align="right">4345kB</td>
   <td><tt>2a8bea7e5999fc08fa8268f18e4e3b3fd0c2528c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kgpg-20.08.0.tar.xz">kgpg-20.08.0</a></td>
   <td align="right">2816kB</td>
   <td><tt>97fc9aecfb0aa77eb69bee0543cb0e72aba6133e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/khangman-20.08.0.tar.xz">khangman-20.08.0</a></td>
   <td align="right">7234kB</td>
   <td><tt>d357c94344535c9bb283ce918bcdc74528bd13da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/khelpcenter-20.08.0.tar.xz">khelpcenter-20.08.0</a></td>
   <td align="right">4151kB</td>
   <td><tt>d9f5e52953c1fbb5c1f6c57f852b55ae4bade3d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kidentitymanagement-20.08.0.tar.xz">kidentitymanagement-20.08.0</a></td>
   <td align="right">146kB</td>
   <td><tt>2aa649283309668576f32c984e9368384f19a7e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kig-20.08.0.tar.xz">kig-20.08.0</a></td>
   <td align="right">3408kB</td>
   <td><tt>3b7aafc5df80e8ffbad1875e32b53ec822339044</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kigo-20.08.0.tar.xz">kigo-20.08.0</a></td>
   <td align="right">5109kB</td>
   <td><tt>53a34aab61da488b12b7d68ef9285b4f828f9579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/killbots-20.08.0.tar.xz">killbots-20.08.0</a></td>
   <td align="right">1157kB</td>
   <td><tt>02e4e687e055254b97c7bd7c071836d45ed427d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kimagemapeditor-20.08.0.tar.xz">kimagemapeditor-20.08.0</a></td>
   <td align="right">1052kB</td>
   <td><tt>276209e22819b9cdca5276527c37c21f7b1a8097</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kimap-20.08.0.tar.xz">kimap-20.08.0</a></td>
   <td align="right">117kB</td>
   <td><tt>38cd72d5438a8697b829a771713b22fafe818a73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kio-extras-20.08.0.tar.xz">kio-extras-20.08.0</a></td>
   <td align="right">615kB</td>
   <td><tt>be0d362fd3a9715d21988b1d88bb5927c2b60b44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kio-gdrive-20.08.0.tar.xz">kio-gdrive-20.08.0</a></td>
   <td align="right">55kB</td>
   <td><tt>51e9d9c61487e9dffc94d7daa997cb445c3b9dd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kipi-plugins-20.08.0.tar.xz">kipi-plugins-20.08.0</a></td>
   <td align="right">1605kB</td>
   <td><tt>e8c8554ed3d14abfcde9888f5c966b7d1c5f3148</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kirigami-gallery-20.08.0.tar.xz">kirigami-gallery-20.08.0</a></td>
   <td align="right">281kB</td>
   <td><tt>da10463bd1b3dc876790ecf04f60ccc4016b3567</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kiriki-20.08.0.tar.xz">kiriki-20.08.0</a></td>
   <td align="right">369kB</td>
   <td><tt>d7365621ccef65506ef2ca59f1a64db70f01ecf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kiten-20.08.0.tar.xz">kiten-20.08.0</a></td>
   <td align="right">11032kB</td>
   <td><tt>fa073ccf644c3c2c80d282f4e59999fd34b38713</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kitinerary-20.08.0.tar.xz">kitinerary-20.08.0</a></td>
   <td align="right">1714kB</td>
   <td><tt>9985aa1c4fc025bf6ac91af4e4fe534fce883744</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kjumpingcube-20.08.0.tar.xz">kjumpingcube-20.08.0</a></td>
   <td align="right">283kB</td>
   <td><tt>6e73ffbcfa6526a93faa7b8b6f4f398b538c9107</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kldap-20.08.0.tar.xz">kldap-20.08.0</a></td>
   <td align="right">160kB</td>
   <td><tt>86a85fe0ba9d8c6213370d22162862ac5c431b23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kleopatra-20.08.0.tar.xz">kleopatra-20.08.0</a></td>
   <td align="right">1891kB</td>
   <td><tt>a3e6befdebf7d0787baee14a0a42b1700459b64a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/klettres-20.08.0.tar.xz">klettres-20.08.0</a></td>
   <td align="right">45737kB</td>
   <td><tt>dfc4338b28ca6540dd0db0cdfe779e40e45a6940</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/klickety-20.08.0.tar.xz">klickety-20.08.0</a></td>
   <td align="right">1361kB</td>
   <td><tt>fa30a448d92f23497d5ecf4f94748607bb3b349d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/klines-20.08.0.tar.xz">klines-20.08.0</a></td>
   <td align="right">1747kB</td>
   <td><tt>b15e9589d8c91199a0972c7cdb8e77eb4a50c8ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kmag-20.08.0.tar.xz">kmag-20.08.0</a></td>
   <td align="right">681kB</td>
   <td><tt>3c7fa1157d701ce6ebf0423bbe3eb26edbeab593</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kmahjongg-20.08.0.tar.xz">kmahjongg-20.08.0</a></td>
   <td align="right">3354kB</td>
   <td><tt>bd15c512166658e768d305fcad24b1ae3ebefc67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kmail-20.08.0.tar.xz">kmail-20.08.0</a></td>
   <td align="right">5033kB</td>
   <td><tt>e386f40ca41fc2a03c5ed702bb0a7712316253f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kmail-account-wizard-20.08.0.tar.xz">kmail-account-wizard-20.08.0</a></td>
   <td align="right">156kB</td>
   <td><tt>ea18a982005241351938768da711da8b8cfd9588</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kmailtransport-20.08.0.tar.xz">kmailtransport-20.08.0</a></td>
   <td align="right">163kB</td>
   <td><tt>525e395aa154d69dd8741aa5db15a9d4578712d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kmbox-20.08.0.tar.xz">kmbox-20.08.0</a></td>
   <td align="right">24kB</td>
   <td><tt>5d578a88f930fffc1132acf7f550ee18ae76e103</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kmime-20.08.0.tar.xz">kmime-20.08.0</a></td>
   <td align="right">148kB</td>
   <td><tt>d7c2359f1912957a2c85fdbe523ee66f1be4cc0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kmines-20.08.0.tar.xz">kmines-20.08.0</a></td>
   <td align="right">934kB</td>
   <td><tt>7a0bf7afb9c4a55400d7e48c48a2f775c7d4beaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kmix-20.08.0.tar.xz">kmix-20.08.0</a></td>
   <td align="right">1081kB</td>
   <td><tt>f8c92501d05d950d189c9b4e0bfde619e90cfec4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kmousetool-20.08.0.tar.xz">kmousetool-20.08.0</a></td>
   <td align="right">113kB</td>
   <td><tt>2929a6684e5f4fcad350795b39230fa08ae4abc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kmouth-20.08.0.tar.xz">kmouth-20.08.0</a></td>
   <td align="right">2035kB</td>
   <td><tt>b59a954ebd0b2ea7f9e1a8164e1d17e32819e964</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kmplot-20.08.0.tar.xz">kmplot-20.08.0</a></td>
   <td align="right">2983kB</td>
   <td><tt>7e769543240d2068630f19849fdc28918aa849b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/knavalbattle-20.08.0.tar.xz">knavalbattle-20.08.0</a></td>
   <td align="right">1257kB</td>
   <td><tt>c639c43de37342af4008bd766359fecc261639a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/knetwalk-20.08.0.tar.xz">knetwalk-20.08.0</a></td>
   <td align="right">1237kB</td>
   <td><tt>057e379047a23812b68e6bbd0567912fcdc56f8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/knights-20.08.0.tar.xz">knights-20.08.0</a></td>
   <td align="right">3452kB</td>
   <td><tt>5e65010cdc191e3f764b9c3b803bb6e2825f5bc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/knotes-20.08.0.tar.xz">knotes-20.08.0</a></td>
   <td align="right">314kB</td>
   <td><tt>d73b7d9fdbbb9ab7a69ae92477813004819e0926</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kolf-20.08.0.tar.xz">kolf-20.08.0</a></td>
   <td align="right">1004kB</td>
   <td><tt>f41134239202a035d41e012cf4e0cfe62af72bab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kollision-20.08.0.tar.xz">kollision-20.08.0</a></td>
   <td align="right">281kB</td>
   <td><tt>a35cf91e8d65d187bbf9622da6bfc968ac539750</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kolourpaint-20.08.0.tar.xz">kolourpaint-20.08.0</a></td>
   <td align="right">5553kB</td>
   <td><tt>e0cffb49c1fedaf4bb990a215c416d6eb4896bae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kompare-20.08.0.tar.xz">kompare-20.08.0</a></td>
   <td align="right">902kB</td>
   <td><tt>ba16cdff5a61107e8be627d135833f500cac72bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/konqueror-20.08.0.tar.xz">konqueror-20.08.0</a></td>
   <td align="right">7004kB</td>
   <td><tt>bed7c39afdf14645f8fc6941959d503d6d7459db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/konquest-20.08.0.tar.xz">konquest-20.08.0</a></td>
   <td align="right">649kB</td>
   <td><tt>c934adae9b3bde625cf87b78c3c339b076581a0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/konsole-20.08.0.tar.xz">konsole-20.08.0</a></td>
   <td align="right">1182kB</td>
   <td><tt>9f51087da98cda15e9ae3f756b083a4f0b0fee6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kontact-20.08.0.tar.xz">kontact-20.08.0</a></td>
   <td align="right">772kB</td>
   <td><tt>e38363a530d438590dd4721492da015716fe0b1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kontactinterface-20.08.0.tar.xz">kontactinterface-20.08.0</a></td>
   <td align="right">35kB</td>
   <td><tt>a4a4d29904a0d13d16e6bc068cb0e230c818d740</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kopete-20.08.0.tar.xz">kopete-20.08.0</a></td>
   <td align="right">9168kB</td>
   <td><tt>489904cb5db7a5c20c893fe14628beba1605e9b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/korganizer-20.08.0.tar.xz">korganizer-20.08.0</a></td>
   <td align="right">2195kB</td>
   <td><tt>11192c1c46f4e40f211725c3298f6d27b677f7dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kpat-20.08.0.tar.xz">kpat-20.08.0</a></td>
   <td align="right">3502kB</td>
   <td><tt>ec0ccac3f62e95f880700f422d4a77c66488bdd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kpimtextedit-20.08.0.tar.xz">kpimtextedit-20.08.0</a></td>
   <td align="right">184kB</td>
   <td><tt>441a4eda747d1afa445899cb1205feb62837f7cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kpkpass-20.08.0.tar.xz">kpkpass-20.08.0</a></td>
   <td align="right">22kB</td>
   <td><tt>14fb4a3599b1858e55eeaffce62d28eaeca2f502</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kqtquickcharts-20.08.0.tar.xz">kqtquickcharts-20.08.0</a></td>
   <td align="right">29kB</td>
   <td><tt>5660cb6906a638568429462302a4fed2334eba2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/krdc-20.08.0.tar.xz">krdc-20.08.0</a></td>
   <td align="right">1527kB</td>
   <td><tt>b68b9a166690d1a7b47f421ba80334e02ee3ddd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kreversi-20.08.0.tar.xz">kreversi-20.08.0</a></td>
   <td align="right">929kB</td>
   <td><tt>443eea47fcd00635378dae7e4f15eacf940d919b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/krfb-20.08.0.tar.xz">krfb-20.08.0</a></td>
   <td align="right">1250kB</td>
   <td><tt>9eea8f0956ce6e1f4d63cea1e64800cfc107da7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kross-interpreters-20.08.0.tar.xz">kross-interpreters-20.08.0</a></td>
   <td align="right">147kB</td>
   <td><tt>fdbcfc096e6faee4754db431351c3006e3c7b638</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kruler-20.08.0.tar.xz">kruler-20.08.0</a></td>
   <td align="right">266kB</td>
   <td><tt>1c61c6df7c3b87725bf6e08be1588b1682afd417</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kshisen-20.08.0.tar.xz">kshisen-20.08.0</a></td>
   <td align="right">807kB</td>
   <td><tt>a49942b95c748992688b9e1838c2d16ffb5e593b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ksirk-20.08.0.tar.xz">ksirk-20.08.0</a></td>
   <td align="right">6828kB</td>
   <td><tt>194d914a9673bf92ec3d331860240c3355efda17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ksmtp-20.08.0.tar.xz">ksmtp-20.08.0</a></td>
   <td align="right">41kB</td>
   <td><tt>c1d18363419f7fd5e892d08c4034c5725d3ee388</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ksnakeduel-20.08.0.tar.xz">ksnakeduel-20.08.0</a></td>
   <td align="right">531kB</td>
   <td><tt>6a3ab748517670736e24d745f184f037f07d5637</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kspaceduel-20.08.0.tar.xz">kspaceduel-20.08.0</a></td>
   <td align="right">602kB</td>
   <td><tt>37a893af8d1c85d118b1eab7ae32f5307c2a2ecb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ksquares-20.08.0.tar.xz">ksquares-20.08.0</a></td>
   <td align="right">260kB</td>
   <td><tt>84c01765cbd8d3621b4c0b0f7cff7ae8a6cd8688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ksudoku-20.08.0.tar.xz">ksudoku-20.08.0</a></td>
   <td align="right">1628kB</td>
   <td><tt>18385bf5a9c6318764bdf582de47c0b1d65d37f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ksystemlog-20.08.0.tar.xz">ksystemlog-20.08.0</a></td>
   <td align="right">1891kB</td>
   <td><tt>3d35df0593599cfc1726080c25beb4fa2beb51a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kteatime-20.08.0.tar.xz">kteatime-20.08.0</a></td>
   <td align="right">287kB</td>
   <td><tt>204c252a0faf8eb625b96ea97b4d4a12b6f1ff2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ktimer-20.08.0.tar.xz">ktimer-20.08.0</a></td>
   <td align="right">376kB</td>
   <td><tt>8a3e43153fbd98c97e781a65e6d10c2859df378f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ktnef-20.08.0.tar.xz">ktnef-20.08.0</a></td>
   <td align="right">292kB</td>
   <td><tt>2475ac072a5a8f63776fa138f93dd84cf96d7757</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ktouch-20.08.0.tar.xz">ktouch-20.08.0</a></td>
   <td align="right">4829kB</td>
   <td><tt>4432fdf8c1ba794a024f580bf059665d0306392d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ktp-accounts-kcm-20.08.0.tar.xz">ktp-accounts-kcm-20.08.0</a></td>
   <td align="right">256kB</td>
   <td><tt>5dc3c32e4e99cad94e718ce03d592aa3bd09f3f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ktp-approver-20.08.0.tar.xz">ktp-approver-20.08.0</a></td>
   <td align="right">36kB</td>
   <td><tt>3d2e680576745975bc6d5713b0ea8217f8b07627</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ktp-auth-handler-20.08.0.tar.xz">ktp-auth-handler-20.08.0</a></td>
   <td align="right">45kB</td>
   <td><tt>3730b5861d8bcc6608609b10748ef2152e20e55d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ktp-call-ui-20.08.0.tar.xz">ktp-call-ui-20.08.0</a></td>
   <td align="right">94kB</td>
   <td><tt>f77d6fba3fd65b661b03b9f4a632d3df9db68832</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ktp-common-internals-20.08.0.tar.xz">ktp-common-internals-20.08.0</a></td>
   <td align="right">439kB</td>
   <td><tt>e4be46a462a893f912e25c1c683f8893e4d152c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ktp-contact-list-20.08.0.tar.xz">ktp-contact-list-20.08.0</a></td>
   <td align="right">146kB</td>
   <td><tt>8acf1d85da41df381f20ab06955cc17efa5f1f6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ktp-contact-runner-20.08.0.tar.xz">ktp-contact-runner-20.08.0</a></td>
   <td align="right">41kB</td>
   <td><tt>28656679b717d38bcf022601f5f08181136dfabe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ktp-desktop-applets-20.08.0.tar.xz">ktp-desktop-applets-20.08.0</a></td>
   <td align="right">42kB</td>
   <td><tt>44be3df58c4fcf4026744269d52c3511b5659cef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ktp-filetransfer-handler-20.08.0.tar.xz">ktp-filetransfer-handler-20.08.0</a></td>
   <td align="right">45kB</td>
   <td><tt>570e062b6cc99d570382abe86fb3a23a573c561d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ktp-kded-module-20.08.0.tar.xz">ktp-kded-module-20.08.0</a></td>
   <td align="right">96kB</td>
   <td><tt>bd5a8a1984fc94188e15aeb156b99345a694f0b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ktp-send-file-20.08.0.tar.xz">ktp-send-file-20.08.0</a></td>
   <td align="right">27kB</td>
   <td><tt>f9cf9be09c52eca2eed891d73d7fd68af7d4c550</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ktp-text-ui-20.08.0.tar.xz">ktp-text-ui-20.08.0</a></td>
   <td align="right">458kB</td>
   <td><tt>2d3322ead014a88f5800dc1f1bff6b85501e7f87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/ktuberling-20.08.0.tar.xz">ktuberling-20.08.0</a></td>
   <td align="right">69053kB</td>
   <td><tt>305edda4f37805b463c800e5837fb79a702c2855</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kturtle-20.08.0.tar.xz">kturtle-20.08.0</a></td>
   <td align="right">1793kB</td>
   <td><tt>4151134368b57230bfbb58ad17524599b464d966</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kubrick-20.08.0.tar.xz">kubrick-20.08.0</a></td>
   <td align="right">316kB</td>
   <td><tt>0140112ef5eb64b29324ef14295590970a385ec3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kwalletmanager-20.08.0.tar.xz">kwalletmanager-20.08.0</a></td>
   <td align="right">755kB</td>
   <td><tt>56d3c1f051e4fa7ec1aa63f15c6a5a157f9234b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kwave-20.08.0.tar.xz">kwave-20.08.0</a></td>
   <td align="right">6708kB</td>
   <td><tt>ca1e2241de896161830bfde4e9092c8596c9a51e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/kwordquiz-20.08.0.tar.xz">kwordquiz-20.08.0</a></td>
   <td align="right">4083kB</td>
   <td><tt>ec559b89be6d62c8b72d6d3ab04220da08beec55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/libgravatar-20.08.0.tar.xz">libgravatar-20.08.0</a></td>
   <td align="right">32kB</td>
   <td><tt>40c31ea7ba0d3a43ab93cc08ebfb082f3497a574</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/libkcddb-20.08.0.tar.xz">libkcddb-20.08.0</a></td>
   <td align="right">415kB</td>
   <td><tt>a12e27c84e6519f158f7c45a9b7ba5ce43da8115</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/libkcompactdisc-20.08.0.tar.xz">libkcompactdisc-20.08.0</a></td>
   <td align="right">94kB</td>
   <td><tt>94757d0d7c79f05e1b2080220355f1bab87920d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/libkdcraw-20.08.0.tar.xz">libkdcraw-20.08.0</a></td>
   <td align="right">41kB</td>
   <td><tt>bb9559cd06cab5af31f672b202b26314cf693aca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/libkdegames-20.08.0.tar.xz">libkdegames-20.08.0</a></td>
   <td align="right">6245kB</td>
   <td><tt>a6b02a4f485e59c34d699eda150579297a766e53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/libkdepim-20.08.0.tar.xz">libkdepim-20.08.0</a></td>
   <td align="right">243kB</td>
   <td><tt>26432f70dda7dcc12520305f9e66249ead71b84b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/libkeduvocdocument-20.08.0.tar.xz">libkeduvocdocument-20.08.0</a></td>
   <td align="right">210kB</td>
   <td><tt>7f89f340a5119f8db54d0b9aa377646b9049c5b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/libkexiv2-20.08.0.tar.xz">libkexiv2-20.08.0</a></td>
   <td align="right">63kB</td>
   <td><tt>9bb8a28320cad768ed30c45153f666ff240d323a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/libkgapi-20.08.0.tar.xz">libkgapi-20.08.0</a></td>
   <td align="right">236kB</td>
   <td><tt>54c5ba42db26a672e4455d13e79ffd0e31578b77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/libkgeomap-20.08.0.tar.xz">libkgeomap-20.08.0</a></td>
   <td align="right">147kB</td>
   <td><tt>246849f9c4609ec7b6617be9d4184f8dbf68cb28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/libkipi-20.08.0.tar.xz">libkipi-20.08.0</a></td>
   <td align="right">101kB</td>
   <td><tt>1a3d9d9d672fc411f70c897cb2e82da3b7cb4145</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/libkleo-20.08.0.tar.xz">libkleo-20.08.0</a></td>
   <td align="right">346kB</td>
   <td><tt>d3d1a6308c4668c1ce0d73a6079d17f71dca08a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/libkmahjongg-20.08.0.tar.xz">libkmahjongg-20.08.0</a></td>
   <td align="right">1651kB</td>
   <td><tt>87aaf358997924e297e7781f3013fc7608ae9861</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/libkomparediff2-20.08.0.tar.xz">libkomparediff2-20.08.0</a></td>
   <td align="right">158kB</td>
   <td><tt>dbc5af1d2cb09604832240da8e6dad7f4eec1c4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/libksane-20.08.0.tar.xz">libksane-20.08.0</a></td>
   <td align="right">141kB</td>
   <td><tt>1d31b5e3e71492d8c124fb04a589153f7c5c8df4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/libksieve-20.08.0.tar.xz">libksieve-20.08.0</a></td>
   <td align="right">547kB</td>
   <td><tt>6af27a70cad11812738c4b9503df4fc3d28e4585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/lokalize-20.08.0.tar.xz">lokalize-20.08.0</a></td>
   <td align="right">1938kB</td>
   <td><tt>a13440f61a0f7a19085b6704acc07abb55769251</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/lskat-20.08.0.tar.xz">lskat-20.08.0</a></td>
   <td align="right">1195kB</td>
   <td><tt>e9d2715be9e097e8596eeffa41e9eb5d9fb8290a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/mailcommon-20.08.0.tar.xz">mailcommon-20.08.0</a></td>
   <td align="right">691kB</td>
   <td><tt>86e596dc3ed908d377277db260bda5c565cee1e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/mailimporter-20.08.0.tar.xz">mailimporter-20.08.0</a></td>
   <td align="right">528kB</td>
   <td><tt>b8117f6fa93da0c463a7088bd2c1c3030da29ace</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/marble-20.08.0.tar.xz">marble-20.08.0</a></td>
   <td align="right">50969kB</td>
   <td><tt>fe2709cfb5882640c6c2f0f9fca5025b444dfcec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/mbox-importer-20.08.0.tar.xz">mbox-importer-20.08.0</a></td>
   <td align="right">33kB</td>
   <td><tt>78ba2b370fd58d5306f9c4b92cda345bd11d8b58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/messagelib-20.08.0.tar.xz">messagelib-20.08.0</a></td>
   <td align="right">10287kB</td>
   <td><tt>0b1cd76255390fea2b24866e73df3f23808a98b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/minuet-20.08.0.tar.xz">minuet-20.08.0</a></td>
   <td align="right">27076kB</td>
   <td><tt>fb0f77a1d4078fa142fabac4bb2ac5d3f1f8c063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/okular-20.08.0.tar.xz">okular-20.08.0</a></td>
   <td align="right">7339kB</td>
   <td><tt>c08037172c9b261c4e4099a0bf7ac2b5151f17f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/palapeli-20.08.0.tar.xz">palapeli-20.08.0</a></td>
   <td align="right">2030kB</td>
   <td><tt>b7e769d60b7e0fea4be18eb0576292dab037e309</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/parley-20.08.0.tar.xz">parley-20.08.0</a></td>
   <td align="right">8635kB</td>
   <td><tt>e2ee05fa43589322dcc05e1b76200b1a985eae70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/picmi-20.08.0.tar.xz">picmi-20.08.0</a></td>
   <td align="right">1335kB</td>
   <td><tt>937086ed27951fc954e7cef0f84551e4db1e6401</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/pimcommon-20.08.0.tar.xz">pimcommon-20.08.0</a></td>
   <td align="right">347kB</td>
   <td><tt>8bce68c76aa2961028cee96eb8407f3f53662318</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/pim-data-exporter-20.08.0.tar.xz">pim-data-exporter-20.08.0</a></td>
   <td align="right">389kB</td>
   <td><tt>cd241f856bfcbdbd8dac6b110666b9190b6e4dba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/pim-sieve-editor-20.08.0.tar.xz">pim-sieve-editor-20.08.0</a></td>
   <td align="right">443kB</td>
   <td><tt>f2b83d67381cc7ccbd477b8a70c8073018c05db7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/poxml-20.08.0.tar.xz">poxml-20.08.0</a></td>
   <td align="right">42kB</td>
   <td><tt>0e4dfe64339cbb7296225aef035084a96c755b7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/print-manager-20.08.0.tar.xz">print-manager-20.08.0</a></td>
   <td align="right">252kB</td>
   <td><tt>69f21e379d7ef2e2d685f6960c8879f080524806</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/rocs-20.08.0.tar.xz">rocs-20.08.0</a></td>
   <td align="right">1462kB</td>
   <td><tt>9030753b16c010d2b750ba4c54dc841269a5ab96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/signon-kwallet-extension-20.08.0.tar.xz">signon-kwallet-extension-20.08.0</a></td>
   <td align="right">10kB</td>
   <td><tt>aeea320e9683fea73e422984b8bcc2532df866bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/spectacle-20.08.0.tar.xz">spectacle-20.08.0</a></td>
   <td align="right">1124kB</td>
   <td><tt>2382eae45050c804dec4a71f477e72cf274a4e78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/step-20.08.0.tar.xz">step-20.08.0</a></td>
   <td align="right">920kB</td>
   <td><tt>cd56657bc35f590946058427e57d7693baa63c60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/svgpart-20.08.0.tar.xz">svgpart-20.08.0</a></td>
   <td align="right">20kB</td>
   <td><tt>a2ffa9f6d2841f80d0b7905d5b64ffdd0a2268d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/sweeper-20.08.0.tar.xz">sweeper-20.08.0</a></td>
   <td align="right">363kB</td>
   <td><tt>e2d3feebc0c374494632f11cb224c796c7559837</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/umbrello-20.08.0.tar.xz">umbrello-20.08.0</a></td>
   <td align="right">5420kB</td>
   <td><tt>127624331a55a4a0297d3c63faa63370383b1cf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/yakuake-20.08.0.tar.xz">yakuake-20.08.0</a></td>
   <td align="right">371kB</td>
   <td><tt>8f6cf3a34944f92c1bddc7daab10fed4e1b8bf20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.0/src/zeroconf-ioslave-20.08.0.tar.xz">zeroconf-ioslave-20.08.0</a></td>
   <td align="right">41kB</td>
   <td><tt>54fada12bfbcb64309e43d2d26b7796707ef094a</tt></td>
</tr>

</table>
