<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/bluedevil-5.15.5.tar.xz">bluedevil-5.15.5</a></td>
   <td align="right">154kB</td>
   <td><tt>7379230de96c5e6d4ea40f4dfa8732e20a6ee3bd291e6f119ccb57646c33fe1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/breeze-5.15.5.tar.xz">breeze-5.15.5</a></td>
   <td align="right">23MB</td>
   <td><tt>a13de0472dacd5240c3d38d0841ea7b9098405cf1f8cff77504d1824d09dcac4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/breeze-grub-5.15.5.tar.xz">breeze-grub-5.15.5</a></td>
   <td align="right">2.9MB</td>
   <td><tt>4a27689446d66b7de043321022093e8f457dd4d47c124186f233b0606ddcfd64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/breeze-gtk-5.15.5.tar.xz">breeze-gtk-5.15.5</a></td>
   <td align="right">46kB</td>
   <td><tt>d4e16ffbcbe74c48fda7c5bfd18c3f479f56d54b761d9b1d9678119479412ca8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/breeze-plymouth-5.15.5.tar.xz">breeze-plymouth-5.15.5</a></td>
   <td align="right">103kB</td>
   <td><tt>0a518d5a9e1bddeb3e1c7329966ce178a36ab0a0bd6dd28caf803fe8c1680de8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/discover-5.15.5.tar.xz">discover-5.15.5</a></td>
   <td align="right">9.9MB</td>
   <td><tt>6f2bbaade87b959c8bd847e90ecec0c9aa8b4accee63318d25e5beb77deaf854</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/drkonqi-5.15.5.tar.xz">drkonqi-5.15.5</a></td>
   <td align="right">721kB</td>
   <td><tt>8669913aa8485257cbb19bbe5bb6956044d0a6896a365cea024b1247d0a6502e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/kactivitymanagerd-5.15.5.tar.xz">kactivitymanagerd-5.15.5</a></td>
   <td align="right">82kB</td>
   <td><tt>e38ec9074e0bc5c1a21bd5eee97b7d99e6528186918e832fecf1e3f95da239db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/kde-cli-tools-5.15.5.tar.xz">kde-cli-tools-5.15.5</a></td>
   <td align="right">572kB</td>
   <td><tt>fbff40188d7864a11aa6aea0b6d8cca2c66025924b3cb29275ac6d282ece9ace</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/kde-gtk-config-5.15.5.tar.xz">kde-gtk-config-5.15.5</a></td>
   <td align="right">153kB</td>
   <td><tt>958163b1134b7c9e9735b5b6a4448973f09dbf43991511f768b29bd038baa185</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/kdecoration-5.15.5.tar.xz">kdecoration-5.15.5</a></td>
   <td align="right">41kB</td>
   <td><tt>33d613b706b83c025675d7d2b20e074219c9a0953a500c306081c24fcf84d99f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/kdeplasma-addons-5.15.5.tar.xz">kdeplasma-addons-5.15.5</a></td>
   <td align="right">590kB</td>
   <td><tt>1e11158f636e1d4bb25bbe4bb2f2fca37728c6aae07340ca6c2c1ec9e882ece3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/kgamma5-5.15.5.tar.xz">kgamma5-5.15.5</a></td>
   <td align="right">77kB</td>
   <td><tt>5e5d2dd439d4fd298eb0283fd9f2bad009c5efe22f72aea795138d22adfdc1e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/khotkeys-5.15.5.tar.xz">khotkeys-5.15.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>59dd6a571d52401b1963cde732b6c6c589a328438155ec0e0c5c77b5ac029127</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/kinfocenter-5.15.5.tar.xz">kinfocenter-5.15.5</a></td>
   <td align="right">1.2MB</td>
   <td><tt>0119da58b2274bab76ef27d37032b5b104bad162675bfbee631286186d2e17a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/kmenuedit-5.15.5.tar.xz">kmenuedit-5.15.5</a></td>
   <td align="right">791kB</td>
   <td><tt>ad407757e93928dc506271998881a2e5f4a4c96bf763c25e80347e3e23361c26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/kscreen-5.15.5.tar.xz">kscreen-5.15.5</a></td>
   <td align="right">120kB</td>
   <td><tt>c0c47c6d5c618e2c40794dd37586a1733ef6939383b4bb760638e8758a0bd6f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/kscreenlocker-5.15.5.tar.xz">kscreenlocker-5.15.5</a></td>
   <td align="right">119kB</td>
   <td><tt>09d9d63e81a60d1c95532639287ba29403e0b04d7e4d46f5a49adbfccf215dcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/ksshaskpass-5.15.5.tar.xz">ksshaskpass-5.15.5</a></td>
   <td align="right">20kB</td>
   <td><tt>4b6eae3b594480f6265843fa0b2f3d2051fd45894d27eee3681b7b33c4f52e7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/ksysguard-5.15.5.tar.xz">ksysguard-5.15.5</a></td>
   <td align="right">488kB</td>
   <td><tt>c767cfff83cb8d6d99a6ba13fa534656d6d31666a3eaa7cdce677535e9f9624a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/kwallet-pam-5.15.5.tar.xz">kwallet-pam-5.15.5</a></td>
   <td align="right">18kB</td>
   <td><tt>36f3e50019dcd9919755d47b62abf99412299aa87ee27fecbf1dca212a94d22e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/kwayland-integration-5.15.5.tar.xz">kwayland-integration-5.15.5</a></td>
   <td align="right">18kB</td>
   <td><tt>8dec5719104a551fc8c1d6249568accedce9b8d18691d818f2b7abc13f21fd17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/kwin-5.15.5.tar.xz">kwin-5.15.5</a></td>
   <td align="right">5.9MB</td>
   <td><tt>e341c8165354643fd201292e53418050970bf8819b2cd0dd932423a342d2f805</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/kwrited-5.15.5.tar.xz">kwrited-5.15.5</a></td>
   <td align="right">19kB</td>
   <td><tt>fbc27517898e57aa6b4c476673971f310121ac3d61e1d30a23e9289930056510</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/libkscreen-5.15.5.tar.xz">libkscreen-5.15.5</a></td>
   <td align="right">79kB</td>
   <td><tt>bee15b0ce38e17475542b0e500a82567fdbe0a635e84a543b2f3255ac8c58d87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/libksysguard-5.15.5.tar.xz">libksysguard-5.15.5</a></td>
   <td align="right">562kB</td>
   <td><tt>4255a997c4f0b2039201db6e00038e08519c5fde73032ba709ae9bcfaceabfd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/milou-5.15.5.tar.xz">milou-5.15.5</a></td>
   <td align="right">55kB</td>
   <td><tt>2740cbfae30483c402471349f4d1315b98edf054827ec70980bb966cd6b3fcf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/oxygen-5.15.5.tar.xz">oxygen-5.15.5</a></td>
   <td align="right">4.2MB</td>
   <td><tt>0791314c8894331bfa46d8b8aa30805972d09497a9e4bbe3f82270d4455be62c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/plasma-browser-integration-5.15.5.tar.xz">plasma-browser-integration-5.15.5</a></td>
   <td align="right">115kB</td>
   <td><tt>f1883b504cb5e86a43e16fea803b93c81b09e4ce1339ae8bcf6cf35d7e734d3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/plasma-desktop-5.15.5.tar.xz">plasma-desktop-5.15.5</a></td>
   <td align="right">8.8MB</td>
   <td><tt>42097c0b2553dd4767b6fde441db371d5e2defbd4e82389ca91d076f62ae3741</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/plasma-integration-5.15.5.tar.xz">plasma-integration-5.15.5</a></td>
   <td align="right">54kB</td>
   <td><tt>05920610c68981a9effb1a97395a22d281d3b61e42d55d66adf8bb587da29621</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/plasma-nm-5.15.5.tar.xz">plasma-nm-5.15.5</a></td>
   <td align="right">758kB</td>
   <td><tt>6a2cde83ff031de3565465d48538578380301debb8e49345e25ff3f723c908ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/plasma-pa-5.15.5.tar.xz">plasma-pa-5.15.5</a></td>
   <td align="right">93kB</td>
   <td><tt>326a6d3f6f9d462a3b88402ae6be2dac976f166995a5cb750d294d51085a0a92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/plasma-sdk-5.15.5.tar.xz">plasma-sdk-5.15.5</a></td>
   <td align="right">243kB</td>
   <td><tt>f91ccb03f016328c2bd54ac11a916b4f874cfe2304da1600f3fa014faeb7d329</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/plasma-tests-5.15.5.tar.xz">plasma-tests-5.15.5</a></td>
   <td align="right">1kB</td>
   <td><tt>534c018f45f8545f027aeccea8731a26311179328e7a746522fa11961c5c5827</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/plasma-vault-5.15.5.tar.xz">plasma-vault-5.15.5</a></td>
   <td align="right">120kB</td>
   <td><tt>2d7c356fa951b341fcb5ea48ed819f396fe9096e06e6f2026c9f59a59fa48fd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/plasma-workspace-5.15.5.tar.xz">plasma-workspace-5.15.5</a></td>
   <td align="right">4.4MB</td>
   <td><tt>c25f9b348e3ab2d370325f7da989a3f599a408dabfadda65cbb590fb26a2f973</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/plasma-workspace-wallpapers-5.15.5.tar.xz">plasma-workspace-wallpapers-5.15.5</a></td>
   <td align="right">23MB</td>
   <td><tt>0dc21728f3a08d823106bae7dd99d9b6b28b9b77abe8cf8f213bd4cf5b66b945</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/plymouth-kcm-5.15.5.tar.xz">plymouth-kcm-5.15.5</a></td>
   <td align="right">38kB</td>
   <td><tt>9454cff23e7acae549bdd61818cb351332b334f9cf0b7a7eb065d6dd784950aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/polkit-kde-agent-1-5.15.5.tar.xz">polkit-kde-agent-1-5.15.5</a></td>
   <td align="right">41kB</td>
   <td><tt>628ce9a02defa31e98a6a373abb6a1f2bf39f065eaf82fdbb4f93bf07165e267</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/powerdevil-5.15.5.tar.xz">powerdevil-5.15.5</a></td>
   <td align="right">585kB</td>
   <td><tt>c435cdcab2ff367ca86f91a45ac43fa9f9b68251e8e444b285b7edd33482ad06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/sddm-kcm-5.15.5.tar.xz">sddm-kcm-5.15.5</a></td>
   <td align="right">60kB</td>
   <td><tt>4d5ee74e494f78a90d1586862749d53f4dc34970f47307d62a4e6ead9161c25b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/systemsettings-5.15.5.tar.xz">systemsettings-5.15.5</a></td>
   <td align="right">178kB</td>
   <td><tt>a29227329f8ddd2db2ba8aafb3eb5f2b09d01e3a6f761d291afba95935ceb93a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/user-manager-5.15.5.tar.xz">user-manager-5.15.5</a></td>
   <td align="right">533kB</td>
   <td><tt>09e746e14bc732e296e93290929dfd1d378abe0b6b47fce084c97dd82a3f2431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.15.5/xdg-desktop-portal-kde-5.15.5.tar.xz">xdg-desktop-portal-kde-5.15.5</a></td>
   <td align="right">58kB</td>
   <td><tt>fd98af5fe77e5a387bee25bcbdfa39607d1b91ba1cd431ae72cff8103548ac50</tt></td>
</tr>

</table>
