<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.85/src/kdeaccessibility-4.4.85.tar.bz2">kdeaccessibility-4.4.85</a></td><td align="right">5,3MB</td><td><tt>639b396b78bc7006520594c36ffd13fbb7509a01</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.85/src/kdeadmin-4.4.85.tar.bz2">kdeadmin-4.4.85</a></td><td align="right">1,4MB</td><td><tt>72e5cb209aec8ed8b9931daef8b3f270f5683c81</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.85/src/kdeartwork-4.4.85.tar.bz2">kdeartwork-4.4.85</a></td><td align="right">68MB</td><td><tt>4df49da1d44debc0fc8cf911088694be49689423</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.85/src/kdebase-4.4.85.tar.bz2">kdebase-4.4.85</a></td><td align="right">2,5MB</td><td><tt>722e780c6e3d3913fa36c084110033c12b8f298a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.85/src/kdebase-runtime-4.4.85.tar.bz2">kdebase-runtime-4.4.85</a></td><td align="right">5,6MB</td><td><tt>b454c1a1fd50e113d48e1cd5b12418cf9055dcc5</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.85/src/kdebase-workspace-4.4.85.tar.bz2">kdebase-workspace-4.4.85</a></td><td align="right">62MB</td><td><tt>68501d3d7ee209c8e38b7dddc0f836c567fb3584</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.85/src/kdebindings-4.4.85.tar.bz2">kdebindings-4.4.85</a></td><td align="right">6,0MB</td><td><tt>a46c3d549ba83a16614e8a412a5feece49a1cc98</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.85/src/kdeedu-4.4.85.tar.bz2">kdeedu-4.4.85</a></td><td align="right">62MB</td><td><tt>70266c2d380db4f59f36cf4c0bf648e4eb43cc21</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.85/src/kdegames-4.4.85.tar.bz2">kdegames-4.4.85</a></td><td align="right">55MB</td><td><tt>7d843f9df82d5414b08bbd6fbd0070b57b2bf38d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.85/src/kdegraphics-4.4.85.tar.bz2">kdegraphics-4.4.85</a></td><td align="right">3,7MB</td><td><tt>57f76968dd9b92c0cfd0fd4c49c91f73f94cab15</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.85/src/kdelibs-4.4.85.tar.bz2">kdelibs-4.4.85</a></td><td align="right">14MB</td><td><tt>07040104cb14d71d2a66f2ccdf4a8ec2a56fcad1</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.85/src/kdemultimedia-4.4.85.tar.bz2">kdemultimedia-4.4.85</a></td><td align="right">1,5MB</td><td><tt>b8b53a52cf3460b77a2d353cc9af0ecd5a96b41e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.85/src/kdenetwork-4.4.85.tar.bz2">kdenetwork-4.4.85</a></td><td align="right">7,9MB</td><td><tt>24224fbd426d2bf9b6ebe48c1143e08933f4a0f3</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.85/src/kdepimlibs-4.4.85.tar.bz2">kdepimlibs-4.4.85</a></td><td align="right">2,6MB</td><td><tt>920e8a1ddfb47678f2bea1d6f077151927e2456d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.85/src/kdeplasma-addons-4.4.85.tar.bz2">kdeplasma-addons-4.4.85</a></td><td align="right">1,7MB</td><td><tt>c5857d2e49e004c25212e0db8875bc4e16388988</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.85/src/kdesdk-4.4.85.tar.bz2">kdesdk-4.4.85</a></td><td align="right">5,5MB</td><td><tt>15582b7b8b0f696a00885ba55afde6915849b763</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.85/src/kdetoys-4.4.85.tar.bz2">kdetoys-4.4.85</a></td><td align="right">400KB</td><td><tt>2fc094c472463b7499cf564d7eb92e196bf6c521</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.85/src/kdeutils-4.4.85.tar.bz2">kdeutils-4.4.85</a></td><td align="right">3,6MB</td><td><tt>49c1611084d51d2961062faa4eb5af006d0ca61b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.85/src/kdewebdev-4.4.85.tar.bz2">kdewebdev-4.4.85</a></td><td align="right">2,1MB</td><td><tt>3486806eae51f6c88deaf8657d2f12074f4ea109</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.4.85/src/oxygen-icons-4.4.85.tar.bz2">oxygen-icons-4.4.85</a></td><td align="right">131MB</td><td><tt>e941d3205105a820a4a8d2fbeae3af76f0a08ce4</tt></td></tr>
</table>
