<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/analitza-4.9.97.tar.xz">analitza-4.9.97</a></td>
   <td align="right">170kB</td>
   <td><tt>1736132e6a54fd7a5ffcafc6bed1ac32043125a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/ark-4.9.97.tar.xz">ark-4.9.97</a></td>
   <td align="right">229kB</td>
   <td><tt>dfc1958da94310f0964e48b03d38216b8a5fe821</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/audiocd-kio-4.9.97.tar.xz">audiocd-kio-4.9.97</a></td>
   <td align="right">53kB</td>
   <td><tt>b555865e7675c9413bff92dee9c2bd379fbf7b8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/blinken-4.9.97.tar.xz">blinken-4.9.97</a></td>
   <td align="right">552kB</td>
   <td><tt>099c55ac93f1955dcefeda162cd751a46a67acdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/bomber-4.9.97.tar.xz">bomber-4.9.97</a></td>
   <td align="right">381kB</td>
   <td><tt>30f8d9f1a81c31283379e988c2a7542fa5c68ab9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/bovo-4.9.97.tar.xz">bovo-4.9.97</a></td>
   <td align="right">105kB</td>
   <td><tt>22f8672c5672a7aaa680e6708f63187f6e3d5c78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/cantor-4.9.97.tar.xz">cantor-4.9.97</a></td>
   <td align="right">302kB</td>
   <td><tt>17fc8f536b20212a5b884bb75a67f4a306894da6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/dragon-4.9.97.tar.xz">dragon-4.9.97</a></td>
   <td align="right">383kB</td>
   <td><tt>3d55ed0cd2a2ddd32a359b570c46f0356d565d68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/ffmpegthumbs-4.9.97.tar.xz">ffmpegthumbs-4.9.97</a></td>
   <td align="right">19kB</td>
   <td><tt>fdde5060938235983b3e0e7737acd80fa3ea406d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/filelight-4.9.97.tar.xz">filelight-4.9.97</a></td>
   <td align="right">286kB</td>
   <td><tt>508ee12c7c774f6b3a34a5fdcd329a89b608b177</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/granatier-4.9.97.tar.xz">granatier-4.9.97</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4b1135bc59a06e6ddb763b10cdf94a945189c478</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/gwenview-4.9.97.tar.xz">gwenview-4.9.97</a></td>
   <td align="right">2.0MB</td>
   <td><tt>8b7f522b707db712c5d57bfce569ddcbba8251a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/jovie-4.9.97.tar.xz">jovie-4.9.97</a></td>
   <td align="right">358kB</td>
   <td><tt>60a1e24abc362697506cbbabbc060d208da32334</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/juk-4.9.97.tar.xz">juk-4.9.97</a></td>
   <td align="right">432kB</td>
   <td><tt>d7c6492508bfc100bf343b830a922b41f7a2dae6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kaccessible-4.9.97.tar.xz">kaccessible-4.9.97</a></td>
   <td align="right">19kB</td>
   <td><tt>97d98024526079bfb3e8ebf1197d04819cd32ae6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kactivities-4.9.97.tar.xz">kactivities-4.9.97</a></td>
   <td align="right">98kB</td>
   <td><tt>272f86d9d37cca411d74c4e567acb6b7875d016a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kajongg-4.9.97.tar.xz">kajongg-4.9.97</a></td>
   <td align="right">2.3MB</td>
   <td><tt>7083f4ef418637cd53ff4b18a368f912d0da3c49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kalgebra-4.9.97.tar.xz">kalgebra-4.9.97</a></td>
   <td align="right">432kB</td>
   <td><tt>08fd23a65365f987340883b4afd05415ccff0c6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kalzium-4.9.97.tar.xz">kalzium-4.9.97</a></td>
   <td align="right">3.5MB</td>
   <td><tt>d5126f7b1301b85eb37adfe3cf53807e3ff3a568</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kamera-4.9.97.tar.xz">kamera-4.9.97</a></td>
   <td align="right">36kB</td>
   <td><tt>f42e3fd0df8f96c030f214ffd7eb9433c91763f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kanagram-4.9.97.tar.xz">kanagram-4.9.97</a></td>
   <td align="right">1.0MB</td>
   <td><tt>0ee3d23879cd574b588be29dca9d820f3cbc3817</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kapman-4.9.97.tar.xz">kapman-4.9.97</a></td>
   <td align="right">1.5MB</td>
   <td><tt>0f1a73a271c00383a294b4693e4a0dc55c365baa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kate-4.9.97.tar.xz">kate-4.9.97</a></td>
   <td align="right">2.2MB</td>
   <td><tt>d0577bef64b09eadd4792c4371c127c7c4db5fff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/katomic-4.9.97.tar.xz">katomic-4.9.97</a></td>
   <td align="right">649kB</td>
   <td><tt>cc271ac2906db1f37cf95420ade5f1eb253fcc86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kblackbox-4.9.97.tar.xz">kblackbox-4.9.97</a></td>
   <td align="right">103kB</td>
   <td><tt>dd6f5a610b069c7da766ef12d9bc9543e5b60ddb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kblocks-4.9.97.tar.xz">kblocks-4.9.97</a></td>
   <td align="right">1.1MB</td>
   <td><tt>05b20479867e772c0d2de19a41d6a306b3ee8a3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kbounce-4.9.97.tar.xz">kbounce-4.9.97</a></td>
   <td align="right">1.5MB</td>
   <td><tt>8053721031bbcdccddb0fcabc1f00a36d6afcbbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kbreakout-4.9.97.tar.xz">kbreakout-4.9.97</a></td>
   <td align="right">1.3MB</td>
   <td><tt>b2925402fb7d53a4f393e4862d9ea932cd2d50a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kbruch-4.9.97.tar.xz">kbruch-4.9.97</a></td>
   <td align="right">885kB</td>
   <td><tt>02d7693de2f9d96501f7c8156675ed209bec675e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kcalc-4.9.97.tar.xz">kcalc-4.9.97</a></td>
   <td align="right">88kB</td>
   <td><tt>8c788adb809970464f8824865194da4cceea817b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kcharselect-4.9.97.tar.xz">kcharselect-4.9.97</a></td>
   <td align="right">83kB</td>
   <td><tt>ebcde5b01bf0c883ddbee233d419c9964f6cc289</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kcolorchooser-4.9.97.tar.xz">kcolorchooser-4.9.97</a></td>
   <td align="right">4kB</td>
   <td><tt>07e3145508697c6037a9f48c3db8ef48e160ebc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kdeadmin-4.9.97.tar.xz">kdeadmin-4.9.97</a></td>
   <td align="right">649kB</td>
   <td><tt>61dcc48413009c2d2e1706793de1dded3915840c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kdeartwork-4.9.97.tar.xz">kdeartwork-4.9.97</a></td>
   <td align="right">136MB</td>
   <td><tt>91e3160d5773be57a1ecf12bacfffb128e6e13af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-baseapps-4.9.97.tar.xz">kde-baseapps-4.9.97</a></td>
   <td align="right">2.3MB</td>
   <td><tt>18e90d67ccb96e38afe63ffe835421ada3f1170f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-base-artwork-4.9.97.tar.xz">kde-base-artwork-4.9.97</a></td>
   <td align="right">7.0MB</td>
   <td><tt>c96ef60c3ae475b59906ef106fa56d416e1fa253</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kdegraphics-mobipocket-4.9.97.tar.xz">kdegraphics-mobipocket-4.9.97</a></td>
   <td align="right">19kB</td>
   <td><tt>f8cc915c3009feaf4ad07387e687878e7e61e6a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kdegraphics-strigi-analyzer-4.9.97.tar.xz">kdegraphics-strigi-analyzer-4.9.97</a></td>
   <td align="right">38kB</td>
   <td><tt>b8821daa70f4218a27051b9dff6223a0a7e3a659</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kdegraphics-thumbnailers-4.9.97.tar.xz">kdegraphics-thumbnailers-4.9.97</a></td>
   <td align="right">40kB</td>
   <td><tt>de376cad20b7739cea8ca3a50535f1a92b67a749</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kdelibs-4.9.97.tar.xz">kdelibs-4.9.97</a></td>
   <td align="right">11MB</td>
   <td><tt>ebd5cf1dcae6f93d9e6983c61a26bb816d805c01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kdenetwork-4.9.97.tar.xz">kdenetwork-4.9.97</a></td>
   <td align="right">8.5MB</td>
   <td><tt>01fbf3b8403a2dda158afa27dfd086f95a792916</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kdepim-4.9.97.tar.xz">kdepim-4.9.97</a></td>
   <td align="right">13MB</td>
   <td><tt>830065e06b077f7c97d15aad9a2495f4d6cb46a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kdepimlibs-4.9.97.tar.xz">kdepimlibs-4.9.97</a></td>
   <td align="right">2.5MB</td>
   <td><tt>7d1f7acc8132950c3e5b5e0939eedeb2759efe44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kdepim-runtime-4.9.97.tar.xz">kdepim-runtime-4.9.97</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c76ab5acc1584913144274cf8baa07f2e92e4353</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kdeplasma-addons-4.9.97.tar.xz">kdeplasma-addons-4.9.97</a></td>
   <td align="right">1.6MB</td>
   <td><tt>191f420981e2f5566d16b146b73bf31d5efd34b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-runtime-4.9.97.tar.xz">kde-runtime-4.9.97</a></td>
   <td align="right">6.8MB</td>
   <td><tt>c1d6abf160081dae76e01b3e44936c2c79b7dd63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kdesdk-4.9.97.tar.xz">kdesdk-4.9.97</a></td>
   <td align="right">4.8MB</td>
   <td><tt>1c75ae655e7c68ac557be5597f2159f2c4daa51b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kdetoys-4.9.97.tar.xz">kdetoys-4.9.97</a></td>
   <td align="right">366kB</td>
   <td><tt>7a5e9acb9462f2236a8ba038364634348aaf1edb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-wallpapers-4.9.97.tar.xz">kde-wallpapers-4.9.97</a></td>
   <td align="right">86MB</td>
   <td><tt>ccdf41a51bfc2e45f6ddd6cfefb2909d51c1aacb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kdewebdev-4.9.97.tar.xz">kdewebdev-4.9.97</a></td>
   <td align="right">2.4MB</td>
   <td><tt>7cf7952d1d18801ac565945d5562d1483b0c0a49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-workspace-4.9.97.tar.xz">kde-workspace-4.9.97</a></td>
   <td align="right">12MB</td>
   <td><tt>3711825b3f14f69a0f6e76cda99998203c0ae382</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kdf-4.9.97.tar.xz">kdf-4.9.97</a></td>
   <td align="right">151kB</td>
   <td><tt>228ad81678206325a85815243deb696b0aae702c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kdiamond-4.9.97.tar.xz">kdiamond-4.9.97</a></td>
   <td align="right">3.9MB</td>
   <td><tt>315cdd35d1b92f2534533ed19fc2b2067d82ad56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kfloppy-4.9.97.tar.xz">kfloppy-4.9.97</a></td>
   <td align="right">59kB</td>
   <td><tt>f311f4a8de72007a0a29cd6b5de4954e7da9e559</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kfourinline-4.9.97.tar.xz">kfourinline-4.9.97</a></td>
   <td align="right">263kB</td>
   <td><tt>8d48ec313d7f6cb8b617991188320e5ba23949e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kgamma-4.9.97.tar.xz">kgamma-4.9.97</a></td>
   <td align="right">25kB</td>
   <td><tt>67873b61857cde5c3a3613c6a92081a7a0e0be07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kgeography-4.9.97.tar.xz">kgeography-4.9.97</a></td>
   <td align="right">6.3MB</td>
   <td><tt>b4e48c9551f29b53d620e81527cbf6a6e8516435</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kgoldrunner-4.9.97.tar.xz">kgoldrunner-4.9.97</a></td>
   <td align="right">1.9MB</td>
   <td><tt>61ef5d087a2d7af39fab0b9cb2d8ab96fdcb5075</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kgpg-4.9.97.tar.xz">kgpg-4.9.97</a></td>
   <td align="right">790kB</td>
   <td><tt>97237fc9500f2f04bdb07fcef29f2f1cad19207a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/khangman-4.9.97.tar.xz">khangman-4.9.97</a></td>
   <td align="right">3.7MB</td>
   <td><tt>9b20735e8aaecbc560878ba8579379d6fc3aa2e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kig-4.9.97.tar.xz">kig-4.9.97</a></td>
   <td align="right">1.4MB</td>
   <td><tt>dd3fa6fdb41e995a534a0efd7f884f9258a98e4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kigo-4.9.97.tar.xz">kigo-4.9.97</a></td>
   <td align="right">1.3MB</td>
   <td><tt>9246458a78ac1c707badbd8e75a9024968d78dd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/killbots-4.9.97.tar.xz">killbots-4.9.97</a></td>
   <td align="right">949kB</td>
   <td><tt>526be3e244b78fe638b6ccf9d7031c7763a8ebc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kimono-4.9.97.tar.xz">kimono-4.9.97</a></td>
   <td align="right">916kB</td>
   <td><tt>e5aaea4152ceab7f1cab5e8b429575f7f6257cbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kiriki-4.9.97.tar.xz">kiriki-4.9.97</a></td>
   <td align="right">121kB</td>
   <td><tt>64fc668e2f0335f71854c9c3bad2039dfe4f619e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kiten-4.9.97.tar.xz">kiten-4.9.97</a></td>
   <td align="right">11MB</td>
   <td><tt>739c81f34f8960ff13b1b7d00c5cd9302287d450</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kjumpingcube-4.9.97.tar.xz">kjumpingcube-4.9.97</a></td>
   <td align="right">100kB</td>
   <td><tt>6618dd2c9e2dbae4e8657fa0db9d2df7da5e22ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/klettres-4.9.97.tar.xz">klettres-4.9.97</a></td>
   <td align="right">2.5MB</td>
   <td><tt>6256115b7c7df37ca37668ee254de4aeff6114e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/klickety-4.9.97.tar.xz">klickety-4.9.97</a></td>
   <td align="right">831kB</td>
   <td><tt>8906940c7a22c27cb6270f740f2bdb9395216b79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/klines-4.9.97.tar.xz">klines-4.9.97</a></td>
   <td align="right">934kB</td>
   <td><tt>4ee4c1a4508e55968e58a6d78d27029de3dcc383</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kmag-4.9.97.tar.xz">kmag-4.9.97</a></td>
   <td align="right">90kB</td>
   <td><tt>be3bb005c30de339589081de0856a1d63e4184ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kmahjongg-4.9.97.tar.xz">kmahjongg-4.9.97</a></td>
   <td align="right">1.0MB</td>
   <td><tt>dcc7cd6bf2c5f3ddea9199a874ac5daf4fa29cf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kmines-4.9.97.tar.xz">kmines-4.9.97</a></td>
   <td align="right">643kB</td>
   <td><tt>59f1adbbe2aef685d3cfdb3bf589b350630d0678</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kmix-4.9.97.tar.xz">kmix-4.9.97</a></td>
   <td align="right">372kB</td>
   <td><tt>41bb143a3394b6dd4cc259e95f9087b3819769e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kmousetool-4.9.97.tar.xz">kmousetool-4.9.97</a></td>
   <td align="right">41kB</td>
   <td><tt>2ea451f657251811e234c4712132883c8c30797d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kmouth-4.9.97.tar.xz">kmouth-4.9.97</a></td>
   <td align="right">311kB</td>
   <td><tt>caa75c5eef97c6c9d774049f77058b1a18b952da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kmplot-4.9.97.tar.xz">kmplot-4.9.97</a></td>
   <td align="right">661kB</td>
   <td><tt>ea6c8f36d34587f27870ca9968d5e741697fe821</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/knavalbattle-4.9.97.tar.xz">knavalbattle-4.9.97</a></td>
   <td align="right">834kB</td>
   <td><tt>63f0107740c76d78b4328e9a86f1065def7e74dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/knetwalk-4.9.97.tar.xz">knetwalk-4.9.97</a></td>
   <td align="right">771kB</td>
   <td><tt>44a047b80c497bfa454e9677eb38ac48d0baf417</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kolf-4.9.97.tar.xz">kolf-4.9.97</a></td>
   <td align="right">759kB</td>
   <td><tt>4e3cd4b7a5f7887249f82c55c0763d06053600de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kollision-4.9.97.tar.xz">kollision-4.9.97</a></td>
   <td align="right">207kB</td>
   <td><tt>5e872740909cec0c7ab39f7c11e84e1db2fae115</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kolourpaint-4.9.97.tar.xz">kolourpaint-4.9.97</a></td>
   <td align="right">1.1MB</td>
   <td><tt>887748ae6be3032cf7476293e0e830765e6dc55c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/konquest-4.9.97.tar.xz">konquest-4.9.97</a></td>
   <td align="right">406kB</td>
   <td><tt>a1a79cb48bcc6a4d620dbb543890e33abb6dc163</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/konsole-4.9.97.tar.xz">konsole-4.9.97</a></td>
   <td align="right">429kB</td>
   <td><tt>20b9cf988e877052a01072d36839438574d75d3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/korundum-4.9.97.tar.xz">korundum-4.9.97</a></td>
   <td align="right">156kB</td>
   <td><tt>4d5ca7085411e1daa16c0519abc3566c73bf8507</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kpat-4.9.97.tar.xz">kpat-4.9.97</a></td>
   <td align="right">2.9MB</td>
   <td><tt>8f8d9e6010cf55b1f8ddf3ddd67dbc084d4ea7b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kremotecontrol-4.9.97.tar.xz">kremotecontrol-4.9.97</a></td>
   <td align="right">1.0MB</td>
   <td><tt>864d48b76b73e94d1046e983b759b1e68edc7a8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kreversi-4.9.97.tar.xz">kreversi-4.9.97</a></td>
   <td align="right">388kB</td>
   <td><tt>8d5fdb2acf8fbe328d8fd7e6ad470c56bf1f0c3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kross-interpreters-4.9.97.tar.xz">kross-interpreters-4.9.97</a></td>
   <td align="right">127kB</td>
   <td><tt>93831d2c9f4586e18bc3f5a68777d54c54742dbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kruler-4.9.97.tar.xz">kruler-4.9.97</a></td>
   <td align="right">130kB</td>
   <td><tt>2dcbdde12f792f2b26d43fadb86045e933c08096</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/ksaneplugin-4.9.97.tar.xz">ksaneplugin-4.9.97</a></td>
   <td align="right">12kB</td>
   <td><tt>a1f259055a0b504bda90b1764fb260c752fca1af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kscd-4.9.97.tar.xz">kscd-4.9.97</a></td>
   <td align="right">91kB</td>
   <td><tt>a18dbe17ddf97902476c45180fd4a106b2ab0a29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kshisen-4.9.97.tar.xz">kshisen-4.9.97</a></td>
   <td align="right">141kB</td>
   <td><tt>8ad75be9d85b668dd4e539828e4b971728bec69e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/ksirk-4.9.97.tar.xz">ksirk-4.9.97</a></td>
   <td align="right">5.6MB</td>
   <td><tt>f730dadc533875569ae8dbd955298c4c4da2bf05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/ksnakeduel-4.9.97.tar.xz">ksnakeduel-4.9.97</a></td>
   <td align="right">312kB</td>
   <td><tt>c218e7b01ea21d7b1b5ad3b9cf6319a931a7d157</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/ksnapshot-4.9.97.tar.xz">ksnapshot-4.9.97</a></td>
   <td align="right">257kB</td>
   <td><tt>8081da8c2f321841e4dd5390b89cf8933bc2ca89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kspaceduel-4.9.97.tar.xz">kspaceduel-4.9.97</a></td>
   <td align="right">255kB</td>
   <td><tt>ad97df98fdf15a76a64fc4ea51299c7444ea95af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/ksquares-4.9.97.tar.xz">ksquares-4.9.97</a></td>
   <td align="right">82kB</td>
   <td><tt>84290308631e7a78b89bdecc8be8524194ee0644</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kstars-4.9.97.tar.xz">kstars-4.9.97</a></td>
   <td align="right">11MB</td>
   <td><tt>2d71367fc5b19412fb06004fc3b6c100e2e675d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/ksudoku-4.9.97.tar.xz">ksudoku-4.9.97</a></td>
   <td align="right">1.3MB</td>
   <td><tt>2cdd71e3299fac7b7e598fe2ce1aeed9144d2b84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/ktimer-4.9.97.tar.xz">ktimer-4.9.97</a></td>
   <td align="right">146kB</td>
   <td><tt>71c689bc76d341d7f80be2f9b18be00ac6e3be76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/ktouch-4.9.97.tar.xz">ktouch-4.9.97</a></td>
   <td align="right">2.4MB</td>
   <td><tt>2b3439c6cea0fe3a5c91b2b77ce507aa95ae02c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/ktuberling-4.9.97.tar.xz">ktuberling-4.9.97</a></td>
   <td align="right">4.0MB</td>
   <td><tt>be66854b4d090ca0f958bb1350defdd55e590f02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kturtle-4.9.97.tar.xz">kturtle-4.9.97</a></td>
   <td align="right">208kB</td>
   <td><tt>ffc3aff242c9525deff1f7f4177789cbd39ece85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kubrick-4.9.97.tar.xz">kubrick-4.9.97</a></td>
   <td align="right">117kB</td>
   <td><tt>156f9e9cfeafca3903a1f62a28d2250a6174eb8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kwallet-4.9.97.tar.xz">kwallet-4.9.97</a></td>
   <td align="right">274kB</td>
   <td><tt>7cfc021d32510285efed347947d51f84e5ca9bb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kwordquiz-4.9.97.tar.xz">kwordquiz-4.9.97</a></td>
   <td align="right">1.1MB</td>
   <td><tt>254471c423924fbec75c57b514947298ee322cfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/libkcddb-4.9.97.tar.xz">libkcddb-4.9.97</a></td>
   <td align="right">153kB</td>
   <td><tt>455b8a47cc95d354bd9a7cce95748a85578cc5da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/libkcompactdisc-4.9.97.tar.xz">libkcompactdisc-4.9.97</a></td>
   <td align="right">73kB</td>
   <td><tt>061a596a4a1bb205e83cd2c9f371ea79a19eb283</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/libkdcraw-4.9.97.tar.xz">libkdcraw-4.9.97</a></td>
   <td align="right">337kB</td>
   <td><tt>b267c1b81da6e4089160a1ccf6847b7a6682c234</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/libkdeedu-4.9.97.tar.xz">libkdeedu-4.9.97</a></td>
   <td align="right">204kB</td>
   <td><tt>522858ac8bd44dfb78301bd397b8349c7f658bac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/libkdegames-4.9.97.tar.xz">libkdegames-4.9.97</a></td>
   <td align="right">5.5MB</td>
   <td><tt>3a56a5216a5c6610b620107093197cde4be4df88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/libkexiv2-4.9.97.tar.xz">libkexiv2-4.9.97</a></td>
   <td align="right">129kB</td>
   <td><tt>44f08744d5647301f22cbadd6dad1dfd23bd9bba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/libkipi-4.9.97.tar.xz">libkipi-4.9.97</a></td>
   <td align="right">91kB</td>
   <td><tt>f1ee4515a3d91168d5fb57330e8d7eb5103be1ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/libkmahjongg-4.9.97.tar.xz">libkmahjongg-4.9.97</a></td>
   <td align="right">1.5MB</td>
   <td><tt>5f2f252b7928e87a2b5f1c807ea703b74e5b5070</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/libksane-4.9.97.tar.xz">libksane-4.9.97</a></td>
   <td align="right">78kB</td>
   <td><tt>d9c772a577a78b3707195c0461d33940956c2b16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/lskat-4.9.97.tar.xz">lskat-4.9.97</a></td>
   <td align="right">934kB</td>
   <td><tt>b16601bc7e338c7e7bf9cff61e9b38a2fabd2dbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/marble-4.9.97.tar.xz">marble-4.9.97</a></td>
   <td align="right">18MB</td>
   <td><tt>f6a98355b51a3583d15d9cf01505c1d7e2cc7804</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/mplayerthumbs-4.9.97.tar.xz">mplayerthumbs-4.9.97</a></td>
   <td align="right">26kB</td>
   <td><tt>fcd5115ba9aa12cad672efd77f5e1a64369214fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/nepomuk-core-4.9.97.tar.xz">nepomuk-core-4.9.97</a></td>
   <td align="right">356kB</td>
   <td><tt>769e91df42af2456b0143718739738fd69101b79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/nepomuk-widgets-4.9.97.tar.xz">nepomuk-widgets-4.9.97</a></td>
   <td align="right">75kB</td>
   <td><tt>443c6643240410ff536dc5337a6cc2a784e08748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/okular-4.9.97.tar.xz">okular-4.9.97</a></td>
   <td align="right">1.3MB</td>
   <td><tt>cc607cacf6ba83352460e6ae4919715c3895706b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/oxygen-icons-4.9.97.tar.xz">oxygen-icons-4.9.97</a></td>
   <td align="right">266MB</td>
   <td><tt>d676fa976769acdecc81c09fb13d8ad4a7302491</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/pairs-4.9.97.tar.xz">pairs-4.9.97</a></td>
   <td align="right">2.0MB</td>
   <td><tt>a8e8def433f5a0e6d84491ced9f8c2c93b6f0559</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/palapeli-4.9.97.tar.xz">palapeli-4.9.97</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0dc5bc32469f9ae93acdcf11bc4a7e84bc43c62f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/parley-4.9.97.tar.xz">parley-4.9.97</a></td>
   <td align="right">7.8MB</td>
   <td><tt>5ae76ef7fe56c3155bb5f794e06b9b429ce6e4e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/perlkde-4.9.97.tar.xz">perlkde-4.9.97</a></td>
   <td align="right">39kB</td>
   <td><tt>3f075e67492ceb40158d9ccb8eb05f1cc5249a5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/perlqt-4.9.97.tar.xz">perlqt-4.9.97</a></td>
   <td align="right">1.7MB</td>
   <td><tt>3b8b265a277d535be9c0ef91d74431e28d850ca2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/picmi-4.9.97.tar.xz">picmi-4.9.97</a></td>
   <td align="right">709kB</td>
   <td><tt>26b1e4e592724410537d559aa4b4b35a9a0d27d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/print-manager-4.9.97.tar.xz">print-manager-4.9.97</a></td>
   <td align="right">84kB</td>
   <td><tt>92cdbaa5394492e23ac67547eb159124257b1fec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/pykde4-4.9.97.tar.xz">pykde4-4.9.97</a></td>
   <td align="right">1.8MB</td>
   <td><tt>3e8aef059de39184be505718094e67aa0d84273e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/qtruby-4.9.97.tar.xz">qtruby-4.9.97</a></td>
   <td align="right">518kB</td>
   <td><tt>f4bb5060c731fe6b7baf81de49d6b1ca0bfdb78f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/qyoto-4.9.97.tar.xz">qyoto-4.9.97</a></td>
   <td align="right">498kB</td>
   <td><tt>472d502f3eae0ba66e256101f2cffc1808ae2a81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/rocs-4.9.97.tar.xz">rocs-4.9.97</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c15f9229bf00e1b44226afa4b598f0922eccc98b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/smokegen-4.9.97.tar.xz">smokegen-4.9.97</a></td>
   <td align="right">143kB</td>
   <td><tt>d0a68f4033be70570c010bebfc35510ccd12b853</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/smokekde-4.9.97.tar.xz">smokekde-4.9.97</a></td>
   <td align="right">36kB</td>
   <td><tt>051e0c1228507c407581b248f38562bf0fb07ccf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/smokeqt-4.9.97.tar.xz">smokeqt-4.9.97</a></td>
   <td align="right">29kB</td>
   <td><tt>9f243293da679ca50a32f226070e471f52931761</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/step-4.9.97.tar.xz">step-4.9.97</a></td>
   <td align="right">362kB</td>
   <td><tt>cab73b8b2a41cdde03935554f1bedf7c2a16ccb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/superkaramba-4.9.97.tar.xz">superkaramba-4.9.97</a></td>
   <td align="right">374kB</td>
   <td><tt>33091c968fda7e038c210a4b64f2db93db77b80e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/svgpart-4.9.97.tar.xz">svgpart-4.9.97</a></td>
   <td align="right">8kB</td>
   <td><tt>0136ea4026c6251fd83dc51cd60c1e56a22889ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/sweeper-4.9.97.tar.xz">sweeper-4.9.97</a></td>
   <td align="right">81kB</td>
   <td><tt>600d02e3e8c5898331fa0ce5d1ed922c83fdc99a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-ar-4.9.97.tar.xz">kde-l10n-ar-4.9.97</a></td>
   <td align="right">3.1MB</td>
   <td><tt>90274659095e371cbd8904c333adb1e986ce5215</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-bg-4.9.97.tar.xz">kde-l10n-bg-4.9.97</a></td>
   <td align="right">1.9MB</td>
   <td><tt>40c0841c314d0347a1d78a5e45d0e04f0cf4e66a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-bs-4.9.97.tar.xz">kde-l10n-bs-4.9.97</a></td>
   <td align="right">2.1MB</td>
   <td><tt>96f6268a5d06f985b63ca2ceaeb6a96333b30671</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-ca-4.9.97.tar.xz">kde-l10n-ca-4.9.97</a></td>
   <td align="right">12MB</td>
   <td><tt>d5186af38874f57f28de919bad83e46d4ab81f93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-ca@valencia-4.9.97.tar.xz">kde-l10n-ca@valencia-4.9.97</a></td>
   <td align="right">2.1MB</td>
   <td><tt>7168d8f254f0272d76903492ab3bb8eff6c10103</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-cs-4.9.97.tar.xz">kde-l10n-cs-4.9.97</a></td>
   <td align="right">2.8MB</td>
   <td><tt>81db123eae1738bb56a4fdbaab13191e1c75d2ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-da-4.9.97.tar.xz">kde-l10n-da-4.9.97</a></td>
   <td align="right">12MB</td>
   <td><tt>7a66afff15d09bd96a0d88c5231669e7e2dcd239</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-de-4.9.97.tar.xz">kde-l10n-de-4.9.97</a></td>
   <td align="right">36MB</td>
   <td><tt>4413c8d077c73e5e6a46d2acaa985fedba9c4bc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-el-4.9.97.tar.xz">kde-l10n-el-4.9.97</a></td>
   <td align="right">4.6MB</td>
   <td><tt>d813429a50423185b704f2ed5da0ec2dfd5ef068</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-en_GB-4.9.97.tar.xz">kde-l10n-en_GB-4.9.97</a></td>
   <td align="right">3.0MB</td>
   <td><tt>ca30627cbf3b19f9354d053d9e8d3e8d57ee3678</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-es-4.9.97.tar.xz">kde-l10n-es-4.9.97</a></td>
   <td align="right">22MB</td>
   <td><tt>4010e520f2291219ea6b5ef16f3a47cbc0459d1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-et-4.9.97.tar.xz">kde-l10n-et-4.9.97</a></td>
   <td align="right">7.1MB</td>
   <td><tt>7bcf1da54a448ccafba6de53a29d8f57666257b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-eu-4.9.97.tar.xz">kde-l10n-eu-4.9.97</a></td>
   <td align="right">1.9MB</td>
   <td><tt>4b79a0c45887607e0f1d9bde2682d3f9c7be8753</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-fa-4.9.97.tar.xz">kde-l10n-fa-4.9.97</a></td>
   <td align="right">1.8MB</td>
   <td><tt>87b4bd13b5124a793ff5676a66f30aea146c1bc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-fi-4.9.97.tar.xz">kde-l10n-fi-4.9.97</a></td>
   <td align="right">2.5MB</td>
   <td><tt>83ebc47853051db106fb1d6728815c9a4e95c924</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-fr-4.9.97.tar.xz">kde-l10n-fr-4.9.97</a></td>
   <td align="right">42MB</td>
   <td><tt>44b8df5b167c32f796b318a9a8d34cf245bc4016</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-ga-4.9.97.tar.xz">kde-l10n-ga-4.9.97</a></td>
   <td align="right">2.7MB</td>
   <td><tt>14515dd3991765cfb08375d8ba0eeb616134fbe4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-gl-4.9.97.tar.xz">kde-l10n-gl-4.9.97</a></td>
   <td align="right">4.1MB</td>
   <td><tt>9f6df1fd79a7899c064cd5c5ab905597a1798a09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-he-4.9.97.tar.xz">kde-l10n-he-4.9.97</a></td>
   <td align="right">2.0MB</td>
   <td><tt>d7c0b5620b1929e5a9c536b2a0eeeccea4b2abf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-hi-4.9.97.tar.xz">kde-l10n-hi-4.9.97</a></td>
   <td align="right">1.7MB</td>
   <td><tt>73075071a375aad5b67d177870bb5ae683ad66c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-hr-4.9.97.tar.xz">kde-l10n-hr-4.9.97</a></td>
   <td align="right">1.9MB</td>
   <td><tt>41e6d5329eafa74833c7800ae4dd4c6a29de7d60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-hu-4.9.97.tar.xz">kde-l10n-hu-4.9.97</a></td>
   <td align="right">3.9MB</td>
   <td><tt>9c41c96f2e2c4688fe7755894cab4528753a0f91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-ia-4.9.97.tar.xz">kde-l10n-ia-4.9.97</a></td>
   <td align="right">1.2MB</td>
   <td><tt>b2bd4749454b778727f165256431ed7118c24445</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-is-4.9.97.tar.xz">kde-l10n-is-4.9.97</a></td>
   <td align="right">1.7MB</td>
   <td><tt>04c1119e373db4abd3c06fd53d708878177460af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-it-4.9.97.tar.xz">kde-l10n-it-4.9.97</a></td>
   <td align="right">9.9MB</td>
   <td><tt>9a3a00bd3cee394c586e96826517a6c3888ca6f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-ja-4.9.97.tar.xz">kde-l10n-ja-4.9.97</a></td>
   <td align="right">2.1MB</td>
   <td><tt>9a7a0c347c2bc6e1a16821b369e43a35379953fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-kk-4.9.97.tar.xz">kde-l10n-kk-4.9.97</a></td>
   <td align="right">2.4MB</td>
   <td><tt>d863a44bbf4cadf4a6ad2718370d9ee9e8d1ece1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-km-4.9.97.tar.xz">kde-l10n-km-4.9.97</a></td>
   <td align="right">2.0MB</td>
   <td><tt>10825a3d466a1c4f1b030a5652a3ecec559aadfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-ko-4.9.97.tar.xz">kde-l10n-ko-4.9.97</a></td>
   <td align="right">1.7MB</td>
   <td><tt>ccb9a5433968ee9e9334e7b0b8dbe5d863183ad7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-lt-4.9.97.tar.xz">kde-l10n-lt-4.9.97</a></td>
   <td align="right">12MB</td>
   <td><tt>41d3cd9655fa8a4e6fdde2c8725c0f856ce2e32c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-lv-4.9.97.tar.xz">kde-l10n-lv-4.9.97</a></td>
   <td align="right">2.1MB</td>
   <td><tt>1086800c6dea3a32a6fa1c8717a9abf5fdea1a87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-nb-4.9.97.tar.xz">kde-l10n-nb-4.9.97</a></td>
   <td align="right">2.3MB</td>
   <td><tt>7a5330d674c6a88934a0770e314465b33e13dcdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-nds-4.9.97.tar.xz">kde-l10n-nds-4.9.97</a></td>
   <td align="right">3.0MB</td>
   <td><tt>dc88aaa8c74ba2597d45f799f97cb9c7de8c1c70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-nl-4.9.97.tar.xz">kde-l10n-nl-4.9.97</a></td>
   <td align="right">15MB</td>
   <td><tt>d4bf46d9434dd22b78597038a97873611883eeb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-nn-4.9.97.tar.xz">kde-l10n-nn-4.9.97</a></td>
   <td align="right">1.8MB</td>
   <td><tt>2087350b549abd830dae1227dcbf98d0d1e5109c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-pa-4.9.97.tar.xz">kde-l10n-pa-4.9.97</a></td>
   <td align="right">1.8MB</td>
   <td><tt>b1c570005aaa0c3d64af2e122a0fd21e12867709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-pl-4.9.97.tar.xz">kde-l10n-pl-4.9.97</a></td>
   <td align="right">16MB</td>
   <td><tt>717993c32f9baa7f68235576e95de919bb42df9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-pt-4.9.97.tar.xz">kde-l10n-pt-4.9.97</a></td>
   <td align="right">5.4MB</td>
   <td><tt>91d4c9642ef0e4d776de1b3bc4def124d6846f24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-pt_BR-4.9.97.tar.xz">kde-l10n-pt_BR-4.9.97</a></td>
   <td align="right">26MB</td>
   <td><tt>b07a40b4d14520f4dcd6c46a6405f383cada1a8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-ro-4.9.97.tar.xz">kde-l10n-ro-4.9.97</a></td>
   <td align="right">2.8MB</td>
   <td><tt>65d5073502fabcd7bf2806d6065022d5ba2afd34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-ru-4.9.97.tar.xz">kde-l10n-ru-4.9.97</a></td>
   <td align="right">22MB</td>
   <td><tt>aa2a6b7c3d409d7fc18168a68b0d27684cc04b87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-si-4.9.97.tar.xz">kde-l10n-si-4.9.97</a></td>
   <td align="right">1.0MB</td>
   <td><tt>f48ba468ca1b8a4d82506e1dac7a1d16879e9442</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-sk-4.9.97.tar.xz">kde-l10n-sk-4.9.97</a></td>
   <td align="right">4.1MB</td>
   <td><tt>f7f7216d4c69da45508b107927b29c70b178190a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-sl-4.9.97.tar.xz">kde-l10n-sl-4.9.97</a></td>
   <td align="right">3.3MB</td>
   <td><tt>f1e3946b423d89cdccebfeb9e803c02e44268fa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-sr-4.9.97.tar.xz">kde-l10n-sr-4.9.97</a></td>
   <td align="right">5.2MB</td>
   <td><tt>4facc740d4dc9d974e3dc13534a5af0ea2a3e864</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-sv-4.9.97.tar.xz">kde-l10n-sv-4.9.97</a></td>
   <td align="right">15MB</td>
   <td><tt>9ec76f00e20f83d365a72a258a578cf70593d0ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-tg-4.9.97.tar.xz">kde-l10n-tg-4.9.97</a></td>
   <td align="right">1.8MB</td>
   <td><tt>18431ae4d4a908d36a3523f1eb5e35a51c8534a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-th-4.9.97.tar.xz">kde-l10n-th-4.9.97</a></td>
   <td align="right">1.6MB</td>
   <td><tt>ccc9ecac52aa322e119eaddd789912b26a8d279b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-tr-4.9.97.tar.xz">kde-l10n-tr-4.9.97</a></td>
   <td align="right">3.8MB</td>
   <td><tt>a31088fd601d2bb1ca5dc078ad66c72f8833d645</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-ug-4.9.97.tar.xz">kde-l10n-ug-4.9.97</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0ede6258610426425e53c4b8f8a5730becac62f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-uk-4.9.97.tar.xz">kde-l10n-uk-4.9.97</a></td>
   <td align="right">25MB</td>
   <td><tt>fdb89b1c0acd71cf2c3bc6f7bf57a6d76b8196c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-vi-4.9.97.tar.xz">kde-l10n-vi-4.9.97</a></td>
   <td align="right">906kB</td>
   <td><tt>63334b3cb9abccd7a7975864742a0f3099773d9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-wa-4.9.97.tar.xz">kde-l10n-wa-4.9.97</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a2d5e101a53973562964b66ff6b7f13b8ed025f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-zh_CN-4.9.97.tar.xz">kde-l10n-zh_CN-4.9.97</a></td>
   <td align="right">3.3MB</td>
   <td><tt>f43cdbba64c3c8ed41d1bc61d04f29c278ed0ba0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.97/src/kde-l10n/kde-l10n-zh_TW-4.9.97.tar.xz">kde-l10n-zh_TW-4.9.97</a></td>
   <td align="right">2.4MB</td>
   <td><tt>fde6c4c4ec5dec5b66ebc4b8aafaa7a21abaf6f8</tt></td>
</tr>

</table>
