
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/attica-5.24.0.tar.xz">attica-5.24.0</a></td>
   <td align="right">58kB</td>
   <td><tt>fdbab634959286a2d6457797da613b0ba87a8c1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/baloo-5.24.0.tar.xz">baloo-5.24.0</a></td>
   <td align="right">182kB</td>
   <td><tt>2c0b4665916c51feddc8e4358a429f015c42e0c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/bluez-qt-5.24.0.tar.xz">bluez-qt-5.24.0</a></td>
   <td align="right">71kB</td>
   <td><tt>4d5d7323df6cfd44229bf26b64975a14cb8bde24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/breeze-icons-5.24.0.tar.xz">breeze-icons-5.24.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>6dbbf856f706b4600f3800af0a463dec567db8c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/extra-cmake-modules-5.24.0.tar.xz">extra-cmake-modules-5.24.0</a></td>
   <td align="right">279kB</td>
   <td><tt>8acf01be2b24870a176d5a5b66c99a3d13d97919</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/frameworkintegration-5.24.0.tar.xz">frameworkintegration-5.24.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>259758a00826e10cb84247d90aea36149fd889fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kactivities-5.24.0.tar.xz">kactivities-5.24.0</a></td>
   <td align="right">56kB</td>
   <td><tt>5299e857c7f97faab581e5a9c48902c06ed127a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kactivities-stats-5.24.0.tar.xz">kactivities-stats-5.24.0</a></td>
   <td align="right">57kB</td>
   <td><tt>577d5bd23de0506d8c655c59bc7dd4e807f3a5b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kapidox-5.24.0.tar.xz">kapidox-5.24.0</a></td>
   <td align="right">207kB</td>
   <td><tt>51cf9b486f4636b20d38c0922a6cc52dfd3b350f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/karchive-5.24.0.tar.xz">karchive-5.24.0</a></td>
   <td align="right">107kB</td>
   <td><tt>ff8d840c352ef4dbabf236ebb3d6fb793ab69466</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kauth-5.24.0.tar.xz">kauth-5.24.0</a></td>
   <td align="right">80kB</td>
   <td><tt>4999b17bd334a67a05b13b4dc0ba72ed1a83b44b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kbookmarks-5.24.0.tar.xz">kbookmarks-5.24.0</a></td>
   <td align="right">112kB</td>
   <td><tt>48a4156a8dd7b00177827bc8db528a11b24a7111</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kcmutils-5.24.0.tar.xz">kcmutils-5.24.0</a></td>
   <td align="right">229kB</td>
   <td><tt>23f819f0b8b899092cae948435969283afd096c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kcodecs-5.24.0.tar.xz">kcodecs-5.24.0</a></td>
   <td align="right">212kB</td>
   <td><tt>0be2cce7e48175ee5b7c05979a1a75c6ab43eabc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kcompletion-5.24.0.tar.xz">kcompletion-5.24.0</a></td>
   <td align="right">113kB</td>
   <td><tt>6a0e1e440f44de2bc96024bc9703a880bef72664</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kconfig-5.24.0.tar.xz">kconfig-5.24.0</a></td>
   <td align="right">220kB</td>
   <td><tt>8c729e466691ecefecbe91861edffdeeae06eebc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kconfigwidgets-5.24.0.tar.xz">kconfigwidgets-5.24.0</a></td>
   <td align="right">355kB</td>
   <td><tt>cc82622a293db085710700ebbd13929c5221fb2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kcoreaddons-5.24.0.tar.xz">kcoreaddons-5.24.0</a></td>
   <td align="right">308kB</td>
   <td><tt>e50b882a66291ff2811483077ed8d0c081d0c9da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kcrash-5.24.0.tar.xz">kcrash-5.24.0</a></td>
   <td align="right">19kB</td>
   <td><tt>d9b0a9a020a20c3b02c1cadbbd7f4595b152c6d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kdbusaddons-5.24.0.tar.xz">kdbusaddons-5.24.0</a></td>
   <td align="right">33kB</td>
   <td><tt>d163a35ed9ab9e35d6a500524ae13979d94fb087</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kdeclarative-5.24.0.tar.xz">kdeclarative-5.24.0</a></td>
   <td align="right">163kB</td>
   <td><tt>9be8b8423105b53fb8a71f425b142a1414cadda8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kded-5.24.0.tar.xz">kded-5.24.0</a></td>
   <td align="right">35kB</td>
   <td><tt>216e7cca6acac83f3946e3deca90c6421aff2300</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kdesignerplugin-5.24.0.tar.xz">kdesignerplugin-5.24.0</a></td>
   <td align="right">87kB</td>
   <td><tt>1d3d35f1e6f68922565bde7aaf517e5ded8d09c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kdesu-5.24.0.tar.xz">kdesu-5.24.0</a></td>
   <td align="right">43kB</td>
   <td><tt>ea04fbdc6a3948702ec1e48cea469b5302a03c60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kdewebkit-5.24.0.tar.xz">kdewebkit-5.24.0</a></td>
   <td align="right">28kB</td>
   <td><tt>9543420c206c3e680fe3cda37ec5ec7f618032b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kdnssd-5.24.0.tar.xz">kdnssd-5.24.0</a></td>
   <td align="right">55kB</td>
   <td><tt>7cd1a7ed5121e531fb67b4b8f071fef9575995f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kdoctools-5.24.0.tar.xz">kdoctools-5.24.0</a></td>
   <td align="right">402kB</td>
   <td><tt>7913218e5844f48dae3d4fd8833ba9b0dcd64fba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kemoticons-5.24.0.tar.xz">kemoticons-5.24.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9282874fd2394726e6cc95d903cdff573b53293a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kfilemetadata-5.24.0.tar.xz">kfilemetadata-5.24.0</a></td>
   <td align="right">128kB</td>
   <td><tt>f0e3fbca22af3d7feebc3c77b5ca63d3dfa0d15f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kglobalaccel-5.24.0.tar.xz">kglobalaccel-5.24.0</a></td>
   <td align="right">79kB</td>
   <td><tt>4d0c7173ed2700724e175e18d8ab8bcf97d1a8a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kguiaddons-5.24.0.tar.xz">kguiaddons-5.24.0</a></td>
   <td align="right">38kB</td>
   <td><tt>993b9c32c8fce9f74df5281d502e97bdf9aaadb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/ki18n-5.24.0.tar.xz">ki18n-5.24.0</a></td>
   <td align="right">589kB</td>
   <td><tt>4dc681a9186a6423156213e62f7e489b62201730</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kiconthemes-5.24.0.tar.xz">kiconthemes-5.24.0</a></td>
   <td align="right">198kB</td>
   <td><tt>8a534e4703b79769fa53bbdf1ad9baef23db1df9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kidletime-5.24.0.tar.xz">kidletime-5.24.0</a></td>
   <td align="right">25kB</td>
   <td><tt>d73bae40552df28afff7ed1b2a73bea9c6e2fc67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kimageformats-5.24.0.tar.xz">kimageformats-5.24.0</a></td>
   <td align="right">199kB</td>
   <td><tt>d27bd6013fce85b5e6db11e405de2d0e564cb74a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kinit-5.24.0.tar.xz">kinit-5.24.0</a></td>
   <td align="right">115kB</td>
   <td><tt>34edb1e53245c3ae5b4ecc052373bc4cec0ebdbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kio-5.24.0.tar.xz">kio-5.24.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>0c84ea5775058be6ebafb49693b24d8c99babd29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kitemmodels-5.24.0.tar.xz">kitemmodels-5.24.0</a></td>
   <td align="right">378kB</td>
   <td><tt>a5b2ad7b85d77ad7385e8eae2487fc4dd8067277</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kitemviews-5.24.0.tar.xz">kitemviews-5.24.0</a></td>
   <td align="right">72kB</td>
   <td><tt>a84e105443847fa1c2f8aca6d926ebe6a3a0f263</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kjobwidgets-5.24.0.tar.xz">kjobwidgets-5.24.0</a></td>
   <td align="right">86kB</td>
   <td><tt>58280dfe98e335797b120deeebb402b42822a3e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/knewstuff-5.24.0.tar.xz">knewstuff-5.24.0</a></td>
   <td align="right">842kB</td>
   <td><tt>c23a55d1dda5f8e08dfdcfa9a92a3b3b8b0045c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/knotifications-5.24.0.tar.xz">knotifications-5.24.0</a></td>
   <td align="right">93kB</td>
   <td><tt>712e0922968fa05ececabb05a5ab6784b907a480</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/knotifyconfig-5.24.0.tar.xz">knotifyconfig-5.24.0</a></td>
   <td align="right">81kB</td>
   <td><tt>6214909bdffb9b73a5192d64c9416b246b136424</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kpackage-5.24.0.tar.xz">kpackage-5.24.0</a></td>
   <td align="right">106kB</td>
   <td><tt>c8d3933717c058d00303a904508c414108b45159</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kparts-5.24.0.tar.xz">kparts-5.24.0</a></td>
   <td align="right">150kB</td>
   <td><tt>2966e78f9ae49299541fde58ef5375c987ae9b80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kpeople-5.24.0.tar.xz">kpeople-5.24.0</a></td>
   <td align="right">57kB</td>
   <td><tt>f194f52ce1a65c7a1deb5d7dd44019d5b11dc481</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kplotting-5.24.0.tar.xz">kplotting-5.24.0</a></td>
   <td align="right">28kB</td>
   <td><tt>7c3d92e130497645fbe4535d2337b59bcf4bc6ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kpty-5.24.0.tar.xz">kpty-5.24.0</a></td>
   <td align="right">55kB</td>
   <td><tt>08fb36aedb8bf7df9281a4be75f5673fd108b23a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/krunner-5.24.0.tar.xz">krunner-5.24.0</a></td>
   <td align="right">65kB</td>
   <td><tt>c0d9cc33ea89d78bd31a29168ec8c14881d782a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kservice-5.24.0.tar.xz">kservice-5.24.0</a></td>
   <td align="right">263kB</td>
   <td><tt>c31c42f3b877fdc664140a78fb7ecfacb0b3d7e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/ktexteditor-5.24.0.tar.xz">ktexteditor-5.24.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>d2462450b4faf3663fed979a650f310b3be45a76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/ktextwidgets-5.24.0.tar.xz">ktextwidgets-5.24.0</a></td>
   <td align="right">299kB</td>
   <td><tt>88318ba02a1b57ac205771edc151d6e2d1952b17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kunitconversion-5.24.0.tar.xz">kunitconversion-5.24.0</a></td>
   <td align="right">606kB</td>
   <td><tt>4e1b3ca62f68f941d1e02fd34d43face6725dee3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kwallet-5.24.0.tar.xz">kwallet-5.24.0</a></td>
   <td align="right">286kB</td>
   <td><tt>58b191e9d10087d004a2a9ff1785f3b935ce1ca5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kwayland-5.24.0.tar.xz">kwayland-5.24.0</a></td>
   <td align="right">211kB</td>
   <td><tt>b22f4cc144833ef1d13a5518569ec6c1f2b12db0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kwidgetsaddons-5.24.0.tar.xz">kwidgetsaddons-5.24.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>b44a5270a75e38082de577a9342875ed5d73288f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kwindowsystem-5.24.0.tar.xz">kwindowsystem-5.24.0</a></td>
   <td align="right">161kB</td>
   <td><tt>d2843bd8c12f7b2df464a098b21bc9e151c50e7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kxmlgui-5.24.0.tar.xz">kxmlgui-5.24.0</a></td>
   <td align="right">852kB</td>
   <td><tt>12758266e670220a05913e8f022f92022c6049b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/kxmlrpcclient-5.24.0.tar.xz">kxmlrpcclient-5.24.0</a></td>
   <td align="right">27kB</td>
   <td><tt>e4484cb888d681d1bcf555a8d4a1024aa0c0d6f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/modemmanager-qt-5.24.0.tar.xz">modemmanager-qt-5.24.0</a></td>
   <td align="right">96kB</td>
   <td><tt>7e6d15a1860129f39aa60be66118ab8a11fd0e13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/networkmanager-qt-5.24.0.tar.xz">networkmanager-qt-5.24.0</a></td>
   <td align="right">153kB</td>
   <td><tt>675dd33194cae51f0fc0c60193eb99a848ac7e41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/oxygen-icons5-5.24.0.tar.xz">oxygen-icons5-5.24.0</a></td>
   <td align="right">222MB</td>
   <td><tt>efb9cf1a76b5c0822069086e0bf271faa8306f66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/plasma-framework-5.24.0.tar.xz">plasma-framework-5.24.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>71e96092fafe235ec1276529f2e9d88188b0f374</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/solid-5.24.0.tar.xz">solid-5.24.0</a></td>
   <td align="right">261kB</td>
   <td><tt>43b2ce3ecb059b89d9fc1b548b39eacda5dca7ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/sonnet-5.24.0.tar.xz">sonnet-5.24.0</a></td>
   <td align="right">275kB</td>
   <td><tt>0d6eaae446be9f3ffff6654daf501f2d8594ffe3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.24/threadweaver-5.24.0.tar.xz">threadweaver-5.24.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4c973d013b2275a8e9041d412cba10c061143808</tt></td>
</tr>

</table>
