@import "plasma-announcement-shared";

main li {
  font-size: 1.15rem;
}

.max-width-800 {
  max-width: 800px;
}
@media (max-width: 799.98px) {
  .max-width-800 {
    max-width: 100%;
  }
}

.highlight-grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas:
    "overview      krunner      fingerprint"
    "overview-desc krunner-desc fingerprint-desc";
}
.overview {
  grid-area: overview;
  padding-left: 5px;
  padding-right: 5px;
}
.overview-desc {
  grid-area: overview-desc;
}
.hl-krunner {
  grid-area: krunner;
  padding-left: 13px;
  padding-right: 13px;
}
.hl-krunner-desc {
  grid-area: krunner-desc;
}
.fingerprint {
  grid-area: fingerprint;
}
.fingerprint-desc {
  grid-area: fingerprint-desc;
}
.fingerprint, .hl-krunner, .overview {
  align-self: end;
  margin: 20px;
}
.fingerprint-desc, .hl-krunner-desc, .overview-desc {
  text-align: center;
  align-self: start;
  padding: 5px 15px;
}
@media (max-width: 767px) {
  .highlight-grid {
    display: flex;
    flex-direction: column;
  }
  .fingerprint, .hl-krunner, .overview {
    width: 100%;
    align-self: center;
    margin: 0;
    margin-top: 20px;
  }
}

.feature-video {
  width: 75%;
}
@media (max-width: 999px) {
  .feature-video {
    width: 100%;
  }
}
