{{/*
SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{ define "head-import" }}
{{ $style := resources.Get "scss/gear.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
{{- $version := .File.TranslationBaseName }}
{{- $patch := index (split $version ".") 2 | int }}
{{- $isBugfix := ne $patch 0 }}
{{- $image := "" }}
{{- if not $isBugfix }}
  {{- with .Params.hero_image }}
  {{- $image = printf "/announcements/gear/%s/%s" $version . }}
  {{- end }}
{{- else }}
  {{- if .Params.image }}
    {{- $major := index (split $version ".") 0 }}
    {{- $minor := index (split $version ".") 1 }}
    {{- $firstMinorPath := printf "/announcements/gear/%s.%s.0" $major $minor }}
    {{- if not (os.FileExists (printf "%s.md" $firstMinorPath)) }}
      {{- $firstMinorPath = printf "/announcements/gear/%s.%s" $major $minor }}
    {{- end }}
    {{- $firstMinor := .Sites.First.GetPage (printf "%s.md" $firstMinorPath) }}
    {{- if not $firstMinor.Params.hero_image }}
      {{- $firstMinorPath := "/announcements/gear/21.08.0" }}
      {{- $firstMinor = .Sites.First.GetPage (printf "%s.md" $firstMinorPath) }}
    {{- end }}
    {{- with $firstMinor.Params.hero_image }}
      {{- $image = printf "%s/%s" $firstMinorPath . }}
    {{- end }}
  {{- end }}
{{- end }}

{{- if $image }}
<figure style="background-image: url({{ $image }});" class="hero-image w-100" alt="{{ partial "fn/i18n_title" . }}" ></figure>
{{- end }}

<main class="container">
  <h1>{{ partial "fn/i18n_title" . }}</h1>
  <p>{{ partial "i18n_date.html" . }}</p>
  <br>

  {{ partial "rss_content.html" . }}

  {{- if not $isBugfix }}
  <h2>{{ i18n "compile-gear" }}</h2>
  {{- $version := .File.TranslationBaseName }}
  {{- $downloadLink := printf "https://download.kde.org/stable/release-service/%s/src" $version }}
  {{- $infoLink := printf "/info/releases-%s" $version }}
  <p>{{ partial "fn/i18n_args" (slice "compile-gear-desc" $version $downloadLink $infoLink) | markdownify }}</p>
  {{- end }}

  {{ partialCached "announcements/about_kde.html" . }}
  {{ partialCached "announcements/press_contacts.html" . }}
  {{ partial "copyright.html" . }}
</main>
{{ end }}
